<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<div th:replace="/userpage/fragment/head :: head"></div>
<link rel="stylesheet" href="/userpage/lib/css/index/index.css"/>
<link rel="stylesheet" href="/userpage/lib/css/serviceCount/optional/jiniPlay.css">
<script src="/userpage/app/serviceCount/optional/jiniPlay.js"></script>
<body>
    <ul class="skipnavi"><!--책갈피 역할-->
        <li><a href="#container">본문내용</a></li> 
    </ul>
    <!--wrap-->
    <div id="wrap">
        <!--header-->
        <div th:replace="${loginURL} :: menu"></div>
        <!--header 끝-->

        <!--container-->
        <div id="container">
            <div class="contentswrap">
                <div class="discount">
                    <p class="title_img"></p>
                    <p class="discount_title">기내 엔터테인먼트</p>
                    <p class="title_sub">여행지로 가는 하늘길이 더욱 즐거워집니다.</p>
                </div>
                <div class="img_jinitv"></div>
            </div>
        </div>
        <!-- container 끝-->
        <!-- 푸터-->
        <div th:replace="userpage/fragment/footer :: footer"></div>
        <!--푸터 끝-->
    </div>
    <!--wrap 끝-->
    <div class="modal"></div>
    <!--퀵 메뉴-->
    <div th:replace="userpage/fragment/quickmenu :: quickmenu"></div>
    <!--퀵 메뉴 끝-->
</body>
</html>