<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<div th:replace="userpage/fragment/head :: head"></div>
<link rel="stylesheet" href="/userpage/lib/css/mypage/termsAgree.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/userpage/app/mypage/termsAgree.js"></script>
<body>
<ul class="skipnavi"><!--책갈피 역할-->
    <li><a href="#container">본문내용</a></li>
</ul>
<!--wrap-->
<div id="wrap">
    <!--header-->
    <div th:replace="userpage/fragment/menu :: menu"></div>
    <!--header 끝-->
    <!--container-->
    <div id="container">
        <div class="termsAgree_container">
            <div class="termsAgree_top">
                <p>회원가입</p>
            </div>
            <div class="join_step">
<!--                <div class="step1">-->
<!--                    <p class="step_text">Step1</p>-->
<!--                    <p class="step_sub">약관동의 및 본인인증</p>-->
<!--                </div>-->
<!--                <div class="step2">-->
<!--                    <p class="step_text">Step2</p>-->
<!--                    <p class="step_sub">정보입력</p>-->
<!--                </div>-->
<!--                <div class="step3">-->
<!--                    <p class="step_text">Step3</p>-->
<!--                    <p class="step_sub">가입완료</p>-->
<!--                </div>-->
                <img src="/userpage/lib/img/join1.png" class="joinStepImg" alt="회원가입1"
                     oncontextmenu="return false" ondragstart="return false" onselectstart="return false"/>
            </div>
            <h3>약관동의</h3>
            <div class="termsAgree_main">
                <input type="hidden" name="ischeck" id="ischeck" value="n">
                <p><input type="checkbox" name="agreeAll" id="agreeAll"><label for="agreeAll">아래 약관 및 개인정보 수집, 이용 등에 모두 동의 합니다.</label></p>
                <ul class="joinAgree">
                    <li>
                        <input type="checkbox" name="term01" id="term01" class="terms"><label for="term01"><span>[필수]</span> 홈페이지 이용 약관</label>
                        <p class="btnTypeB term01">상세보기</p>
                    </li>
                    <li>
                        <input type="checkbox" name="term02" id="term02" class="terms"><label for="term02"><span>[필수]</span> 개인정보 수집 및 이용 관련 동의</label>
                        <p class="btnTypeB term02">상세보기</p>
                    </li>
                    <li>
                        <input type="checkbox" name="term03" id="term03" class="terms"><label for="term03"><span>[필수]</span> 개인정보 국외 이전에 관한 동의</label>
                        <p class="btnTypeB term03">상세보기</p>
                    </li>
                    <li>
                        <input type="checkbox" name="term04" id="term04" class="terms"><label for="term04"><span>[선택]</span> 개인정보 제3자 제공에 대한 안내</label>
                        <p class="btnTypeB">상세보기</p>
                    </li>
                    <li>
                        <input type="checkbox" name="term05" id="term05" class="terms"><label for="term05"><span>[선택]</span> 고유식별정보 수집 및 이용 관련 동의</label>
                        <p class="btnTypeB">상세보기</p>
                    </li>
                    <li>
                        <input type="checkbox" name="term06" id="term06" class="terms"><label for="term06"><span>[선택]</span> 마케팅 및 광고 활용 동의</label>
                        <p class="btnTypeB">상세보기</p>
                    </li>
                </ul>
            </div>
            <div class="confirm_box">
                <h3>본인인증</h3>
                <div class="confirm_main">
                    <div class="confirm_phone">
                        <input type="button" value="휴대폰 본인인증" name="phone" class="phone" onclick=phonecheck()>
                    </div>
                    <div class="confirm_ipin">
                        <input type="button" value="아이핀(I-PIN) 인증" name="ipin" class="ipin" onclick=ipincheck()>
                    </div>
                    <p class="text">진에어는 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』 제23조의2 (주민등록번호의 사용제한)에 의거하여 고객님의 주민등록번호를 수집·이용하지 않습니다. 이에 대한 본인확인인증수단으로 '휴대폰본인확인서비스'와 '아이핀(I-PIN)인증서비스'를 제공합니다.</p>
                    <ul class="caution">
                        <li>- 본인확인서비스는 한국모바일인증㈜ 에서 제공합니다.</li>
                        <li>- 타인의 개인정보를 도용할 경우 관계법에 의해 처벌될 수 있으며 서비스 이용에 제한이 있을 수 있습니다.</li>
                        <li>- 가입하신 고객이 개명한 경우 혹은 본인인증에 문제가 있는 경우 고객센터(1600-6200)로 문의 주시기 바랍니다.</li>
                    </ul>
                </div>
            </div>
            <div class="btn">
                <input type="button" class="btn_cancel" value="취소" onclick="location.href='joinGate.html'">
            </div>
        </div>
    </div>
</div>
<!--container 끝-->
<!-- 푸터-->
<div th:replace="userpage/fragment/footer :: footer"></div>
<!--푸터 끝-->
</div>
<!--wrap 끝-->
<!--퀵 메뉴-->
<!--퀵 메뉴 끝-->
<div class="modal">
</div>
<div class="false_modal">
    <div class="false_box">
        <p>필수 이용 약관에 동의하셔야<br>회원가입이 가능합니다.</p>
        <div class="btn">
            <input type="button" class="btn_cancel" value="취소">
        </div>
    </div>
</div>
<div class="confirm_modal1">
    <div class="confirm_modal_box">
        <div class="popTitle">
            <h1>홈페이지 이용약관</h1>
            <lable class="xbox"><img src="/userpage/lib/img/btn_xpop.png" alt="X"></lable>
        </div>
        <iframe src="/pages/index/termsAgree/popup1"></iframe>
    </div>
</div>
<div class="confirm_modal2">
    <div class="confirm_modal_box">
        <div class="popTitle">
            <h1>개인정보 수집 및 이용 관련 동의</h1>
            <lable class="xbox"><img src="/userpage/lib/img/btn_xpop.png" alt="X"></lable>
        </div>
        <iframe src="/pages/index/termsAgree/popup2"></iframe>
    </div>
</div>
<div class="confirm_modal3">
    <div class="confirm_modal_box">
        <div class="popTitle">
            <h1>개인정보 수집 및 이용 관련 동의</h1>
            <lable class="xbox"><img src="/userpage/lib/img/btn_xpop.png" alt="X"></lable>
        </div>
        <iframe src="/pages/index/termsAgree/popup3"></iframe>
    </div>
</div>
</body>
</html>