<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<div class="quickmanu" th:fragment="quickmenu">
    <div class="quickmanuwrapper">
        <a href="/pages/index">
            <div class="quick1 quickbox">예약하기</div>
        </a>
        <a href="/pages/index/mypageMain">
            <div class="quick2 quickbox">예약조회</div>
        </a>
        <a href="/pages/reservation/flight">
            <div class="quick3 quickbox">출도작 조회</div>
        </a>
        <a href="/pages/reservation/lcc">
            <div class="quick4 quickbox">최저가 조회</div>
        </a>
        <a href="/pages/index/mypagePoint">
            <div class="quick5 quickbox">마이포인트</div>
        </a>
        <a href="/pages/index/faqList">
            <div class="quick6 quickbox">FAQ</div>
        </a>
        <a href="/pages/index/addQna">
            <div class="quick7 quickbox">고객의 말씀</div>
        </a>
        <a class="quick_topback">
            <div class="quicktop" style="cursor:pointer">TOP</div>
        </a>
    </div>
</div>
</html>