    <html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<div th:replace="/adminpage/fragment/head :: head"></div>
    <link rel="stylesheet" href="/adminpage/lib/css/coupon/usecouponlist.css">
    <link rel="stylesheet" href="/adminpage/lib/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<body>
    <div id="wrap">
        <div th:replace="/adminpage/fragment/header :: header"></div>
        <div id="container">
            <div th:replace="/adminpage/fragment/leftmenu :: leftmenu(${code}, ${menuList})"></div>
            <div class="contents">
                <div class="contwrap">
                    <div class="search">
                        <p class="title">쿠폰 발행 조회</p>
                        <div class="search_box">
                            <input type="text" placeholder="쿠폰 발급내역을 입력하세요." id="text">
                            <input type="button" value="검색" id="searchText">
                        </div>
                    </div>  
                    <table id="itemList">
                        <colgroup>
                            <col width="5%">
                            <col width="30%">
                            <col width="5%">
                            <col width="15%">
                            <col width="15%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                        </colgroup>
                        <tr>
                            <td>NO</td>
                            <td>쿠폰명</td>
                            <td>할인율</td>
                            <td>발급일자</td>
                            <td>사용일자</td>
                            <td>Status</td>
                            <td>시작 코드</td>
                            <td>종료 코드</td>
                        </tr>
                        <tr v-for="dto in itemList">
                            <td>{{dto.crIndex}}</td>
                            <td>{{dto.crDesc}}</td>
                            <td>{{dto.crDiscount}}%</td>
                            <td>{{dto.crIssuanceDay.substr(0,10)}}</td>
                            <td>{{dto.crEndDay.substr(0,10)}}</td>
                            <td>{{dto.crStatus}}</td>
                            <td>{{dto.crStartCode}}</td>
                            <td>{{dto.crLastCode}}</td>
                        </tr>
                    </table>
                    <div class="footer">
                        <div class="center">
                            <table>
                                <tr id="showPage"></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/adminpage/app/coupon/usecouponlist.js"></script>
</html>