<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head -->
<div th:replace="userpage/fragment/head :: head"></div>
<script src="/userpage/app/optional/insurance/insurance3.js"></script>
<link rel="stylesheet" href="/userpage/lib/css/optional/insurance/insurance3.css"/>
<link rel="stylesheet" href="/userpage/lib/css/index/index.css"/>   // 메뉴
<!-- head 끝 -->
<body>
<ul class="skipnavi"><!--책갈피 역할-->
    <li><a href="#container">본문내용</a></li>
</ul>
    <!--wrap-->
    <div id="wrap">
        <!--header-->
        <div th:replace="${loginURL} :: menu"></div>
        <!--header 끝-->
        <!--container-->
        <div id="container">
            <div class="contentswrap">
                <div class="discount">
                    <p class="title_img"></p>
                    <p class="discount_title">ASSISTCARD 여행보험 토탈케어</p>
                    <p class="title_sub">전 세계 1,000만 명의 선택, 어시스트카드!<br>여행자보험 + 프리미엄 서비스로 안전하고 즐거운 여행 하세요.</p>
                </div>
                <div class="img_jinitv"></div>
                <div class="img_chubb"></div>
                <p class="chubb_text">
                    트래블 케어는 ASSISTCARD의 전문 의료지원, 긴급지원, 여행지원 서비스와<br>
                    국내보험사의 해외여행보험으로 구성되어있는 ASSISTCARD 통합 서비스입니다.
                </p>
                <div class="img_wrapper">
                    <div class="img_content">
                        <div class="contentimg1"></div>
                        <div class="contentnotice">
                            <p class="contentnotice_title">해외의료지원</p>
                            <p class="contentnotice_content">전문의 의료 조언<br>
                                의료비 지불보증<br>
                                현지 병원 예약<br>
                                의료 모니터링</p>
                        </div>
                    </div>
                    <div class="img_content">
                        <div class="contentimg2"></div>
                        <div class="contentnotice">
                            <p class="contentnotice_title">해외긴급지원</p>
                            <p class="contentnotice_content">긴급 의료이송<br>
                                인접국/본국 의료이송<br>
                                자녀 동반귀국 지원<br>
                                간병인 지원</p>
                        </div>
                    </div>
                    <div class="img_content">
                        <div class="contentimg3"></div>
                        <div class="contentnotice">
                            <p class="contentnotice_title">해외여행지원</p>
                            <p class="contentnotice_content">항공 지연 지원<br>
                                여권 분실 지원<br>
                                수하물 지연 지원<br>
                                24시간 긴급 의료통역</p>
                        </div>
                    </div>
                </div>
                <a href="https://www.acedirect.co.kr/servlets/contract/contractForward.ace?target=pc/contract/step01Overseas&cmd=Step01Command&layout=type2&inputGroupId=701241JINA" target="_blank" class="a_teg"><input type="button" value="ASSISTCART 여행보험 토탈케어 가입하기"></a>
                <div class="confirmation">
                    <div class="confirmation1">
                        <p>베이직 상품 제공 서비스 확인하기</p>
                    </div>
                    <div class="confirmation2">
                        <p>프리미엄 상품 제공 서비스 확인하기</p>
                    </div>
                </div>
                <table class="confirmationtable">
                    <tr>
                        <td>
                            <div class="confirmation_on1">
                                <p class="confirmation_ontitle">1. 베이직 해외의료지원 서비스</p>
                                <p class="confirmation_onsubtitle">현지 병원 안내/병원 예약 대행</p>
                                <p class="confirmation_oncont">현지 의료 기관의 위치, 전화번호 및 근무 시간을 안내하며, 현지 어시스트카드 제휴
                                    병원 진료예약을 도와드립니다.
                                </p>
                                <p class="confirmation_onsubtitle">긴급 의료 통역/입원 수속 대행</p>
                                <p class="confirmation_oncont">현지 병원 이용 시, 수속 또는 진료과정에서 병원관계자와 의사소통이 어려운 경우
                                    전화를 통해 24시간 긴급의료통역을 지원해 드리며, 입원 수속에 필요한 각종 절차를
                                    대행 진행합니다.
                                </p>
                                <p class="confirmation_onsubtitle">의료비 지불보증/제증명 수취</p>
                                <p class="confirmation_oncont">현지병원 의료비를 병원으로 직접 수납 해드림으로써 각종 보상서류를 챙겨
                                    보험사에 청구해야 하는 번거로움을 덜어드립니다.
                                </p>
                                <p class="confirmation_onsubtitle">보험금 청구대행/의료 모니터링</p>
                                <p class="confirmation_oncont">국내 제휴 보험사에 보험금 청구 대행 서비스를 제공하며, 입원한 고객님의
                                    의료상태를 지속적으로 점검합니다.
                                </p>
                                <p class="confirmation_ontitle">2. 해외 여행지원 서비스</p>
                                <p class="confirmation_onsubtitle">24시간 긴급통역</p>
                                <p class="confirmation_oncont">해외에서 긴급하게 통역이 필요한 경우 의사소통을 도와드립니다. 한국을 포함한
                                    전 세계 9개의 알람센터에서 근무중인 1,200명의 코디네이터가 영어를 비롯한 전
                                    세계 16개 언어를 지원합니다. (단, 영어 외 언어의 경우 준비 시간이 소요될 수 있습니다.)
                                </p>
                                <p class="confirmation_onsubtitle">항공기 지연 지원</p>
                                <p class="confirmation_oncont">한국에서 출발하는 당일에 항공기 운항이 취소 또는 지연 시 실시간 대체 항공편 안내
                                    및 예약을 도와 드리고, 일정 시간 이상 지연 시 비용보상 절차를 지원해 드립니다. 
                                </p>
                                <p class="confirmation_onsubtitle">수하물 지연 지원</p>
                                <p class="confirmation_oncont">전 세계 어느 국가에서든 수하물이 분실 혹은 지연된 경우 해당 항공사 및 공항과
                                    연계하여 수하물 위치 추적을 통해 소재를 파악하고, 원하시는 목적지에서 수령하실 수
                                    있도록 도와드립니다. 또한 일정 시간 이상 지연 시 비용보상 절차를 지원해 드립니다. 
                                </p>
                                <p class="confirmation_onsubtitle">해외 변호사 알선 </p>
                                <p class="confirmation_oncont">해외에서 변호사의 도움이 필요한 상황이 발생한 경우, 현지 변호사를
                                    알선해드립니다. 
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="confirmation_on2">
                                <p class="confirmation_ontitle">1. 프리미엄 해외의료지원 서비스</p>
                                <p class="confirmation_onsubtitle">전문의 의료 조언</p>
                                <p class="confirmation_oncont">해외여행 중 응급하게 의료진의 조언이 필요한 경우 어시스트카드 네트워크 의료진과
                                    24/7 의료 조언을 진행하실 수 있습니다. 응급여부를 확인 하기 위하여 1차적으로
                                    전문 간호사와 조언 후 전문의와 연결됩니다.                        
                                </p>
                                <p class="confirmation_onsubtitle">의료비 지불보증</p>
                                <p class="confirmation_oncont">어시스트카드 24시간 알람센터를 통해 병원 예약 후 진료를 받으시면,
                                    어시스트카드가 의료비를 병원으로 직접 수납 해드림으로써 각종 보상서류를 챙겨
                                    보험사에 청구해야 하는 번거로움을 덜어드립니다.
                                </p>
                                <p class="confirmation_onsubtitle">현지 병원 안내/병원 예약 대행</p>
                                <p class="confirmation_oncont">병원진료가 필요하실 때, 어시스트카드 24시간 알람센터로 연락만 주시면 고객님의
                                    증상에 따라 가장 적합한 인근지역의 병원으로 신속하게 예약해 드립니다.
                                </p>
                                <p class="confirmation_onsubtitle">의료 모니터링</p>
                                <p class="confirmation_oncont">입원 중 문제 발생 시 신속한 대처를 위해 입원한 고객님의 의료상태를 지속적으로
                                    점검하고, 24시간 알람센터 에서 한국에 있는 가족(보호자)에게 상황을 수시로 알려드립니다.
                                </p>
                                <p class="confirmation_onsubtitle">유해송환</p>
                                <p class="confirmation_oncont">해외 체류 중 사망 시 유해를 한국으로 송환하기 위한 절차를 지원하며 유해송환에
                                    필요한 제반비용, 주거국(한국) 공항의 입국장까지 운송 비용을 지원 해 드립니다.
                                </p>
                                <p class="confirmation_ontitle">2. 해외긴급지원 서비스</p>
                                <p class="confirmation_onsubtitle">응급 의료이송</p>
                                <p class="confirmation_oncont">응급 상황 시 치료를 위해 현지국가 내의 의료시설로 앰뷸런스
                                    차량 또는 앰뷸런스 헬기 이송은 물론 해당 국가에서 치료가 적합하지 않으면 치료가 가능한
                                    인접국의 의료시설로 이송 해 드립니다.(앰뷸런스 차량/앰뷸런스 헬기/에어 앰뷸런스/일반 항공편 지원)
                                </p>
                                <p class="confirmation_onsubtitle">긴급 의료본국 송환</p>
                                <p class="confirmation_oncont">심각한 질병이나 사고로 인하여 치료를 위한 주거국(한국)으로 송환이 필요 시
                                    후송절차를 지원합니다. (에어 앰뷸런스/일반 항공편 지원)
                                </p>
                                <p class="confirmation_onsubtitle">자녀송환</p>
                                <p class="confirmation_oncont">만 15세 미만 자녀와 해외 체류 중 심각한 질병이나 사고로 자녀를 돌볼 수 없을  경우,
                                    주거국(한국)으로 동반귀국을 위한 친인척의 편도 항공편을 지원합니다.
                                    (일반 항공 이코노미 클래스 지원)
                                </p>
                                <p class="confirmation_onsubtitle">간병인 지원</p>
                                <p class="confirmation_oncont">현지 병원 입원(단, 10일 이상) 시, 간병을 위한 가족·친인척의 편도 항공권과 숙박을
                                    지원해드립니다. (일반 항공 이코노미 클래스 지원)
                                </p>
                                <p class="confirmation_ontitle">3. 해외여행지원 서비스</p>
                                <p class="confirmation_onsubtitle">24시간 긴급통역</p>
                                <p class="confirmation_oncont">해외에서 긴급하게 통역이 필요한 경우 의사소통을 도와드립니다.
                                    한국을 포함한 전 세계 9개의 알람센터에서 근무 중인 1,200명의 코디네이터가 영어를
                                    비롯한 전 세계 16개 언어를 지원합니다. (단, 영어 외 언어의 경우 준비 시간이 소요될 수 있습니다.)
                                </p>
                                <p class="confirmation_onsubtitle">항공기 지연 지원</p>
                                <p class="confirmation_oncont">한국에서 출발하는 당일에 항공기 운항이 취소 또는 지연 시 실시간 대체 항공편 안내
                                    및 예약을 도와 드리고, 일정 시간 이상 지연 시 비용보상 절차를 지원해 드립니다.  
                                </p>
                                <p class="confirmation_onsubtitle">수하물 지연 지원</p>
                                <p class="confirmation_oncont">전세계 어느 국가에서든 수하물이 분실 혹은 지연 된 경우 해당 항공사 및 공항과
                                    연계하여 수하물 위치 추적을 통해 소재를 파악하고, 원하시는 목적지에서 수령하실 수
                                    있도록 도와드립니다. 또한 일정 시간 이상 지연 시 비용보상 절차를 지원해 드립니다. 
                                </p>
                                <p class="confirmation_onsubtitle">여권분실 지원</p>
                                <p class="confirmation_oncont">해외에서 여권을 분실하거나 도난 당한 경우 여권 재발행(또는 여행증명서) 방법 안내
                                    및 발행 비용을 지원해드립니다. 
                                </p>
                                <p class="confirmation_onsubtitle">해외 변호사 알선</p>
                                <p class="confirmation_oncont">해외에서 변호사의 도움이 필요한 상황이 발생한 경우, 현지 변호사를 알선해드립니다. 
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- container 끝-->
        <!-- 푸터-->
        <div th:replace="userpage/fragment/footer :: footer"></div>
        <!--푸터 끝-->
    </div>
    <!--wrap 끝-->
    <div class="modal"></div>
<!--퀵 메뉴-->
<div th:replace="userpage/fragment/quickmenu :: quickmenu"></div>
<!--퀵 메뉴 끝-->
</body>
</html>