@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight:normal;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

/*skipnavi*/
.skipnavi{
    position: absolute;
    left: 0;
    top: -50px;
    text-indent: -9999px;
    font-size: 0;
    width: 100%;
    z-index: 999;
}
.skipnavi>li a:focus, .skipnavi>li a:active{
    position: absolute;
    left: 0;
    top: 50px;
    display: block;
    width: 100%;
    padding: 5px;
    text-align: center;
    text-indent: 0px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f2f2f2;
}
/*skipnavi 끝*/

/*전체 페이지*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'NanumBarunGothic';
    word-break: keep-all;
}
ul, li {
    list-style: none;
    text-decoration: none;
    word-break: keep-all;
    /* white-space: nowrap; */
}
ul {
    margin-bottom: 2px;
}
li {
    margin: 0.5%;
}
a{text-decoration: none;}
a:link{color:#444;}
a:visited{color:#444;}

::selection {
    background-color: #BDD600;
}
body{
    height: 1; 
    color: #444;
    white-space: normal; 
    word-wrap: break-word; 
    line-height: 1;
}
#wrap{
    margin: 0;
    padding: 0;
}

/* 헤더 */
#header{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
#header .header_sub{
    border-bottom: 1px solid rgba(128, 128, 128, 0.190);
    height: 91px;
    margin: 0 auto;
    background-color: white;
}
#header .header_sub .header_wrap{
    width: 1180px;
    margin: 0 auto;
}
#header .logo{
    box-sizing: border-box;
    margin: 10px 0;
    padding: 0;
    width: 200px;
    height: 50px;
    display: inline-block;
}
#header .logo img{
    position: relative;
    right: -5px;
    top: -10px;
}
#header .login{ 
    box-sizing: border-box;
    display: inline;
    position: relative;
    left: -25px;
    top: 35px;
    margin: 0;
    padding: 0;
    float: right;
}
#header .login a{
    margin-right: 12px;
}
#header .login a:link{
    color: rgb(107, 107, 107);
}
#header .login a:visited{
    color: rgb(107, 107, 107);
}
#header .login > li{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: rgb(107, 107, 107);
    letter-spacing: 1px;
}
#header .login > li > a{
    display: inline-block;
}
#header .login > li > p span:nth-child(1){
    letter-spacing: 1px;
}
#header .login > li > span:nth-child(2){
    font-size: 11px;
    font-weight: 200;
    color: rgb(214, 214, 214);
}
#header .login > li .lang{
    margin-left: 17px;
    display: inline-block;
}
#header .login > li .lang_img{
    display: inline-block;
    background: url(./index_img/down.png) no-repeat right;
    background-size: 13px;
    width: 13px;
    height: 13px;
    position: relative;
    left: 9px;
    top: 3px;
}
#header nav{
    position: fixed;
    top: 47px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 600px;
}
#header nav .nav_all{
    float: left;
    position: relative;
    width: 600px;
    top: -10px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header nav .nav_all li{
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    margin: 0 20px;
    box-sizing: border-box;
    padding-bottom: 30px;
}
#header nav .nav_all > .open1{
    border-bottom: none;
    width: 54px;
    position: relative;
    left: 5px;
    text-align: center;
}
#header nav .nav_all > .open2{
    border-bottom: none;
    position: relative;
    left: 14px;
}
#header nav .nav_all > .open3{
    border-bottom: none;
    width: 73px;
    position: relative;
    left: 22px;
    text-align: center;
}
#header nav .nav_all > .open4{
    border-bottom: none;
    position: relative;
    left: 29px;
}
#header nav .nav_all > .open5{
    border-bottom: none;
    position: relative;
    left: 35px;
}
/* 서브 네비 시작 */
#header .sub_nav{
    display: none;
    clear: both;
    z-index: 100;
    position: absolute;
    background-color: white;
    width: 100%;
    margin: 0 auto;
}
#header .sub_nav > .subnav_warp .subNav_title{
    margin-top: 32px;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
}
#header .sub_nav > .subnav_warp{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    width: 1180px;
    height: 100%;
}
#header .sub_nav > .subnav_warp > div{
    display: inline-block;
    border-left: 1px solid rgba(128, 128, 128, 0.190);
    text-align: center;
}
#header .sub_nav > .subnav_warp > div:nth-child(1){
    position: relative;
    border-left: none
}
#header .sub_nav > .subnav_warp > div > a{
    font-size: 14px;
    font-weight: 600;
    display: block;
    line-height: 28px;
    letter-spacing: -1px;
}
#header .sub_nav{
    border-bottom: 1px solid rgba(128, 128, 128, 0.190);
}
#header .reservation{
    height: 257px;
}
#header .service{
    height: 257px;
}
#header .benefit{
    height: 230px;
}
#header .point{
    height: 110px;
}
#header .optional{
    height: 230px;
}
#header .reservation > .subnav_warp > div{
    width: 20%;
}
#header .service > .subnav_warp > div{
    width: 33.3%;
}
#header .benefit > .subnav_warp > div{
    width: 50%;
}
#header .point > .subnav_warp > div{
    width: 33.3%;
}
#header .optional > .subnav_warp > div{
    width: 16.6%;
}
/* 서브 네비 끝 */

/* container */
.cursor {
    cursor: pointer;
}
#container {
    position: relative;
    top: 100px;
    height: 2700px;
}
#container > .contentswrap {
    width: 1180px;
    padding: 30px;
    margin: auto;
    height: 50px;
    letter-spacing: .8px;
}

#container > .contentswrap > .discount {
    letter-spacing: 1.2px;
    padding: 20px;
}

#container > .contentswrap > .discount > .discount_title {
    font-size: 2.8em;
    font-weight: 600;
    color: rgb(102, 30, 67);
}

#container > .contentswrap > .discount > .title_sub {
    font-size: 1.45em;
    font-weight: 600;
    margin-top: 25px;
    line-height: 30px;
    letter-spacing: 1.2px;
}

#container > .contentswrap > .discount > .title_img {
    background: url(../img/icon_top.png) no-repeat center;
    background-size: 88%;
    display: inline;
    width: 170px;
    height: 100px;
    float: right;
    position: relative;
    right: 19px;
    bottom: 5px;
}

#container > .contentswrap table {
    border-collapse: collapse;
    /* border-spacing: 0px; */
    width: 100%;
    margin-top: 15px;
    box-shadow:  3px 5px 3px rgb(185, 185, 185);
    line-height: 1.2;
    font-size: 16px;
    color: #444;
    border-top: 1px solid rgb(102, 30, 67);
}

#container > .contentswrap > .discount_kind .cursor {
    cursor:pointer;
}

#container > .contentswrap > .discount_kind th {
    border-spacing: 0px;
    padding: 10px;
    height: 100%;
    font-weight: bold;
    vertical-align: middle;
    width: 250px;
    text-align: center;
}

#container > .contentswrap .discount_kind th.dis_card {
    color: #fff;
    background-color: rgb(102, 30, 67);
}

/* 제휴 카드 */
.card{
    width: 100%;
    margin-top: 45px;
}
.card > .card_title{
    font-size: 24px;
    font-weight: 900;
}
.card > .BCcard{
    margin-top: 25px;
    width: 100%;
    height: 350px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.BCcard_left{
    float: left;
    width: 27%;
    font-size: 23px;
    font-weight: bolder;
}
.BCcard_left > .BCcard_img{
    margin-top: 10px;
    background: url(../img/BCcard.png) no-repeat left;
    background-size: 100%;
    border: 1px solid rgb(219, 219, 219);
    width: 240px;
    height: 150px;
    position: relative;
    left: 2px;
}
.BCcard_left > input[type=button]{
    width: 140px;
    height: 40px;
    border: none;
    background-color: #BDD600;
    margin-top: 20px;
    margin-left: 55px;
    cursor: pointer;
    font-weight: 600;
}
.BCcard_right{
    width: 73%;
    float: right;
    font-size: 14px;
    font-weight: bold;
}
.BCcard_right p{
    margin-bottom: 5px;
}
.BCcard_right .card_minititle{
    font-size: 17px;
    font-weight: bolder;
    margin-bottom: 18px;
}
.BCcard_right .last_cnt{
    margin-bottom: 18px;
}
.BCcard_right .sub_cnt{
    margin-left: 10px;
}
.card > .KBcard{
    margin-top: 70px;
    width: 100%;
    height: 380px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.KBcard_left{
    float: left;
    width: 27%;
    font-size: 23px;
    font-weight: bolder;
}
.KBcard_left > .KBcard_img{
    margin-top: 10px;
    background: url(../img/KBcard.png) no-repeat left;
    background-size: 100%;
    border: none;
    width: 240px;
    height: 150px;
    position: relative;
    left: 2px;
}
.KBcard_left > input[type=button]{
    width: 140px;
    height: 40px;
    border: none;
    background-color: #BDD600;
    margin-top: 20px;
    margin-left: 55px;
    cursor: pointer;
    font-weight: 600;
}
.KBcard_right{
    width: 73%;
    float: right;
    font-size: 13px;
    font-weight: bold;
}
.KBcard_right p{
    margin-bottom: 5px;
}
.KBcard_right .card_minititle{
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 18px;
}
.KBcard_right .last_cnt{
    margin-bottom: 18px;
}
.KBcard_right .sub_cnt{
    margin-left: 10px;
}
.KBcard_right .KBcard_tit{
    font-size: 23px;
    font-weight: bolder;
    margin-bottom: 8px;
}
.visacard{
    margin-top: 70px;
    width: 100%;
    height: 1100px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.visacard .visacard_top{
    font-size: 24px;
    font-weight: bolder;
}
.visacard .visacard_top > p{
    margin-bottom: 10px;
}
.visacard_top > p.visa_tit{
    font-size: 29px;
    font-weight: bolder;
    margin-bottom: 30px;
}
.visacard .visacard_top > p:nth-child(2){
    margin-bottom: 20px;
    font-size: 22px;
}
.visacard .visacard_top > p:nth-child(4){
    margin-bottom: 20px;
}
.visacard .visacard_top > p:nth-child(5){
    margin-bottom: 20px;
    font-weight: 400;
}
.visacard .visacard_top > input[type=button]{
    width: 140px;
    height: 40px;
    border: none;
    background-color: #BDD600;
    cursor: pointer;
    font-weight: 600;
}
.visacard .visacard_mid{
    margin-top: 35px;
}
.visacard .visacard_mid p{
    font-size: 18px;
    font-weight: bolder;
}
.visacard .visacard_mid .visacard_img{
    margin-top: 15px;
    background: url(../img/visacard.png) no-repeat left;
    background-size: 100%;
    border: none;
    width: 100%;
    height: 500px;
}
.visacard_bottom{
    margin-top: 0px;
}
.visacard_bottom p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.visacard_bottom .card_minititle{
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 18px;
}
.visacard_bottom .last_cnt{
    margin-bottom: 18px;
}
.notice_bottom{
    margin-top: 20px;
    width: 100%;
    height: 300px;
}
.notice_bottom p{
    padding-left: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}
/* 환율 우대 */
.exchange{
    width: 100%;
    margin-top: 45px;
    display: none;
}
.exchange > .hanabank{
    margin-top: 25px;
    width: 100%;
    height: 1070px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.hanabank_left{
    float: left;
    width: 27%;
    font-size: 23px;
    font-weight: bolder;
}
.hanabank_left > .hanabank_img{
    background: url(../img/hana.PNG) no-repeat left;
    background-size: 90%;
    border: none;
    width: 240px;
    height: 80px;
    position: relative;
    left: 2px;
}
.hanabank_right{
    width: 73%;
    float: right;
    font-size: 14px;
    font-weight: bold;
}
.hanabank_right p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.hanabank_right .bank_minititle{
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 18px;
}
.hanabank_right .bank_tit{
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 18px;
}
.hanabank_right .banklast_cnt{
    margin-bottom: 18px;
}
.hanabank_right .sub_cnt{
    margin-left: 10px;
}
.hanabank_right .bank_tit2{
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 8px;
}
.hanabank_right .sub_cnt2{
    margin-left: 135px;
}
.hanabank_right .sub_cnt3{
    margin-left: 14px;
}
.hanabank_right .sub_cnt4{
    margin-left: 14px;
    margin-bottom: 20px;
}
.hanabank_right .gapper{
    font-size: 16px;
    font-weight: bolder;
}
.hanabank_right .col{
    text-align: justify;
    padding: 30px;
    text-align: center;
    background-color: #f2f2f2;
    column-count: 3;
    column-gap: 30px;
    column-rule: 2px solid rgba(128, 128, 128, 0.3);
    font-size: 14px;
    font-weight: 600;
}
.hanabank_right .col p{
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 10px;
}
.hanabank_right .col span{
    line-height: 14px;
}
.hanabank_right .font_blue{
    color: rgb(0, 174, 255);
}
.hanabank_right .notice_top{
    margin-top: 20px;
}
/* 우리 */
.exchange .woribank{
    margin-top: 50px;
    width: 100%;
    height: 400px;
}
.woribank_left{
    float: left;
    width: 27%;
    font-size: 23px;
    font-weight: bolder;
}
.woribank_left > .woribank_img{
    background: url(../img/wori.PNG) no-repeat left;
    background-size: 90%;
    border: none;
    width: 240px;
    height: 80px;
    position: relative;
    left: 2px;
}
.woribank_left > input[type=button]{
    width: 160px;
    height: 40px;
    border: none;
    background-color: #BDD600;
    margin-top: 20px;
    margin-left: 55px;
    cursor: pointer;
    font-weight: 600;
}
.woribank_right{
    width: 73%;
    float: right;
    font-size: 13px;
    font-weight: bold;
}
.woribank_right p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
.woribank_right .bank_minititle{
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 18px;
}
.woribank_right .bank_tit{
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 18px;
}
.woribank_right .banklast_cnt{
    margin-bottom: 18px;
}
.woribank_right .col{
    text-align: justify;
    padding: 30px;
    text-align: center;
    background-color: #f2f2f2;
    column-count: 3;
    column-gap: 30px;
    column-rule: 2px solid rgba(128, 128, 128, 0.3);
    font-size: 14px;
    font-weight: 600;
}
.woribank_right .col p{
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 10px;
}
.woribank_right .col span{
    line-height: 14px;
}
/* 무이자 */
.no_interest{
    width: 100%;
    margin-top: 45px;
    display: none;
}
#container .no_interest > .no_interestWrapper table{
    margin: 25px 0px;
    width: 100%;
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-collapse: collapse;
    font-size: 16px;
    font-weight: bold;
    box-shadow: none;
}
#container .no_interest .no_interestWrapper table tr{
    height: 66px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
#container .no_interest .no_interestWrapper table tr:nth-child(1){
    background-color: #F2F2F2;
}
#container .no_interest .no_interestWrapper table td{
    border-right: 0.7px solid rgba(128, 128, 128, 0.3);
}
#container .no_interest .no_interestWrapper table td:last-child{
    border-right: none;
}
.no_interest .no_interestWrapper p{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.no_interest .no_interestWrapper .sub_cnt3{
    margin-left: 15px;
}
.no_interest .no_interestWrapper .bank_tit{
    font-size: 24px;
    font-weight: bolder;
    margin: 50px 0px 18px;
}
.no_interest .no_interestWrapper .font_blue{
    color: rgb(0, 174, 255);
    text-decoration: underline;
}
.no_interest .no_interestWrapper .font_blue::before{
    content: '※ ';
}

/*푸터*/
#footerCont {
    width: 100%;
    background-color: rgb(233, 233, 233);
    z-index: 10;
    overflow: hidden;
}
/*위쪽 푸터*/
#foot_topwraper{
    width: 100%;
    height: 120px;
    background-color: rgb(248, 248, 248);
}
#foot_top {
    width: 1180px;
    margin: 0 auto;
}
#top_menu {
    width: 80%;
    height: 100%;
    padding: 20px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
}
.menu_wrap {
    width: 100%;
    font-size: 12px;
    font-weight: 900;
    margin-top: 7px;
    padding-top: 3px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    word-break: keep-all;
    white-space: wrap;
}
.men_tit {
    font-size: 16px;
    display: inline-block;
    width: 70px;
    height: 20px;
    padding: 5px;
    padding-left: 5px
    !important;
    white-space: nowrap;
    margin-right: 87px;
}
.horiz {
    width: 1000px;
    display: flex;
    flex-wrap: nowrap;
    font-weight: 600;
    color: rgb(80, 80, 80);
    word-break: keep-all;
    white-space: nowrap;
}
.men_tit a{
    font-weight: bolder;
    color: black
    !important;
}
.f_black b{
    color: black !important;
    font-weight: bolder;
    font-size: 15px
    !important;
    position: relative;
    right: 4px;
}
.horiz li {
    margin-right: 27px;
}

/*아래쪽 푸터*/
#foot_bottwraper{
    width: 100%;
}
#foot_bott {
    width: 1180px;
    height: 225px;
    margin: 0 auto;
    font-size: 11px;
    font-weight: 600;
    display: flex;
}
#bott_menu {
    width: 100%;
    height: 100%;
    padding: 19px 0px 20px 13px;
    display: inline-block;
}
#app_ico {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
    width: 730px;
    white-space: nowrap;
    line-height: 40px;
    float: left;
    margin-left: 7px;
    padding-top: 5px;
}
#app_ico > ul {
    display: flex;
    align-content: center;
}
#app_ico > ul > li{
    margin-right: 5px;
}
.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-indent: -9999px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(248, 248, 248);
}
.Sicon .twit {
    background-image: url('../../../../index_img/twitter.png');
    background-size: 70%;    opacity: 0.7;
    margin-left: 10px
    !important;
}
.Sicon .faceb {
    background-image: url('../../../../index_img/face.png');
    background-size: 50%;    opacity: 0.8;
    margin-left: 4px
}
.Sicon .youtub {
    background-image: url('../../../../index_img/youtube.png');
    background-size: 45%;   opacity: 0.6;
    margin-left: 4px
}
.Sicon .insta {
    background-image: url('../../../../index_img/insta.png');
    background-size: 60%;    opacity: 0.8;
    margin-left: 4px
}
.Sicon .blog {
    background-image: url('../../../../index_img/blog.PNG');
    background-size: 140%;
    margin-left: 4px
}
.Aicon_txt {
    font-size: 12px;
    line-height: 30px;
    margin-left: 40px;
}
.Sicon .site {
    margin-left: 5px;
}
.site .Aicon_txt {
    margin-left: 0;
    line-height: 35px;
    font-weight: 900;
    font-size: 14px;
}
.sit {
    margin-left: 10px;
    background-image: url('../../../../index_img/site.PNG');
    background-size: 140%;
}
.Aicon img {
    margin-top: -3px;
    height: 36px;
}
.Aicon img:nth-child(2) {
    margin-top: -7px;
    height: 35px;
}  
#info {
    padding: 7px;
    width: 65%;
    padding-top: 10px;
    display: inline-block;
}
#info ul {
    width: 100%;
}
#info ul li {
    margin-bottom: 10px;
}
#info ul > li:first-child {
    margin-bottom: 25px;
}
.small_txt {
    font-size: 10px;
    color: rgb(85, 85, 85);
    font-weight: bold;
}
.sub_txt {
    font-size: 16px;
    color: rgb(85, 85, 85);
    font-weight: bold;
}
.pdiv {
    display: inline-block;
}
.pdiv::before {
    content: " | ";
    color: rgb(198, 198, 198);
    margin: 3px;
    font-weight: bold;
}
.small_txt .pdiv::before {
    content: " | ";
    color: rgb(198, 198, 198);
    font-size: 10px;
    margin: 2px;
}

/*뉴스레터*/
#news {
    margin-top: 15px;
    float: right;
    margin-right: 25px;
}
.mail_box {
    display: flex;
    align-content: center;
    padding: 0;
    margin-top: 10px;
}
.mail_box input[type="text"] {
    width: 327px;
    height: 45px;
    padding: 13px;
    padding-top: 15px;
    border: none;
    font-size: 20px;
}
.mail_box input[type="text"]:focus {
    outline: none;
}
.mail_box input[type="text"]::placeholder {
    font-size: 20px;
    color: rgb(170, 179, 194);
}
.mail_box input[type="submit"] {
    position: relative;
    width: 50px;
    height: 45px;
    padding: 13px;
    left: -15px;
    background-image: url('../../../../index_img/btn_srch.gif');
    background-position: center;
    padding-top: 20px;
    border: none;
    font-size: 0;
}
#news img {
    margin-left: 79%;
    margin-top: 16px;
}
/*뉴스레터 끝*/
/* 모달 */
.modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 퀵메뉴 */
.quickmanu{
    display: block;
    position: fixed;
    z-index: 100;
    top: 15%;
    right: 8px;
    width: 110px;
    height: 470px;
    text-align: center;
    border: none;
    background-color: #fafafa;
    box-shadow: 2px 2px 2px rgb(102, 30, 67, 0.3);
    border: 2px solid rgb(102, 30, 67);
}
.quickmanu .quickbox{
    width: 90px;
    height: 60px;
    border-bottom: 1px solid #ccc;
    margin: 0px auto;
    padding-top: 45px;
    font-size: 12px;
    font-weight: bolder;
}
.quick1{
    background: url(../img/quick_1.png)no-repeat center;
    background-size: 55%;
    background-position: 50% 20%;
}
.quick2{
    background: url(../img/quick_2.png)no-repeat center;
    background-size: 48%;
    background-position: 50% 20%;
}
.quick3{
    background: url(../img/quick_3.png)no-repeat center;
    background-size: 55%;
    background-position: 50% 25%;
}
.quick4{
    background: url(../img/quick_4.png)no-repeat center;
    background-size: 50%;
    background-position: 50% 20%;
}
.quick5{
    background: url(../img/quick_5.png)no-repeat center;
    background-size: 45%;
    background-position: 50% 20%;
}
.quick6{
    background: url(../img/quick_6.png)no-repeat center;
    background-size: 58%;
    background-position: 50% 20%;
}
.quick7{
    background: url(../img/quick_7.png)no-repeat center;
    background-size: 50%;
    background-position: 50% 20%;
}
.quick_topback{
    margin: 0px auto;
    display: inline-block;
    width: 108px;
    height: 48px;
    border: 1px solid rgb(102, 30, 67);
    background-color: rgb(102, 30, 67);
}
.quicktop{
    background: url(../img/quick_up.png)no-repeat center;
    background-size: 27%;
    width: 100px;
    height: 20px;
    margin: 0px auto;
    padding-top: 25px;
    font-size: 14px;
    font-weight: bolder;
    color: #fff;
}