<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<div th:replace="/userpage/fragment/head :: head"></div>
<link rel="stylesheet" href="/userpage/lib/css/serviceCount/airport/arrivalcard.css">
<script src="/userpage/app/serviceCount/airport/arrivalcard.js"></script>

    <body>
        <ul class="skipnavi">
            <!--책갈피 역할-->
            <li>
                <a href="#container">본문내용</a>
            </li>
        </ul>
        <!--wrap-->
        <div id="wrap">
            <!--header-->
            <div th:replace="${loginURL} :: menu"></div>
            <!--header 끝-->

            <!-- container -->
            <div id="container">
                <div class="contentswrap">
                    <div class="arrivalcard">
                        <p class="title_img"></p>
                        <p class="arv_title depth5_8 heading">입국신고서 작성 안내</p>
                        <p class="title_sub">진에어가 취항하는 지역의 입국신고서 작성 방법을 안내해 드립니다.</p>
                        <p class="title_sub">예약 정보를 바탕으로 입국신고서 샘플 이미지를 미리보기 하실 수도 있습니다.</p>
                    </div>
                    <div class="arrivalcard_kind">
                        <table>
                            <tr>
                                <th class="arv1 cursor">일본</th>
                                <th class="arv2 cursor">중국</th>
                                <th class="arv3 cursor">홍콩</th>
                                <th class="arv4 cursor">괌</th>
                                <th class="arv5 cursor">태국</th>
                                <th class="arv6 cursor">필리핀</th>
                                <th class="arv7 cursor">라오스</th>
                                <th class="arv8 cursor">기타 지역</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="arvCont1" class="arvCont tabCont" style="display: block;">
                    <p class="coution typeC">"일본 입국시, 세관신고서를 함께 작성하여 제출하셔야 합니다.</p>
                    <div class="landingCardInfo">
                        <div class="formWrite">
                            <div class="photo">
                                <img
                                    src="//images.jinair.com/images/ready/img_card_jpn.jpg"
                                    alt="일본 입국신고서 이미지/1.영문 성, 2.영문 이름, 3. 생년월일, 4. 현주소(국가), 5. 현주소(도시), 6. 방문 목적, 7. 항공기 편명, 8. 여행 기간, 9. 일본 주소(호텔명), 10. 전화번호/이미지에 표시된 번호 항목">
                            </div>
                            <ol class="guide">
                                <li>
                                    <em class="num">1</em>영문 성</li>
                                <li>
                                    <em class="num">2</em>영문 이름</li>
                                <li>
                                    <em class="num">3</em>생년월일</li>
                                <li>
                                    <em class="num">4</em>현주소(국가)</li>
                                <li>
                                    <em class="num">5</em>현주소(도시)</li>
                                <li>
                                    <em class="num">6</em>방문 목적</li>
                                <li>
                                    <em class="num">7</em>항공기 편명</li>
                                <li>
                                    <em class="num">8</em>체제 예정 기간</li>
                                <li>
                                    <em class="num">9</em>일본 현지 주소</li>
                                <li>
                                    <em class="num">10</em>전화번호</li>
                                <li>
                                    <em class="num">11</em>서명</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div id="arvCont2" class="arvCont tabCont" style="display: none;">
                    <div class="landingCardInfo">
                        <div class="formWrite">
                            <div class="photo">
                                <img
                                    src="//images.jinair.com/images/ready/img_card_chn.jpg"
                                    alt="중국 입국신고서 이미지/1. 영문 성, 2. 영문 이름, 3. 여권 번호, 4. 생년월일, 5. 성별, 6. 항공기 편명, 7. 국적, 8. 중국내 주소, 9. 방문 목적, 10. 비자 번호, 11. 비자 발급 지역/이미지에 표시된 번호 항목">
                            </div>
                            <ol class="guide">
                                <li>
                                    <em class="num">1</em>영문 성</li>
                                <li>
                                    <em class="num">2</em>영문 이름</li>
                                <li>
                                    <em class="num">3</em>여권 번호</li>
                                <li>
                                    <em class="num">4</em>생년월일</li>
                                <li>
                                    <em class="num">5</em>성별</li>
                                <li>
                                    <em class="num">6</em>항공기 편명</li>
                                <li>
                                    <em class="num">7</em>국적</li>
                                <li>
                                    <em class="num">8</em>중국 현지 주소</li>
                                <li>
                                    <em class="num">9</em>방문 목적</li>
                                <li>
                                    <em class="num">10</em>비자 번호</li>
                                <li>
                                    <em class="num">11</em>비자 발급 지역</li>
                                <li>
                                    <em class="num">12</em>서명</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div id="arvCont3" class="arvCont tabCont" style="display: none;">
                    <div class="landingCardInfo">
                        <div class="formWrite">
                            <div class="photo">
                                <img
                                    src="//images.jinair.com/images/ready/img_card_cht.jpg"
                                    alt="홍콩 입국신고서 이미지/1.영문 성, 2.영문 이름, 3. 성별, 4. 여권 번호, 5. 여권 발급일 및 지역, 6. 국적, 7. 생년월일, 8. 출생지, 9. 홍콩 현지 주소, 10. 현주소, 11. 항공기 편명, 12. 항공기 탑승 지역/이미지에 표시된 번호 항목">
                            </div>
                            <ol class="guide">
                                <li>
                                    <em class="num">1</em>영문 성</li>
                                <li>
                                    <em class="num">2</em>영문 이름</li>
                                <li>
                                    <em class="num">3</em>성별</li>
                                <li>
                                    <em class="num">4</em>여권 번호</li>
                                <li>
                                    <em class="num">5</em>여권 발급 지역</li>
                                <li>
                                    <em class="num">6</em>국적</li>
                                <li>
                                    <em class="num">7</em>생년월일</li>
                                <li>
                                    <em class="num">8</em>출생지</li>
                                <li>
                                    <em class="num">9</em>홍콩 현지 주소</li>
                                <li>
                                    <em class="num">10</em>현주소</li>
                                <li>
                                    <em class="num">11</em>항공기 편명</li>
                                <li>
                                    <em class="num">12</em>항공기 탑승 지역</li>
                                <li>
                                    <em class="num">13</em>서명</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div id="arvCont4" class="arvCont tabCont" style="display: none;">
                    <p class="caution typeC">
                        출국편 항공권과 전자여권 및 유효한 서류를 소지한 대한민국 국적 승객의 경우 미국 비자 없이 최대 45일간 체류가 가능합니다.<br>
                        괌 무비자 입국 시 입국신고서(I-94) 이외에 비자 면제 신청서(I-736) 및 세관신고서 작성이 필요합니다.<br>
                        단, 미국 전자여행허가(ESTA)를 신청하셨거나, 유효한 미국 비자를 소지하신 경우 세관신고서만 작성하시면 됩니다.
                    </p>
                    <div class="landingCardInfo">
                        <div class="formWrite">
                            <div class="photo">
                                <img
                                    src="//images.jinair.com/images/ready/img_card_guam.jpg"
                                    alt="괌 입국신고서 이미지/1.영문 성, 2.영문 이름, 3. 생년월일, 4. 국적, 5. 성별, 6. 여권 발급일, 7. 여권유효기간, 8. 여권 번호, 9. 항공기 편명, 10. 거주 국가, 11. 항공편 탑승 국가, 12. 비자 발급 도시, 13. 비자 발급일, 14. 미국 현지주소, 15. 전화번호, 16. 이메일/이미지에 표시된 번호 항목">
                            </div>
                            <ol class="guide">
                                <li>
                                    <em class="num">1</em>영문 성</li>
                                <li>
                                    <em class="num">2</em>영문 이름</li>
                                <li>
                                    <em class="num">3</em>생년월일</li>
                                <li>
                                    <em class="num">4</em>국적</li>
                                <li>
                                    <em class="num">5</em>성별</li>
                                <li>
                                    <em class="num">6</em>여권발급일</li>
                                <li>
                                    <em class="num">7</em>여권유효기간</li>
                                <li>
                                    <em class="num">8</em>여권 번호</li>
                                <li>
                                    <em class="num">9</em>항공기 편명</li>
                                <li>
                                    <em class="num">10</em>거주 국가</li>
                                <li>
                                    <em class="num">11</em>항공편 탑승 국가</li>
                                <li>
                                    <em class="num">12</em>비자 발급 지역</li>
                                <li>
                                    <em class="num">13</em>비자 발급일</li>
                                <li>
                                    <em class="num">14</em>괌 현지 주소</li>
                                <li>
                                    <em class="num">15</em>전화번호</li>
                                <li>
                                    <em class="num">16</em>이메일</li>
                                <li>
                                    <em class="num">17</em>서명</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div id="arvCont5" class="arvCont tabCont" style="display: none;">
                    <div class="landingCardInfo">
                        <div class="formWrite">
                            <div class="photo">
                                <img
                                    src="//images.jinair.com/images/ready/img_card_thailand.jpg"
                                    alt="태국 입국신고서 이미지/1.영문 성, 2.영문 이름, 3. 생년월일, 4. 여권 번호, 5. 국적, 6. 항공기 편명, 7. 성별, 8. 비자번호, 9. 직업, 10. 항공편 탑승 국가, 11. 방문목적, 12. 여행 기간, 13. 거주 국가/도시, 14. 태국 현지주소, 15. 전화번호, 16. 이메일/이미지에 표시된 번호 항목">
                            </div>
                            <ol class="guide">
                                <li>
                                    <em class="num">1</em>영문 성</li>
                                <li>
                                    <em class="num">2</em>영문 이름</li>
                                <li>
                                    <em class="num">3</em>생년월일</li>
                                <li>
                                    <em class="num">4</em>여권 번호</li>
                                <li>
                                    <em class="num">5</em>국적</li>
                                <li>
                                    <em class="num">6</em>항공기 편명</li>
                                <li>
                                    <em class="num">7</em>성별</li>
                                <li>
                                    <em class="num">8</em>비자 번호</li>
                                <li>
                                    <em class="num">9</em>직업</li>
                                <li>
                                    <em class="num">10</em>항공편 탑승 국가</li>
                                <li>
                                    <em class="num">11</em>방문 목적</li>
                                <li>
                                    <em class="num">12</em>여행 기간</li>
                                <li>
                                    <em class="num">13</em>거주 국가/도시</li>
                                <li>
                                    <em class="num">14</em>태국 현지 주소</li>
                                <li>
                                    <em class="num">15</em>전화번호</li>
                                <li>
                                    <em class="num">16</em>이메일</li>
                                <li>
                                    <em class="num">17</em>서명</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div id="arvCont6" class="arvCont tabCont" style="display: none;">
                    <p class="caution typeC">필리핀 입국 시, 세관신고서를 함께 작성하여 제출하셔야 합니다.</p>
                    <div class="landingCardInfo">
                        <div class="formWrite">
                            <div class="photo">
                                <img
                                    src="//images.jinair.com/images/ready/img_card_philippines.jpg"
                                    alt="필리핀 입국신고서 이미지/이미지에 표시된 번호 항목">
                            </div>
                            <ol class="guide">
                                <li>
                                    <em class="num">1</em>여권 번호</li>
                                <li>
                                    <em class="num">2</em>영문 성</li>
                                <li>
                                    <em class="num">3</em>영문 이름</li>
                                <li>
                                    <em class="num">4</em>생년월일</li>
                                <li>
                                    <em class="num">5</em>국적</li>
                                <li>
                                    <em class="num">6</em>성별</li>
                                <li>
                                    <em class="num">7</em>현주소</li>
                                <li>
                                    <em class="num">8</em>필리핀 현지 주소</li>
                                <li>
                                    <em class="num">9</em>연락처 및 이메일</li>
                                <li>
                                    <em class="num">10</em>항공권 번호</li>
                                <li>
                                    <em class="num">11</em>직업</li>
                                <li>
                                    <em class="num">12</em>주민등록번호</li>
                                <li>
                                    <em class="num">13</em>항공기 편명</li>
                                <li>
                                    <em class="num">14</em>항공기 탑승 지역</li>
                                <li>
                                    <em class="num">15</em>방문 목적</li>
                                <li>
                                    <em class="num">16</em>서명</li>
                                <li>
                                    <em class="num">17</em>입국일</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div id="arvCont7" class="arvCont tabCont" style="display: none;">
                    <p class="caution typeC">필리핀 입국 시, 세관신고서를 함께 작성하여 제출하셔야 합니다.</p>
                    <div class="landingCardInfo">
                        <div class="formWrite">
                            <div class="photo">
                                <img
                                    src="//images.jinair.com/images/ready/img_card_laos.jpg"
                                    alt="라오스 입국신고서 이미지/1. 입출국 지점, 2. 영문 성, 3. 영문 이름, 4. 성별, 5. 생년월일, 6. 출생지, 7. 국적, 8. 직업, 9. 여권 번호, 10. 여권만료일, 11. 여권발급일, 12. 여권발급지, 13. 비자번호, 14. 비자발급일, 15. 비자발급일, 16. 비자발급일, 17. 체류목적, 18. 항공기 편명, 19. 출발지/단체 여행 여부, 20. 항공기 편명, 21. 입국일/이미지에 표시된 번호 항목">
                            </div>
                            <ol class="guide">
                                <li>
                                    <em class="num">1</em>입출국 지점</li>
                                <li>
                                    <em class="num">2</em>영문 성</li>
                                <li>
                                    <em class="num">3</em>영문 이름</li>
                                <li>
                                    <em class="num">4</em>성별</li>
                                <li>
                                    <em class="num">5</em>생년월일</li>
                                <li>
                                    <em class="num">6</em>출생지</li>
                                <li>
                                    <em class="num">7</em>국적</li>
                                <li>
                                    <em class="num">8</em>직업</li>
                                <li>
                                    <em class="num">9</em>여권 번호</li>
                                <li>
                                    <em class="num">10</em>여권유효기간</li>
                                <li>
                                    <em class="num">11</em>여권발급일</li>
                                <li>
                                    <em class="num">12</em>여권 발급 지역</li>
                                <li>
                                    <em class="num">13</em>비자 번호</li>
                                <li>
                                    <em class="num">14</em>비자 발급일</li>
                                <li>
                                    <em class="num">15</em>비자 발급 지역</li>
                                <li>
                                    <em class="num">16</em>라오스 현지 주소</li>
                                <li>
                                    <em class="num">17</em>방문 목적</li>
                                <li>
                                    <em class="num">18</em>항공기 편명</li>
                                <li>
                                    <em class="num">19</em>탑승지/단체여행여부</li>
                                <li>
                                    <em class="num">20</em>전화번호</li>
                                <li>
                                    <em class="num">21</em>입/출국일</li>
                                <li>
                                    <em class="num">22</em>서명</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div id="arvCont8" class="landingCard tabCont" style="display: none;">
                    <ul class="keywordList">
                        <li>
                            <p class="ico">온라인</p>
                            <div class="cont">
                                <h3 class="typeA">대만</h3>
                                <ul class="caution">
                                    <li>대만 이민국 홈페이지에서 온라인 입국신고서(Online Arrival Card)를 미리 작성하실 수 있습니다.</li>
                                    <li>미리 작성을 완료하신 경우, 현장에서 입국신고서를 작성하지 않아도 입국 심사를 받을 수 있습니다.</li>
                                    <li>또한, 대만 자동 출입국 심사(e-Gate) 이용을 원하실 경우에는 반드시 온라인으로 신고서를 작성하셔야 합니다.</li>
                                    <li class="bgn">
                                        <a
                                            href="https://oa1.immigration.gov.tw/nia_acard/acardAddAction.action"
                                            class="btnTypeA"
                                            target="_blank"
                                            title="새 창 열림"
                                            data-click-area="서비스-공항서비스-입국신고서작성안내"
                                            data-click-name="기타지역_작성바로가기">작성 바로가기</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <p class="ico">세관</p>
                            <div class="cont">
                                <h3 class="typeA">호놀룰루(미국)</h3>
                                <ul class="caution">
                                    <li>호놀룰루(하와이)를 무비자로 여행 시 사전에 미국 전자여행허가(ESTA) 신청이 필요합니다.</li>
                                    <li>미국 전자여행허가(ESTA) 시행과 함께 입국신고서(I-94) 작성은 폐지되었으나, 세관신고서는 기내 혹은 공항에서 반드시 작성하시어
                                        세관에 제출하셔야 합니다.</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <p class="ico">폐지</p>
                            <div class="cont">
                                <h3 class="typeA">마카오, 말레이시아, 베트남</h3>
                                <ul class="caution">
                                    <li>출입국 카드 제도가 폐지되어 별도의 입국신고서 작성을 요구하지 않습니다.</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="landingCard_guide" style="display: block;">
                    <h2 class="typeA">입국신고서 미리보기</h2>
                    <ul class="caution">
                        <li>고객님의 예약 정보를 바탕으로 입국신고서 작성 예시를 미리볼 수 있는 기능입니다</li>
                        <li>발권처에 따라 여권정보, 이메일, 휴대전화번호 등 정보를 불러올 수 없는 일부 항목은 작성되지 않습니다.</li>
                        <li>본 기능은 내용의 정확성을 담보하지 않으며, 실제 입국신고서는 현장에서 항목 설명에 따라 작성하시기 바랍니다.</li>
                    </ul>
                    <div class="btn">
                        <a
                            href="javascript://"
                            onclick="clickBind();"
                            class="btnTypeA sizeL"
                            data-click-area="서비스-공항서비스-입국신고서작성안내"
                            data-click-name="예약정보 불러오기">예약 정보 불러오기</a>
                    </div>
                    <ul class="landingCard_step">
                        <li>
                            <em>STEP1</em>‘예약정보 불러오기’를 누르고<br>예약번호, 성명, 출발일을 입력</li>
                        <li>
                            <em>STEP2</em>추가 정보 입력 후<br>알림톡 또는 SMS 수신동의 여부 선택</li>
                        <li>
                            <em>STEP3</em>완성된 미리보기 및<br>발송된 SMS 링크 확인</li>
                    </ul>
                </div>
            </div>
        <!-- 작성 -->
        <!-- 푸터-->
        <div th:replace="userpage/fragment/footer :: footer"></div>
        <!--푸터 끝-->
    </div>
    <!--wrap 끝-->

        <!--퀵 메뉴-->
        <div th:replace="userpage/fragment/quickmenu :: quickmenu"></div>
        <!--퀵 메뉴 끝-->
    <div class="popup" style="display: none;">
        <div id="popWrap" class="wideWrap">
            <h1>예약 정보 불러오기
                <p class="close"></p>
            </h1>
            <div id="popCont" class="arv_pop" style="height: auto;">
                <div class="inputArea">
                    <form id="reservation-inquiry-form">
                        <input type="hidden" name="_csrf" value="3639bbca-6340-4fc2-ade8-eb20cfe9bbd1">
                        <input type="hidden" name="accessFrom" value="07">

                        <fieldset>
                            <legend>나의 예약</legend>
                            <span>
                                <input
                                    type="text"
                                    name="pnrNumber"
                                    title="예약번호(숫자와 영문으로 조합된 6자리 예약번호)"
                                    placeholder="예약번호(숫자와 영문으로 조합된 6자리 예약번호)"
                                    class="placeholder"
                                    data-text-qualifier="eng eng-upper num"
                                    maxlength="6"
                                    style="text-transform: uppercase;">
                            </span>
                            <span class="nameField">
                                <input
                                    type="text"
                                    name="lastName"
                                    title="성(Last Name)"
                                    placeholder="성(Last Name)"
                                    class="placeholder1"
                                    data-text-qualifier="eng eng-upper"
                                    style="text-transform: uppercase;">
                                <input
                                    type="text"
                                    name="firstName"
                                    title="이름(First Name)"
                                    placeholder="이름(First Name)"
                                    class="placeholder2"
                                    data-text-qualifier="eng eng-upper"
                                    style="text-transform: uppercase;">
                            </span>
                            <span>
                                <input
                                    type="date"
                                    name="flightDate"
                                    value="출발일"
                                    title="출발일"
                                    class="btn_calendar placeholder hasDatepicker">

                            </span>
                            <div class="btn2">
                                <a href="javascript://" role="button-search" class="btnTypeA" id="btn3">확인</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal" style="display: none;">
            <div class="alertLayer" style="opacity: 1;">[예약번호]을(를) 입력해 주세요.<p class="btn">
                    <a
                        href="#"
                        onclick="hideAlertLayer('undefined'); return false"
                        class="btnTypeB">확인</a>
                </p>
            </div>
        </div>
    </div>
</div>

</body>

</html>