<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<div th:replace="/userpage/fragment/head :: head"></div>
<link rel="stylesheet" href="/userpage/lib/css/serviceCount/airport/checkinfo.css">
<script src="/userpage/app/serviceCount/airport/checkinfo.js"></script>
    <body>
        <ul class="skipnavi">
            <!--책갈피 역할-->
            <li>
                <a href="#container">본문내용</a>
            </li>
        </ul>
        <!--wrap-->
        <div id="wrap">
            <!--header-->
            <div th:replace="${loginURL} :: menu"></div>
            <!--header 끝-->
            <!-- container -->
            <div id="container">
                <div class="contentswrap">
                    <div class="checkinfo">
                        <p class="title_img"></p>
                        <p class="checkinfo_title depth7_2 heading">체크인 안내</p>
                        <p class="title_sub">탑승권을 미리 발급받고 여유롭게 여행을 시작하세요!</p>
                    </div>
                    <div class="checkinfo_kind">
                        <table>
                            <tr>
                                <th class="checkinfo1 cursor">웹/모바일 체크인</th>
                                <th class="checkinfo2 cursor">자동 체크인</th>
                                <th class="checkinfo3 cursor">셀프백드랍</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="checkinCont01" class="checkinCont tabCont" style=" display: block;">
                    <h2 class="desc">웹/모바일 체크인</h2>
                    <div class="checkinIndex">
                        <h2 class="typeA">서비스 대상 노선</h2>
                        <ul class="target">
                            <li>
                                <p class="ico">
                                    <span>국내선</span></p>
                                <p>국내선 전노선</p>
                            </li>
                            <li class="international">
                                <p class="ico">
                                    <span>국제선
                                        <em class="br">(한국 출발)</em></span></p>
                                <p>인천 / 부산 출발 전노선<br>(괌 / 미주 노선 제외)</p>
                            </li>

                            <li class="international">
                                <p class="ico">
                                    <span>국제선
                                        <em class="br">(해외 출발)</em></span></p>
                                <p>나리타 / 간사이 / 후쿠오카 /
                                    <span class="pbr">홍콩 출발 노선</span></p>
                            </li>

                        </ul>

                        <h2 class="typeA">서비스 대상 및 이용 시간</h2>
                        <div class="target_info">
                            <h3>이용 대상 :</h3>
                            <ul class="caution">
                                <li>진에어 항공권 예약 확정 고객</li>
                            </ul>
                            <h3>이용 시간 :</h3>
                            <ul class="caution">
                                <li>국내선 : 출발 24시간 ~ 30분 전까지</li>
                                <li>국제선 : 출발 24시간 ~ 1시간 30분 전까지</li>
                            </ul>
                        </div>
                        <div class="import">
                            <a
                                href="javascript://"
                                onclick="showPopupLayer('/ready/checkinRestrictionLayer');">서비스 이용 제한 및 국내선 교환권 발급 대상 확인하기 ></a>
                        </div>
                        <div class="btnArea">
                            <a
                                class="btnTypeA sizeL"
                                href="/pages/index/checkinfo_list"
                                title="웹/모바일 체크인"
                                role="link-login-needed"
                                data-login-uri="/login/quickform"
                                data-access-from="06"
                                data-click-area="서비스-공항서비스-체크인안내"
                                data-click-name="웹/모바일 체크인">웹/모바일 체크인</a>
                        </div>
                        <h2 class="typeA">체크인 후 절차</h2>
                        <ul class="boarding_step">
                            <li>
                                <div class="cont">
                                    <em class="s_title">웹/모바일 체크인 및 탑승권 발급</em>
                                    <ul class="caution">
                                        <li>웹(온라인) 탑승권 출력 또는 모바일 탑승권을 준비합니다.</li>
                                    </ul>
                                    <div class="btn_group">
                                        <a
                                            href="javascript://"
                                            class="btnTypeB  checkinEX_1"
                                            data-click-area="준비-웹모바일체크인"
                                            data-click-name="웹탑승권에예시보기">웹(온라인) 탑승권 예시 보기</a>
                                        <a
                                            href="javascript://"
                                            class="btnTypeB  checkinEX_2"
                                            data-click-area="준비-웹모바일체크인"
                                            data-click-name="모바일탑승권예시보기">모바일 탑승권 예시 보기</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="cont">
                                    <em class="s_title">공항 도착</em>
                                    <ul class="in_list">
                                        <li>국제선 : 수속 마감 시간(출발 50분 전) 을 고려하여 공항에 여유롭게 도착해 주세요.</li>
                                        <li>국내선 : 항공기 출발 20분 전까지 출발장 미입장 시 탑승이 제한되오니 유의해 주세요.</li>
                                        <li class="point">교환권 수령 고객은 수속 카운터에서 탑승권으로 교환 후 국내선 출발장 입장</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="cont">
                                    <em class="s_title">수하물 위탁</em>
                                    <ul class="in_list">
                                        <li>기내 휴대 수하물은 10kg 1인/1개로 제한되므로 기내 반입 허용량 초과시 짐부치는 곳에서 위탁수하물 처리 부탁드립니다.</li>
                                        <li>위탁 수하물이 없는 경우 : 바로 출발(출국)장으로 이동합니다.</li>
                                        <li>위탁 수하물이 있는 경우 : 수하물 전용 카운터에서 수하물 위탁 후 출발(출국)장으로 이동합니다.</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="cont">
                                    <em class="s_title">항공기 탑승</em>
                                    <ul class="in_list">
                                        <li>보안 검색대, 탑승구에서 탑승자 본인의 탑승권 상 QR코드를 반드시 소지하여 주세요.</li>
                                        <li>탑승 마감 시간
                                            <ul class="caution">
                                                <li>국제선 : 출발 10분 전 마감
                                                </li>
                                                <li>국내선 : 출발 5분 전 마감</li>
                                            </ul>
                                        </li>
                                        <li>국내선 소아, 제주도민/기업/가족 할인 등 신분할인 이용 고객은 탑승구에서 할인 증빙서류 확인이 진행되니, 반드시 증빙서류를 지참해 주세요.</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <table class="bbsList">
                            <colgroup>
                                <col style="width:50%;">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">탑승권 프린트 및 공유 방법</th>
                                    <th scope="col">체크인 취소 방법</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <b>[웹(온라인)]</b>
                                        <ul class="caution">
                                            <li>1. [마이페이지] – [상세조회] – [탑승현황 조회] – [탑승권 인쇄]</li>
                                            <li>2. [체크인] – [탑승권 발급] – [프린트] 또는 [SMS 발송]</li>
                                        </ul>
                                        <b>[모바일]</b>
                                        <ul class="caution">
                                            <li>알림톡 내 링크 클릭 – [프린트] 또는 [SMS 발송]</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <b>[웹(온라인)/모바일]</b>
                                        <ul class="caution">
                                            <li>홈페이지의 [체크인] – [체크인 취소]</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h2 class="typeA">유의사항</h2>
                        <ul class="caution">
                            <li>편도 국제선 항공권을 구매한 고객께서는 해당 국가의 입국 규정을 확인 하시어 귀국편 항공권 또는 필요 서류를 구비 하시기 바랍니다.</li>
                            <li>국제선 예약 고객은 [마이페이지]에서 여권 정보 등을 정확히 입력해 주시기 바랍니다. 부정확한 여권 정보 입력 시 탑승이 제한 될 수 있습니다.</li>
                            <li>공항 사정, 항공기 교체, 기상 악화 등의 부득이한 사유로 사전 고지 없이 배정된 좌석 및 탑승구가 변경될 수 있습니다.</li>
                            <li>국내선 소아, 제주도민/기업/가족 할인 등 신분할인 이용 고객은 유효한 할인 증빙서류를 반드시 지참하시어 탑승구에서 확인을 받아주시기 바랍니다.</li>
                        </ul>
                    </div>
                </div>

                <div id="checkinCont02" class="checkinCont tabCont" style=" display: none;">
                    <h2 class="desc">자동 체크인</h2>
                    <div class="checkinIndex">
                        <h2 class="typeA">자동 체크인 이란?</h2>
                        <p class="srmy">
                            사전좌석지정 고객을 위한 혜택! 편리한 자동 체크인 서비스를 이용해 보세요.
                            <span class="pbr">자동 체크인은 출발 22시간 전 진에어가 탑승권을 미리 발급해 드리는 서비스 입니다.</span>
                        </p>

                        <h2 class="typeA">서비스 대상 노선</h2>
                        <ul class="target">
                            <li>
                                <p class="ico">
                                    <span>국내선</span></p>
                                <p>국내선 전노선</p>
                            </li>
                            <li class="international">
                                <p class="ico">
                                    <span>국제선</span></p>
                                <p>
                                    인천/부산 출발 전노선<br>(단, 해외 출발편 및 괌/미주 노선 제외)
                                </p>
                            </li>
                        </ul>

                        <h2 class="typeA">신청 가능 대상 및 기한</h2>
                        <div class="target_info">
                            <h3>신청 가능 대상 :</h3>
                            <ul class="caution">
                                <li>
                                    진에어 홈페이지/APP 에서 항공권 및 사전좌석지정 서비스를 구매한 회원 고객
                                    <ul class="caution typeB">
                                        <li>비회원 및 타 채널(고객센터/여행사 등) 이용해 항공권 구매 시 서비스 이용 제한</li>
                                    </ul>
                                </li>
                            </ul>
                            <h3>신청 가능 기한 :</h3>
                            <ul class="caution">
                                <li>
                                    항공권 및 사전좌석지정 서비스 구매 후 출발 24시간 전까지
                                    <ul class="caution typeB">
                                        <li>국제선 이용 고객은 출발 24시간 전까지 정확한 여권 정보 입력 필수</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="import">
                            <a
                                href="javascript://"
                                onclick="showPopupLayer('/ready/autoCheckinRestrictionLayer');">서비스 이용 제한 대상 확인하기</a>
                        </div>

                        <h2 class="typeA">자동 체크인 신청 및 진행 절차</h2>
                        <ul class="checkin_step">
                            <li>
                                <em>STEP1</em>진에어<br>홈페이지/APP에서<br>사전좌석지정 구매 시<br>자동 체크인 신청</li>
                            <li>
                                <em>STEP2</em>국제선 고객<br>여권 정보 입력<br>(출발 24시간 전까지)</li>
                            <li>
                                <em>STEP3</em>자동 체크인 성공 시<br>탑승권 포함 SMS 수신<br>(출발 22시간 전까지)</li>
                            <li>
                                <em>STEP4</em>개인별<br>웹/모바일 탑승권<br>인쇄 또는 저장</li>
                            <li>
                                <em>STEP5</em>공항도착 후<br>수하물 유무에 따라<br>수하물 전용 카운터 방문<br>기내 휴대 수하물 10kg 1인/1개 한함<br>국내선 : 출발 20분 전 수속 마감<br>국제선 : 출발 50분 전 마감</li>
                            <li>
                                <em>STEP6</em>항공기 탑승<br>국내선 : 출발 5분 전 마감<br>국제선 : 출발 10분 전 마감<br>(국내선 : 탑승구에서<br>
                                증빙서류 확인 진행)</li>
                        </ul>
                        <table class="bbsList">
                            <colgroup>
                                <col style="width: 50%;">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">탑승권 프린트 및 공유 방법</th>
                                    <th scope="col">자동 체크인 취소 방법</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <b>[웹(온라인)]</b>
                                        <ul class="caution">
                                            <li>1. [마이페이지] – [상세조회] – [탑승현황 조회] – [탑승권 인쇄]</li>
                                            <li>2. [체크인] – [탑승권 발급] – [프린트] 또는 [SMS 발송]</li>
                                        </ul>
                                        <b>[모바일]</b>
                                        <ul class="caution">
                                            <li>알림톡 내 링크 클릭 – [프린트] 또는 [SMS 발송]</li>
                                        </ul>
                                    </td>
                                    <td>
                                        <b>[웹(온라인)/모바일]</b>
                                        <ul class="caution">
                                            <li>[마이페이지] – [상세조회] – [자동체크인 신청/취소]</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <h2 class="typeA">유의사항</h2>
                        <ul class="caution">
                            <li>자동 체크인 실패 시, 실패 사유와 함께 안내 문자가 발송됩니다.</li>
                            <li>여권 정보 미입력 또는 부정확 시 자동 체크인 진행이 제한될 수 있습니다.</li>
                            <li>사전좌석지정 서비스 취소 시, 해당 구간의 자동 체크인 서비스도 자동 취소 됩니다.</li>
                            <li>예약 변경 시, 기존 신청한 사전좌석지정 서비스 및 자동 체크인 서비스가 함께 취소 됩니다.</li>
                            <li>자동 체크인 서비스 신청 이후 직원 확인 필요 서비스 (반려동물 동반, 휠체어 등) 신청 시, 자동 체크인 서비스 이용이 제한됩니다.</li>
                            <li>편도 국제선 항공권을 구매한 승객께서는 해당 국가의 동반, 휠체어 대여 입국 규정을 필히 확인하시어 귀국편 티켓 또는 필요 서류를
                                구비하시기 바랍니다.</li>
                            <li>스케줄은 정부 인가 조건이며, 공항 사정, 항공기 교체, 기상 등의 부득이한 사유로 사전 예고 없이 배정된 좌석 및 탑승구가 변경될 수
                                있습니다.</li>
                            <li>진에어 홈페이지/앱에서 항공권 구매 후 사전좌석지정 및 자동 체크인 서비스 추가 신청을 원하시는 경우, 고객서비스센터를 이용하여 주시기
                                바랍니다.</li>
                            <li>국내선 소아, 제주도민/기업/가족 할인 등 신분할인 이용 고객은 유효한 할인 증빙서류를 반드시 지참하시어 탑승구에서 확인을 받아주시기 바랍니다.</li>
                        </ul>
                    </div>
                </div>

                <div id="checkinCont03" class="checkinCont tabCont" style=" display: none;">
                    <h2 class="desc">셀프백드랍</h2>
                    <div class="checkinIndex">
                        <h2 class="typeA">셀프 백드랍이란?</h2>
                        <p class="srmy">

                            웹/모바일(자동 체크인 포함) 또는 키오스크를 이용하여 체크인을 완료한 고객을 대상으로 제공되는 서비스입니다.
                            <br>
                            체크인 후 탑승권을 소지한 고객은 전용 기기를 이용하여 수하물을 보다 빠르고 편리하게 직접 위탁할 수 있습니다.

                        </p>
                        <h2 class="typeA">이용안내</h2>
                        <div class="operation_guide">
                            <div class="cont">
                                <table class="bbsForm">
                                    <caption>신용카드, 무이자, 부분 무이자, 기타 사항 순으로 나타낸 무이자 할부표입니다.</caption>
                                    <colgroup>
                                        <col style="width:28%">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th class="ac">위치</th>
                                            <td>인천국제공항 제1 여객터미널 L 카운터</td>
                                        </tr>
                                        <tr>
                                            <th class="ac">이용시간</th>
                                            <td>06:10 ~ 19:00 (항공기 출발 1시간 전까지)</td>
                                        </tr>
                                        <tr>
                                            <th class="ac">이용노선</th>
                                            <td>미주(괌/호놀룰루)를 제외한 인천국제공항 출발 진에어 국제선 노선</td>
                                        </tr>
                                        <tr>
                                            <th class="ac">이용승객</th>
                                            <td>
                                                인천국제공항 출발 진에어 국제선 탑승 승객 중<br>셀프 체크인(웹/모바일/키오스크)을 완료한 승객
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="map"><img
                                src="//images.jinair.com/images/checkin/img_self_backdrop_map_KOR.gif"
                                alt="셀프 백드랍 위치/인천국제공항 제1 여객터미널 G 카운터"></div>
                        </div>
                        <h2 class="typeA">이용방법</h2>
                        <ul class="self_backdrop_step">

                            <li>
                                <em>STEP1</em>탑승권과 여권 스캔 후<br>수하물 투입</li>
                            <li>
                                <em>STEP2</em>수하물 규정 확인 후<br>출력된 수하물 태그 부착</li>
                            <li>
                                <em>STEP3</em>확인증 수령 및 수하물 검사<br>5분간 대기 후 출국장 이동</li>

                        </ul>
                        <h2 class="typeA">유의사항</h2>
                        <ul class="caution">

                            <li>24개월 미만 유아동반 승객, 연결 구간이 있는 승객, 반려동물 위탁 승객, 스포츠 장비 등 특수 수하물 위탁 승객, 휠체어 이용 승객
                                등 직원의 도움 및 확인이 필요한 승객은
                                <span class="pbr">셀프 백드랍 서비스 이용이 제한됩니다.</span></li>
                            <li>
                                <strong>세 변의 합이 158cm 이하</strong>, 한 변의 길이가
                                <strong>최대 90㎝ 이하</strong>인 본인의 수하물만 위탁 가능합니다.</li>
                            <li>수하물은 한 번에 한 개씩 눕혀서 놓아 주셔야 하며, 끈이 길거나 너무 가벼운 수하물은 터브에 담아 위탁하여 주시기 바랍니다.</li>
                            <li>이용 전 운송 제한 품목을 사전에 반드시 확인 후 위탁하여 주시기 바랍니다.
                                <a href="/ready/baggage?directID=baggage2" class="fontTypeA">
                                    <strong>[자세히 보기]</strong>
                                </a>
                            </li>
                            <li>위탁한 수하물의 보안검사를 위해 5분 간 대기 후 출국장으로 이동하여 주시기 바랍니다.</li>

                        </ul>
                    </div>
                </div>
                
            </div>


            <!-- 푸터-->
            <div th:replace="userpage/fragment/footer :: footer"></div>
            <!--푸터 끝-->
        </div>
        <!--wrap 끝-->
        <!--퀵 메뉴-->
        <div th:replace="userpage/fragment/quickmenu :: quickmenu"></div>
        <!--퀵 메뉴 끝-->
        <div id="popWrap" class="wideWrap" style="display: none;">
            <div id="popCont" class="checkin_pop" style="height: auto;">
                <p>
                    <h1>탑승권 예시 이미지</h1><p class="close"></p>
                </p>
                
                <img src="/userpage/lib/img/example_pc.jpg" style="width: 100%;" alt="탑승권 예시 pc 이미지">
            </div>
        </div>
        <div id="popWrap2" class="wideWrap" style="display: none;">
            <div id="popCont2" class="checkin_pop" style="height: auto;">
                <p>
                    <h1>탑승권 예시 모바일 이미지</h1><p class="close"></p>
                </p>
                <p class="img">
                <img src="/userpage/lib/img/example_mobile.jpg" style="width: 100%;" alt="탑승권 예시 모바일 이미지">
            </p>
            </div>
        </div>
<div class="modal"></div>    
</body>
</html>