<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head -->
<div th:replace="userpage/fragment/head :: head"></div>
<script src="/userpage/app/mypage/index.js"></script>
<link rel="stylesheet" href="/userpage/lib/css/mypage/login.css"/>
<link rel="stylesheet" href="/userpage/lib/css/index/index.css"/>   // 메뉴
<!-- head 끝 -->
<body>
<ul class="skipnavi"><!--책갈피 역할-->
    <li><a href="#container">본문내용</a></li>
</ul>
<!--wrap-->
<div id="wrap">
    <!--header-->
    <div th:replace="${loginURL} :: menu"></div>
    <!--header 끝-->
    <!--container-->
    <div id="container">
        <div class="login_container">
            <div class="login_top">
                <p>로그인</p>
            </div>
            <div class="login_main">
                <form>
                <input type="text" placeholder="아이디" id="mem_userid" class="mem_userid" style="ime-mode:disabled;text-transform:uppercase;">
                <input type="password" placeholder="비밀번호" id="mem_userpw" class="mem_userpw">
                <input type="button" value="확인" id="duplication">
                <p class="find"><a href="/pages/index/joinGate">회원가입</a> | <a href="/pages/mypage/find_info?page=findid">아이디 찾기</a> | <a href="/pages/mypage/find_info?page=findpw">비밀번호 찾기</a></p>
                <p class="find"><a href="/pages/admin_login">(관리자 페이지 바로가기)</a></p>
                <div class="btn_sns">
                    <a href="" class="kakao"><img src="/userpage/lib/img/ico_sns_kakao.png" alt="카카오"></a>
                    <a href="" class="facebook"><img src="/userpage/lib/img/ico_sns_facebook.png" alt="페이스북"></a>
                    <a href="" class="naver"><img src="/userpage/lib/img/ico_sns_naver.png" alt="네이버"></a>
                    <a href="" class="google"><img src="/userpage/lib/img/ico_sns_google.png" alt="구글"></a>
                    <a href="" class="linkedin"><img src="/userpage/lib/img/ico_sns_linkedin.png" alt="링크드인"></a>
                </div>
                </form>
            </div>
            <div class="login_footer">
                <input type="radio" name="slide" id="slide01" checked>
                <input type="radio" name="slide" id="slide02">
                <input type="radio" name="slide" id="slide03">
                <div class="list_wrap">
                    <ul class="login_fad_list">
                        <li>
                            <a href="/pages/optional/hotel" target="_blank">
                                <label for="slide03" class="left"></label><img src="/userpage/lib/img/img_login_bn_01.jpg" alt="1" >
                                <label for="slide02" class="right"></label></a>
                        </li>
                        <li>
                            <a href="/pages/optional/insurance" target="_blank">
                                <label for="slide01" class="left"></label><img src="/userpage/lib/img/img_login_bn_2105_02.jpg" alt="2"><label for="slide03" class="right"></label></a>
                        </li>
                        <li>
                            <a href="/pages/optional/rentcar" target="_blank">
                                <label for="slide02" class="left"></label><img src="/userpage/lib/img/img_login_bn_03.jpg" alt="3"><label for="slide01" class="right"></label></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--container 끝-->
    <!-- 푸터-->
    <div th:replace="userpage/fragment/footer :: footer"></div>
    <!--푸터 끝-->
</div>
<!--wrap 끝-->
<div class="modal"></div>
</body>
</html>