<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head -->
<div th:replace="userpage/fragment/head :: head"></div>
<script src="/userpage/app/promotion/card_exchange/associatedCard.js"></script>
<link rel="stylesheet" href="/userpage/lib/css/promotion/card_exchange/associatedCard.css"/>
<link rel="stylesheet" href="/userpage/lib/css/index/index.css"/>   // 메뉴
<!-- head 끝 -->
<body>
<ul class="skipnavi"><!--책갈피 역할-->
    <li><a href="#container">본문내용</a></li>
</ul>
<!--wrap-->
<div id="wrap">
    <!--header-->
    <div th:replace="${loginURL} :: menu"></div>
    <!--header 끝-->
    <!--container-->
    <div id="container">
        <div class="contentswrap">
            <div class="discount">
                <p class="title_img"></p>
                <p class="discount_title">카드 및 환전 혜택</p>
                <p class="title_sub">항공권 결제 할인부터 공항서비스까지! 그 외 혜택은 덤!<br>
                    진에어 제휴카드로 알뜰하게 여행하세요.</p>
            </div>
            <div class="discount_kind">
                <table>
                    <tr>
                        <th class="dis_card cursor">제휴 카드</th>
                        <th class="dis_exchange cursor">환율 우대</th>
                        <th class="dis_no cursor">무이자 할부</th>
                    </tr>
                </table>
            </div>
            <!--제휴 카드-->
            <div class="card">
                <div class="card_title">
                    <p>[진에어 제휴 카드]</p>
                </div>
                <div class="BCcard">
                    <div class="BCcard_left">
                        <p>[BC카드]</p>
                        <div class="BCcard_img"></div>
                        <input type="button" value="자세히 보기">
                    </div>
                    <div class="BCcard_right">
                        <p class="card_minititle">TOP 포인트</p>
                        <p>- 총 경제 금액의 0.1%를 TOP 포인트로 적립</p>
                        <p class="last_cnt">- TOP 포인트 차감 통한 항공권 구매 (청구할인방식)</p>
                        <p class="card_minititle">Air Money</p>
                        <p class="last_cnt">- Air Money 포인트 차감 통한 항공권 구매(청구할인방식)</p>
                        <p class="card_minititle">BC 기업카드(법인 회원)</p>
                        <p>- 항공운임 기준 10만원/20만원/30만원 결제 시 각각 1만원/1만 5천원/2만원 할인 (유류할증료 / TAX 제외)</p>
                        <p class="last_cnt sub_cnt">* 항공권 최초 구매 시에만 적용 (항공권 재발행 시 적용 불가)</p>
                        <p>* 상기 제휴 서비스는 진에어 홈페이지 및 APP 채널을 통한 구매 시에만 적용됩니다.</p>
                        <p>* BC TOP, Air Money 포인트 적립 및 사용 관련 문의는 BC카드 고객센터(1588-4000)로 연락바랍니다.</p>
                    </div>
                </div>
                <div class="KBcard">
                    <div class="KBcard_left">
                        <p>[KB 국민카드]</p>
                        <div class="KBcard_img"></div>
                        <input type="button" value="자세히 보기">
                    </div>
                    <div class="KBcard_right">
                        <p class="KBcard_tit">KB 국민 Easy fly 티타늄카드</p>
                        <p class="last_cnt">- 연회비 : 국내외겸용(Master) / K-WORLD(UPI타입) 3만 5천원</p>
                        <p class="card_minititle">국내/국제선 항공권 5% 청구할인</p>
                        <p class="last_cnt">- 진에어 홈페이지/모바일 예약 한정</p>
                        <p class="card_minititle">온라인 유료 부가서비스 1만원 할인</p>
                        <p>- 진에어 홈페이지/모바일 예약 시 유료 부가서비스 1만원 초과 구매 대상</p>
                        <p class="last_cnt">- 결제 페이지 내 ‘카드 제휴 할인‘ 에서 KB국민카드 할인 선택</p>
                        <p class="card_minititle">기타 항공/여행 혜택</p>
                        <p>- 면세점, 숙박업종 5% 청구할인, 해외 캐시백 3%</p>
                        <p class="last_cnt">- 공항 라운지 연 2회, 공항/호텔 발레파킹 연 12회 무료</p>
                        <p class="card_minititle">준법감시 심의필 제 190905-03074-HPP</p>
                    </div>
                </div>
                <div class="visacard">
                    <div class="visacard_top">
                        <p class="visa_tit">[Visa 카드(Young Premium)]</p>
                        <p>[Visa Young Premium 안내]</p>
                        <p>진에어 제휴카드가 없으셔도 실망하지 마세요!</p>
                        <p>진에어에서만 제공하는 카드 이용 꿀팁+</p>
                        <p>Visa Young Premium 카드 회원은 빠른 체크인과 수하물 우선하기 서비스가 무료로 제공됩니다.</p>
                        <input type="button" value="자세히 보기">
                    </div>
                    <div class="visacard_mid">
                        <p>Young Premium 대상 카드</p>
                        <div class="visacard_img"></div>
                    </div>
                    <div class="visacard_bottom">
                        <p class="card_minititle">빠른 체크인 서비스</p>
                        <p>- 진에어 홈페이지/모바일을 통해 해당 카드로 국내발 국제선 왕복항공권 구매 고객이 공항에서 카드 제시하는 경우 본인 확인 후 서비스 적용</p>
                        <p class="last_cnt">- 인천국제공항에 한해 연4회, 최대 4인 (본인 포함)</p>
                        <p class="card_minititle">수하물 우선하기(Priority Tag)</p>
                        <p>- 진에어 홈페이지/모바일을 통해 해당 카드로 국내발 국제선 왕복항공권 구매 고객이 공항에서 카드 제시하는 경우 본인 확인 후 서비스 적용</p>
                        <p class="last_cnt">- 인천/부산/제주공항 출발편에 한해 연4회, 최대 4인 (본인 포함)</p>
                        <p class="card_minititle">(※ 2022년 12월 31일까지 발권 / 2023년 3월 31일 탑승까지 제공)</p>
                    </div>
                </div>
                <div class="notice_bottom">
                    <p>- 각 카드별 공항서비스는 공항 체크인카운터에서 실물 카드를 반드시 제시하셔야 서비스를 제공받으실 수 있습니다.
                    </p>
                    <p>- 카드 발급 및 카드별 상세 서비스 안내는 각 카드사를 통해 확인하실 수 있습니다.</p>
                    <p>- 일부 서비스의 경우 간편결제(ex. 네이버페이 등) 또는 앱카드로 결제하시는 경우 서비스 적용이 불가합니다.</p>
                </div>
            </div>
            <div class="exchange">
                <div class="hanabank">
                    <div class="hanabank_left">
                        <div class="hanabank_img"></div>
                    </div>
                    <div class="hanabank_right">
                        <p class="bank_tit">하나은행 환전지갑 서비스</p>
                        <p class="bank_minititle">진에어 고객 환율(spread)우대</p>
                        <p>이벤트 기간: 2022.01.01 ~ 2022.12.31</p>
                        <p class="banklast_cnt">이벤트 대상: 환전지갑 서비스 이용 손님</p>
                        <p class="bank_minititle">환전가능 통화 및 환율(spread)우대</p>
                        <p>- 주요통화: USD 90%, JPY, EUR 80%</p>
                        <p class="banklast_cnt">- 기타통화: AUD, CAD, CHF, CNY, GBP, HKD, NZD, SGD, THB 30%</p>
                        <p class="bank_minititle">외화 수령</p>
                        <p>- 전국 하나은행 영업점에서 수령 가능</p>
                        <p>- 수령 가능 시간</p>
                        <p class="sub_cnt">· 일반 영업점 : 09:00~16:00(은행영업일)</p>
                        <p class="banklast_cnt sub_cnt">· 인천국제공항 영업점 및 환전소 : 07:00~21:00(평일), 08:00~20:00(주말 및 공휴일)</p>
                        <p class="bank_tit2">※ 인천국제공항 수령점 위치</p>
                        <p class="bank_tit2">**제1여객터미널**</p>
                        <p>- 1층 입국장 환전소 : 11번 출입구 부근</p>
                        <p>- 3층 입국장 환전소 : 4번 출입구 부근</p>
                        <p class="sub_cnt2"> 출국장 D,E,L 카운터</p>
                        <p class="bank_tit2">**제2여객터미널**</p>
                        <p>- 1층 입국장 환전소 : 11번 출입구 부근</p>
                        <p class="banklast_cnt">- 3층 입국장 환전소 : 4번 출입구 부근</p>
                        <p class="gapper">※ 일부 환전소 및 면세구역에서는 수령이 불가하며, 인천국제공항 출국심사 전에만 수령이 가능합니다.</p>
                        <p class="sub_cnt4">(출국심사 없이 김해, 제주 등 타 공항에서 출발하여 인천국제공항을 경유하는 경우 수령불가)</p>
                        <p class="bank_minititle">이용방법</p>
                        <div class="col">
                            <p>STEP 1</p>
                            <span>
                                환전 통화 선택<br>
                                & 환전할 금액 입력
                            </span>
                            <p>STEP 2</p>
                            <span>
                                환전 신청 금액<br>
                                가상계좌를 통한 입금 진행
                            </span>
                            <p>STEP 3</p>
                            <span>
                                수령점 선택 후<br>
                                신청한 날짜에 수령<br>
                                (신분증 지참 필수)
                            </span>
                        </div>
                        <p class="bank_minititle notice_top">유의사항</p>
                        <p>- <span class="font_blue">본 서비스는 진에어 회원 대상 모바일 전용 서비스 입니다.</span></p>
                        <p class="sub_cnt">※ 만 14세 이상 국내 거주 국민 대상 서비스 이용이 가능하며, 재외국민의 외화수령은 외국환거래법에 따라 제한될 수 있습니다.</p>
                        <p>- 본 환전지갑 서비스는 하나은행에서 제공됩니다.</p>
                        <p class="banklast_cnt">- 제휴사 이용 해지, 탈회 등의 서비스 이용 불가 사유 발생 시 하나은행 고객센터를 통하여 환전지갑 서비스 안내를 받을 수 있습니다.</p>
                        <p>- 본 환전지갑 서비스는 하나은행에서 제공됩니다.</p>
                        <p class="sub_cnt3">외환 (1599-1847)</p>
                        <p class="sub_cnt3 banklast_cnt">대표번호 (1599-1111 / 1588-1111)</p>
                        <p>- 본 홍보물은 법령 및 내부통제기준에 따른 절차를 거쳐 제공됩니다.</p>
                        <p>- 본 홍보물은 2022년 11월 30일까지 유효합니다.</p>
                        <p class="sub_cnt3">준법감시인 심의필 제2021-광고-7350호(2021.12.14) CC브랜드210609-0078</p>
                    </div>
                </div>
                <div class="woribank">
                    <div class="woribank_left">
                        <div class="woribank_img"></div>
                        <input type="button" value="환율우대쿠폰 저장">
                    </div>
                    <div class="woribank_right">
                        <p class="bank_tit">우리은행 환전지갑 서비스</p>
                        <p class="bank_minititle">환전수수료 할인율</p>
                        <p>- 미국달러(USD), 유로화(EUR), 일본엔화(JPY) 환전 시 60% 우대</p>
                        <p class="banklast_cnt">- 기타 통화 환전 시 30% 우대</p>
                        <p class="bank_minititle">대상 지점</p>
                        <p class="banklast_cnt">- 우리은행 영업점 (단, 공항소재 영업점 및 환전소 제외)</p>
                        <p class="bank_minititle">이용방법</p>
                        <div class="col">
                            <p>STEP 1</p>
                            <span>
                                진에어<br>
                                국제선 항공권 구매
                            </span>
                            <p>STEP 2</p>
                            <span>
                                진에어 홈페이지 ><br>
                                카드 제휴 > 환율 우대<br>
                                “환율우대쿠폰 저장” 클릭
                            </span>
                            <p>STEP 3</p>
                            <span>
                                환율우대쿠폰 및<br>
                                진에어 e-Ticket을 출력하여<br>
                                우리은행 영업점 방문
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="no_interest">
                <div class="no_interestWrapper">
                    <p class="sub_cnt3">- 기간: 2022년 2월 1일 ~ 2022년 2월 28일</p>
                    <p class="sub_cnt3">- 대상: 진에어 홈페이지, 모바일 및 예약센터에서 5만원 이상 결제 고객</p>
                    <table>
                        <colgroup>
                            <col width="250">
                            <col width="200">
                            <col width="200">
                            <col width="">
                        </colgroup>
                        <tr>
                            <td>신용카드</td>
                            <td>무이자</td>
                            <td>부분 무이자</td>
                            <td>기타 사항</td>
                        </tr>
                        <tr>
                            <td>비씨카드(페이북)</td>
                            <td>2 ~ 5개월</td>
                            <td>10, 12개월</td>
                            <td>법인/Non-BC/체크/선불/기프트 카드 제외</td>
                        </tr>
                        <tr>
                            <td>신한카드</td>
                            <td>2 ~ 6개월</td>
                            <td>10, 12개월</td>
                            <td>법인/BC/체크/선불/기프트 카드 제외</td>
                        </tr>
                        <tr>
                            <td>KB국민카드</td>
                            <td>2 ~ 6개월</td>
                            <td>10, 12개월</td>
                            <td>법인/BC/체크/선불/기프트 카드 제외</td>
                        </tr>
                        <tr>
                            <td>삼성카드</td>
                            <td>2 ~ 6개월</td>
                            <td></td>
                            <td>법인/올앳/체크/선불/기프트 카드 등 일부 카드 제외</td>
                        </tr>
                        <tr>
                            <td>현대카드</td>
                            <td>2 ~ 6개월</td>
                            <td></td>
                            <td>법인/체크/기프트/하이브리드/선불 카드 카드 제외<br>
                                무이자 할부 이용 시 M포인트/X캐시백 적립 및 할인 제외</td>
                        </tr>
                        <tr>
                            <td>하나카드</td>
                            <td>2 ~ 6개월</td>
                            <td>10, 12개월</td>
                            <td>법인/BC/체크/선불/기프트 카드 제외</td>
                        </tr>
                    </table>
                    <p>※ 수시로 신용카드 무이자 할부 혜택이 변경되므로 <span class="font_blue">필히 카드사를 통해 자세한 사항을 확인</span>하시기 바랍니다.</p>
                    <p>※ 진에어 홈페이지 및 모바일에서는 최대 12개월까지 할부 선택이 가능합니다.</p>
                    <p class="sub_cnt3">13개월 이상 할부 결제 진행은 카드사를 통해 문의하시기 바랍니다.</p>
                    <p class="bank_tit">부분무이자 적용 방법</p>
                    <p>- 2~6개월 부분 무이자 할부 : 1회차 고객 부담, 잔여회차 면제</p>
                    <p>- 7~10개월 부분 무이자 할부 : 1~2회차 고객 부담, 잔여회차 면제</p>
                    <p>- 11~15개월 부분 무이자 할부 : 1~3회차 고객 부담, 잔여회차 면제</p>
                    <p class="font_blue">신한카드</p>
                    <p class="sub_cnt3">- 10개월 부분 무이자 할부 (1~4회차 고객 부담, 잔여회차 면제)</p>
                    <p class="sub_cnt3">- 12개월 부분 무이자 할부 (1~5회차 고객 부담, 잔여회차 면제)</p>
                    <p class="font_blue">비씨카드, KB국민카드, 농협카드</p>
                    <p class="sub_cnt3">- 10개월 부분 무이자 할부 (1~3회차 고객 부담, 잔여회차 면제)</p>
                    <p class="sub_cnt3">- 12개월 부분 무이자 할부 (1~4회차 고객 부담, 잔여회차 면제)</p>
                    <p class="font_blue">전북은행(JB카드)</p>
                    <p class="sub_cnt3">- 7~9개월 부분 무이자 할부 (1회차 할부 수수료 고객 부담)</p>
                    <p class="sub_cnt3">- 10~12개월 부분 무이자 할부 (1,2회차 할부 수수료 고객 부담)</p>
                </div>
            </div>
        </div>
    </div>
    <!-- container 끝-->
    <!-- 푸터-->
    <div th:replace="userpage/fragment/footer :: footer"></div>
    <!--푸터 끝-->
</div>
<!--wrap 끝-->
<div class="modal"></div>
<!--퀵 메뉴-->
<div th:replace="userpage/fragment/quickmenu :: quickmenu"></div>
<!--퀵 메뉴 끝-->
</body>
</html>