<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<div th:replace="userpage/fragment/head :: head"></div>
<link rel="stylesheet" href="/userpage/lib/css/index/covid19Info.css">
<script src="/userpage/app/index/covid19Info.js"></script>

<body>
    <ul class="skipnavi">
        <!--책갈피 역할-->
        <li>
            <a href="#container">본문내용</a>
        </li>
    </ul>
    <!--wrap-->
    <div id="wrap">
        <!--header-->
        <div th:replace="${loginURL} :: menu"></div>
        <!--header 끝-->
        <!-- containet -->
        <div id="container">
            <div class="contentswrap">
                <div class="covidInfo_title">
                    <p class="title_img"></p>
                    <p class="covidInfo_title_text">코로나19 출입국 참고사항 안내</p>
                    <p class="title_sub">여행 전 참고할 수 있는 출입국 정보를 제공합니다.</p>
                    <ul class="covidInfo_title_ul">
                        <li>목적지별 출입국 관련 사항은 수시로 변경될 수 있으며, 충분한 고지 기간 없이 시행되는 경우도 있습니다.</li>
                        <li>해당 내용은 코로나19 관련 목적지별 출입국 참고사항에 대한 최소한의 정보 제공 및 참고 목적으로,</li>
                        <li class="covidInfo_title_li">승객의 출입국 및 격리 등 검역 관련 절차에 대해 보장하지 않습니다.</li>
                        <li>보다 자세한 사항은 <a href="https://www.0404.go.kr/dev/newest_list.mofa" class="fontTypeE" target="_blank">외교부 여행안전사이트 최신 안전소식,</a> 각국 재외공관 홈페이지를 참고하시기 바랍니다.</li>
                    </ul>
                </div>
                <div class="covidInfo_line cursor">
                    <table>
                        <tr>
                            <td class="covidInfo1 check">대한민국</td>
                            <td class="covidInfo2">미주</td>
                            <td class="covidInfo3">일본</td>
                            <td class="covidInfo4">동북아</td>
                            <td class="covidInfo5">동남아</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- 한국 -->
            <div class="covidInfo_tab korea">
                <h3 class="typeA">참고 사항</h3>
                <ol>
                    <li>
                        <p>1. 대한민국에 입국하는 모든 승객(내/외국인)은 출발일 기준 48시간 이내 검사한 PCR 음성 확인서 제출 (22. 1.20 부)</p>
                        <ol>
                            <li>1) 예외 : 만 6세 미만 유소아, 환승객, 공무출장 및 인도적(장례) 목적 격리면제서 소지자</li>
                            <li>2) 국문 또는 영문 발급 원칙 (현지어일 경우, 국/영문 번역본, 번역인증서류 함께 제출)</li>
                            <li>3) 온라인 PCR 검역 서류를 발급 받은 경우, 프린트하여 실물 제출</li>
                            <li>4) 필리핀, 우즈베키스탄 출발의 경우, 재외공관에서 지정한 검사기관에서 발급한 PCR 음성 확인서 제출</li>
                            <li>5) PCR 음성 확인서 미 제출 또는 부적합 서류 제출자 : 항공기 탑승 불가 및 대한민국 입국 불가</li>
                            <li>※ 부적정 PCR 음성확인서 소지한 경우, 5일 시설비용 자부담 +2일 자가격리 실시</li>
                        </ol>
                    </li>
                    <li>
                        <p>2. 해외 입국자 격리 강화 : 예방접종완료자에게 적용되던 격리면제 미적용</p>
                        <ol>
                            <li>
                                <P>1) 내국인 및 장기체류 외국인 : 자가격리 7일</P>
                                <P>2) 단기체류 외국인 : 시설격리 7일</P>
                            </li>
                        </ol>
                    </li>
                    <li>3. 확정된 연계 항공권 소지 및 24시간 이내 환승만 허용</li>
                </ol>
                <h3 class="typeA">기타 사항</h3>
                <ol>
                    <li class="mt_n">1. 20.4.5 이전 발급된 모든 단수/복수 단기비자 효력 정지 (20. 4.13 부)</li>
                    <li class="mt_n">2. 국제선/국내선 탑승 전 승객 마스크 착용 의무 (20. 5.27 부)</li>
                    <li class="mt_n">
                        <p>3. 한국 거주하는 장기체류 외국인 대상 '재입국허가 면제' 중단 (20. 6. 1부)</p>
                        <ul class="caution">
                            <li>출국 전 재입국 허가를 득한 후 출국 필요</li>
                            <li>재입국 시 48시간 이내 발급된 코로나19 진단서 소지 필요 (국문 또는 영문)</li>
                            <li>예외1 : 외교(A-1), 공무(A-2), 협정(A-3), 재외동포(F-4), 난민여행증명서 소지자</li>
                            <li>예외2 : 20.5.31 이전 한국에서 출국한 뒤 재입국 하고자 하는 경우</li>
                        </ul>
                    </li>
                    <li>☞ 대한민국 전자여행허가제(K-ETA) 시행 (21. 9. 1 부) <a
                            href="https://www.k-eta.go.kr/portal/board/viewboarddetail.do?bbsSn=1713&tmpltNm=notice&bbsId=1"
                            class="fontTypeE" target="_blank">[바로가기]</a></li>
                    <li class="blt">※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.</li>
                    <li class="blt_sub">보다 자세한 사항은 COVID-19 공식 홈페이지를
                        <a href="http://ncov.mohw.go.kr/duBoardList.do?brdId=2&brdGubun=23&jjout=Y" class="fontTypeE"
                            target="_blank">[바로 가기]</a> 참고하시기 바랍니다.
                    </li>
                </ol>
            </div>
            <!-- 미주 -->
            <div class="covidInfo_tab usa">

                <h3 class="typeA">참고 사항</h3>
                <ol>
                    <li>
                        <p>1. 미국국적 시민권자/영주권자 및 이민비자 소유자 외 모든 외국인은 백신 접종 증명서 필요(21.11. 8 부)</p>
                        <ol>
                            <li>1) 예외 : 18세 미만, 의학적 사유로 백신접종 불가 경우, 미군 가족 및 자녀, 외교/공무, 승무원, 선원(C1/D 비자) 등</li>
                            <li>2) 미 FDA 및 WHO 승인 백신만 허용 (교차 접종 허용)</li>
                            <li>3) 접종 완료 기준 : 미국행 항공기 탑승 14일전 최종 접종 완료 (백신 종류별 횟수 충족)</li>
                            <li>
                                <P>4) 종이 또는 전자 사본 백신 접종 증명서 필요</P>
                                <ul class="caution">
                                    <li>성명/생년월일/백신제조사/접종횟수/접종일자/백신접종 증명서 발행 출처 등 명시</li>
                                </ul>
                            </li>
                        </ol>
                    </li>
                    <li class="blt">※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.</li>
                    <li class="blt_sub">보다 자세한 사항은 미국질병통제센터 홈페이지를 <a
                            href="https://www.cdc.gov/coronavirus/2019-ncov/travelers/international-travel-during-covid19.html"
                            class="fontTypeE" target="_blank">[바로가기]</a> 참고하시기 바랍니다.</li>
                </ol>
                <h3 class="typeA">기타 사항</h3>
                <ol>
                    <li>
                        <p>1. 괌 검역 필요 서류</p>
                        <ol>
                            <li>
                                <p>1) 백신 접종 증명서</p>
                                <ul class="caution">
                                    <li>미국 국적자/시민권자/영주권자 및 이민비자 소유자외 모든 외국인</li>
                                    <li>예외(외국인) : 18세 미만, 미군 가족 및 자녀의학적 사유로 백신 접종 불가 경우, 외교/공무, 선원 등</li>
                                    <li>백신 증명서 종류 : 종이 또는 전자 사본</li>
                                    <li>백신 미접종자 예외조건 확인 필요</li>
                                </ul>
                            </li>
                            <li>
                                <p>2) 출발 1일 이내 검체 채취 및 검사된 COVID-19 음성 확인서 필요 (21.12. 6부)</p>
                                <ul class="caution">
                                    <li>검사 종류 : PCR 검사 또는 Antigen(항원) 검사</li>
                                    <li>음성확인서 표기 언어 : 영어/한국어</li>
                                </ul>
                            </li>
                            <li>
                                <p>3) 격리면제 대상</p>
                                <ul class="caution">
                                    <li>유효한 PCR 음성확인서(영문) 소지한 백신 접종 완료자 또는 COVID-19 회복 승객</li>
                                </ul>
                            </li>
                            <li>4) 미국질병통제센터(CDC) 요구 서약서 (인천공항 수속시 작성)</li>
                        </ol>
                    </li>
                    <li class="blt">※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.</li>
                    <li class="blt_sub">보다 자세한 사항은 괌 관광청 홈페이지를 <a
                            href="https://www.welcometoguam.co.kr/about-guam/safety-tips/coronavirus_kr/"
                            class="fontTypeE" target="_blank">[바로가기]</a> 참고하시기 바랍니다.</li>
                </ol>

            </div>
            <!-- 일본 -->
            <div class="covidInfo_tab japan">
                <h3 class="typeA">참고 사항</h3>
                <ol>
                    <li>1. 모든 외국인의 신규 입국 금지 원칙 및 12월 2일 이전 발급된 사증 효력 중지</li>
                    <li>
                        <p>2. 예외적 입국허용 (외국인은 재입국 허가 또는 사증 등 필요)</p>
                        <ol>
                            <li>1) 일본 국적자의 귀국 (특별영주권자 포함)</li>
                            <li>2) 외국인 : 일본인/영주권자의 배우자, 자녀, 외교사증 소유자</li>
                            <li>3) 외국인 : 2021년 12월 2일 이전에 발급 사증 + 영사 Letter 보유자
                                <span>(영사 레터가 없는 경우 사증 효력중지되어 입국불가)</span>
                            </li>
                            <li>4) 외국인 : 체류자격을 보유한 외국인의 재입국</li>
                            <li>5) 외국인 : 인도적으로 특별한 배려가 필요한 경우</li>
                            <li>6) 외국인 : 백신개발기술자 등 공익성이 높다고 판단되는 경우</li>
                        </ol>
                    </li>
                    <li>
                        <p>3. 필요 서류</p>
                        <ol>
                            <li>
                                <p>1) 입국시 출발 72시간 내 검사 후 발급 받은 PCR 음성확인서 제출 필수</p>
                                <ul class="caution">
                                    <li>COVID-19음성확인서 제출 관련 상세사항 <a
                                            href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/0000121431_00248.html?jjout=Y"
                                            class="fontTypeE" target="_blank">[바로가기]</a></li>
                                    <li>후생노동성 권장 음성확인서 양식 <a
                                            href="https://www.mofa.go.jp/mofaj/ca/fna/page25_001994.html"
                                            class="fontTypeE" target="_blank">[바로가기]</a></li>
                                </ul>
                            </li>
                            <li>2) 온라인 전자질문표 QR 코드 <a
                                    href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/0000121431_00251.html"
                                    class="fontTypeE" target="_blank">[바로가기]</a></li>
                            <li>3) 검역 어플리케이션 2종 (MySOS, COCOA) 및 위치정보 허용 관련 <a
                                    href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/0000121431_00250.html"
                                    class="fontTypeE" target="_blank">[바로가기]</a></li>
                        </ol>
                    </li>
                    <li>
                        <p>4. 검역 규정</p>
                        <ol>
                            <li>
                                <p>1) 모든 해외 입국자는 일본공항 도착후 검사결과가 음성인 경우 7일 격리 실시 (시설 또는 자가)</p>
                                <ul class="caution">
                                    <li>한국 출발 승객의 경우 6일 시설 격리 + 1일 자가 격리</li>
                                    <li>일부 출발 국가 입국 즉시 지정 시설 격리 (격리 일자 상이)</li>
                                    <li>변이 바이러스 출발 국가 승객의 경우 도착 후 RT-PCR검사 실시</li>
                                    <li>검사 결과가 양성인 경우 정부 지정 시설 별도 격리</li>
                                </ul>
                            </li>
                            <li>2) 14일간 대중교통 이용 불가 : 가족 차량 또는 렌터카만 이용 가능</li>
                        </ol>
                    </li>
                    <li class="blt">※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.</li>
                    <li class="blt_sub">보다 자세한 사항은 일본 외무성 홈페이지를 <a
                            href="https://www.mofa.go.jp/ca/fna/page4e_001053.html" class="fontTypeE"
                            target="_blank">[바로가기]</a> 참고하시기 바랍니다.</li>
                </ol>

            </div>
            <!-- 동북아 -->
            <div class="covidInfo_tab china">
                <h3 class="typeA ft_type">중국</h3>
                <h3 class="typeA">참고 사항</h3>
                <ol>
                    <li>1. 입국 허용 : 외교 및 공무수행, C비자, 신규발급 비자(20. 3.28이후 발급) 소지자 및 유효한 거류허가증 Z(工作), Q(团聚), S(私人事务) 소지자</li>
                    <li class="blt mt_n">※ 기존 발급비자, 거류허가증, APEC 카드 소지자 입국 불가, 도착비자 발급 중단 및 무비자 환승 불가</li>
                    <li>
                        <p>2. 필요 서류</p>
                        <ol>
                            <li>1) 지정 의료기관에서 <a href="https://www.mfa.gov.cn/ce/cekor/chn/lsfw/lstzhtx/t1809084.htm"
                                    class="fontTypeE" target="_blank">[바로가기]</a> 출발 7일전 1차 PCR 검사+48시간 이내 PCR 검사 + 혈청
                                lgM 항체검사 실시</li>
                            <li>2) 상기 진단검사결과를 중국대사관 온라인 제출</li>
                            <li>3) 건강 QR 코드 소지 (외국 국적 <a href="https://hrhk.cs.mfa.gov.cn/H5/login" class="fontTypeE"
                                    target="_blank">[바로가기]</a>) 및 온라인 세관 건강신고서 제출 <a
                                    href="https://health.customsapp.com/healthweb/home/pages/index/index.html"
                                    class="fontTypeE" target="_blank">[바로가기]</a></li>
                        </ol>
                    </li>
                    <li>3. 격리 규정 : 입국후 PCR 진단검사 실시 및 지정 호텔 격리 28일 (시안 도착 기준)</li>
                </ol>
                <h3 class="typeA">기타 사항</h3>
                <ol>
                    <li>1. 제3국 출발 한국 경유 중국행 항공편 탑승 불가</li>
                    <li class="mt_n">2. 한국 출발 제3국 경유 중국행 항공편 탑승 불가</li>
                    <li class="blt">※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.</li>
                    <li class="blt_sub">보다 자세한 사항은 주 중국 대한민국 대사관 홈페이지 <a href="https://overseas.mofa.go.kr/cn-ko/brd/m_22308/list.do"
                            class="fontTypeE" target="_blank">[바로가기]</a> 참고하시기 바랍니다.
                    </li>
                </ol>
                <h3 class="typeA ft_type">홍콩</h3>
                <h3 class="typeA">참고 사항</h3>
                <ol>
                    <li>
                        <p>1. 위험국가 분류에 따라 일부 홍콩 비거주자 무비자 입국 허용 (지정 호텔 격리)</p>
                        <ol>
                            <li>
                                <P>1) 저위험국가 출발</P>
                                <ul class="caution">
                                    <li>홍콩 거주자/비거주자 : 백신 미접종 14일, 접종 완료 7일 지정 호텔 격리</li>
                                </ul>
                            </li>
                            <li>
                                <P>2) 중위험국가(고위험/저위험 국가 제외 나머지 국가) 출발</P>
                                <ul class="caution">
                                    <li>홍콩 거주자 : 백신 미접종 21일, 접종 완료 14일 지정 호텔 격리</li>
                                    <li>홍콩 비거주자 : 백신 접종 완료시 입국 가능, 14일 지정 호텔 격리</li>
                                </ul>
                            </li>
                            <li>
                                <P>3) 고위험국가 출발 (22년 1월 현재 한국 해당)</P>
                                <ul class="caution">
                                    <li>홍콩 거주자 : 백신 접종 완료시 입국 가능, 21일 지정 호텔 격리</li>
                                    <li>홍콩 비거주자 : 입국 불가</li>
                                </ul>
                            </li>
                            <li>
                                <P>4) 감시 강화 고위험국가 출발 (아프리카 12개국 및 미국, 영국, 카자흐스탄)</P>
                                <ul class="caution">
                                    <li>홍콩 거주자 : 백신 접종 완료 시 입국 가능, 4일 시설격리 + 17일 지정 호텔 격리</li>
                                    <li>홍콩 비거주자 : 입국 불가</li>
                                </ul>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p>2. 필요 서류</p>
                        <ol>
                            <li>1) 출발 48시간 이내 홍콩 정부 지정 기관에서 검사한 PCR 음성확인서 (21.12.24 부)</li>
                            <li>2) 정부 지정 호텔 예약증</li>
                            <li>3) 백신 접종 증명서 (21.12.5 부)</li>
                            <li>4) 온라인 건강 신고서</li>
                        </ol>
                    </li>
                </ol>
                <h3 class="typeA">기타 사항</h3>
                <ol>
                    <li>1. 한국발 승객 : 정부 지정 호텔 21박 22일 격리</li>
                    <li class="mt_n">2. 오미크론 확산 관련하여 정부 지정 일부 국가 출발 항공편의 한시적 홍콩 운항 금지</li>
                    <li class="blt">
                        ※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.</li>
                        <li class="blt_sub">보다 자세한 사항은 홍콩국제공항 홈페이지 <a href="https://www.hongkongairport.com/en/COVID19.page"
                            class="fontTypeE" target="_blank">[바로가기]</a> 참고하시기 바랍니다.
                    </li>
                </ol>

                <h3 class="typeA ft_type">마카오</h3>
                <h3 class="typeA">참고 사항</h3>
                <ol>
                    <li>
                        <p>1. 외국인 : 모든 외국인 입국 불가, 예외적 입국허용 신청 대상 <a
                                href="https://www.gcs.gov.mo/browserNotSupport;jsessionid=E56BD6888FC63C9F6F76F1C2B68564C9.app11?url=detail/en/N20KJrOyx0%3Ftopic%3DNovel_Coronavirus"
                                class="fontTypeE" target="_blank">[바로가기]</a></p>
                        <ol>
                            <li>
                                <P>1) 최근 21일내 중국 또는 마카오에 체류한 경우</P>
                                <ul class="caution">
                                    <li>마카오 거주자(영주권자)의 배우자 및 자녀</li>
                                    <li>마카오 거주 자격을 습득한 자</li>
                                    <li>마카오 고등교육기관에 등록된 학생</li>
                                    <li>중요한 사업, 학술적 목적으로 마카오 방문해야 하는 자</li>
                                    <li>취업 등 마카오 비거주 체류자격을 습득한 자 또는 그의 배우자 및 자녀</li>
                                    <li>마카오 내 중국영사부에서 발급받은 유효한 중국 비자를 소지한 경우(신청불요)</li>
                                </ul>
                            </li>
                            <li>
                                <p>2) 최근 21일내 중국, 마카오 외 국가에서 체류한 경우</p>
                                <ul class="caution">
                                    <li>마카오 공공이익 발전 목적에 부합하는 자</li>
                                    <li>마카오 정상 운영 또는 주민의 기본 생활 유지 목적에 부합하는 자</li>
                                </ul>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <p>2. 마카오, 중국, 홍콩, 대만 주민</p>
                        <ol>
                            <li>1) COVID-19 음성확인서 (최근 방문지역에 따라 추가 혈청 lgM 항체검사 필요)</li>
                            <li>2) 최근 방문 지역에 따라 격리 여부 및 격리기간 차등 적용</li>
                        </ol>
                    </li>
                    <li class="blt">
                        ※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.</li>
                        <li class="blt_sub">보다 자세한 사항은 마카오 정부 위생국 홈페이지를 <a
                            href="https://www.ssm.gov.mo/apps1/PreventCOVID-19/en.aspx#clg17044" class="fontTypeE"
                            target="_blank">[바로가기]</a> 참고하시기 바랍니다.
                    </li>
                </ol>
                <h3 class="typeA ft_type">대만</h3>
                <h3 class="typeA">참고 사항</h3>
                <ol>
                    <li>1. 대만인(거류증 및 특별비자 소지한 외국인, 외교관 포함) 외 입국금지 (대만내 환승 금지)</li>
                    <li>
                        <P>2. 입국필요서류:</P>
                        <ol>
                            <li>
                                <p>1) 대만에 입국하는 모든 승객은 도착 2일내 검사한 영문 음성확인서 지참 필요 (22.1.4 부)</p>
                                <ul class="caution">
                                    <li>영문 음성 확인증 내 필수 사항 : 여권이름, 생년월일 혹은 여권번호 및 검사받은 날자</li>
                                    <li>TEST 사항(COVID-19 또는 SARS-CoV-2)</li>
                                    <li>TEST방법(PCR, Real-Time PCR, RT-PCR, NAA, NAT, Molecular Diagnostics중 하나)</li>
                                    <li>TEST결과(Negative or Undetectable중 하나)</li>
                                </ul>
                            </li>
                            <li>2) Quarantine System for Entry <a
                                    href="https://hdhq.mohw.gov.tw/Default1?openExternalBrowser=1" class="fontTypeE"
                                    target="_blank">[바로가기]</a> 출발 48시간전 등록 필요</li>
                        </ol>
                    </li>
                    <li>3. 격리 규정 : 14일간 지정 호텔 혹은 자가격리 조치 (백신 접종 상황에 따라 상이함)</li>
                    <li class="blt">
                        ※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.</li>
                        <li class="blt_sub1">
                        보다 자세한 사항은 주 타이베이 대한민국 대표부 홈페이지 <a href="https://overseas.mofa.go.kr/tw-ko/brd/m_22345/list.do"
                            class="fontTypeE" target="_blank">[바로가기]</a> 또는 대만 이민국</li>
                            <li class="blt_sub">
                        홈페이지 <a href="https://www.immigration.gov.tw/5385/7445/211420/229781/211422/" class="fontTypeE"
                            target="_blank">[바로가기]</a> 참고하시기 바랍니다.
                    </li>
                </ol>

            </div>
            <!-- 동남아 -->
            <div class="covidInfo_tab taipei">
                <h3 class="typeA ft_type">태국</h3>
                <h3 class="typeA">참고 사항</h3>
                <ol>
                    <li>1. 태국 국적자/영주권자, 유효한 비자 소지 혹은 국가 간 무비자 협정 기준 충족한 외국인에 한하여 입국 가능 (한국 국적자 30일간 무비자 체류 가능)</li>
                    <li>2. Test & Go (격리 면제) 입국 재개 (21.2.1 부)</li>
                    <li>
                        <p>3. 필요 서류 (영문)</p>
                        <ol>
                            <li>1) Thiland Pass QR 코드 <a href="http://tp.consular.go.th/" class="fontTypeE"
                                    target="_blank">[바로가기]</a></li>
                            <li>
                                <p>2) 출발 72시간내 발급한 COVID-19 영문 RT-PCR음성확인서</p>
                                <ul class="caution">
                                    <li>예외 : 만 6세미만 유소아 (보호자 동반 조건)</li>
                                </ul>
                            </li>
                            <li>
                                <p>3) 영문 백신접종 증명서 (백신 접종 여부에 따라 격리 기간 차등 적용)</p>
                                <ul class="caution">
                                    <li>인정백신 : 화이자, 모더나, 아스트라제네카, 얀센, 시노팜, 시노백, 스푸트니크V</li>
                                </ul>
                            </li>
                            <li>4) USD 50,000 이상 보장 의료보험 가입 증명서</li>
                            <li>5) Test & Go 호텔 2박 예약 및 결제 확인서</li>
                            <ul class="caution">
                                <li>도착 당일 1차 PCR + 결과 대기 1박</li>
                                <li>도착 5일차 2차 PCR + 결과 대기 1박</li>
                            </ul>
                        </ol>
                    </li>
                </ol>
                <h3 class="typeA">기타 사항</h3>
                <ol>
                    <li>
                        <p>1. 푸켓 : SANDBOX PROGRAM 입국가능 (백신접종 완료자에 한함)</p>
                        <ol>
                            <li>1) 7일간 SHA Extra+ 호텔 숙박해야하며 푸켓내에서만 여행 가능</li>
                            <li>2) 2차 PCR 검사 음성 확인시 도착 8일 이후부터 다른 지역 이동 가능</li>
                            <li>3) PCR음성확인서 등 기타 태국 입국 필요서류 동일</li>
                        </ol>
                    </li>
                    <li>
                        <p>2. 격리별 예약 가능한 호텔 리스트 <a href="https://asq.in.th/" class="fontTypeE"
                                target="_blank">[바로가기]</a></p>
                    </li>
                    <li class="blt">
                        ※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.</li>
                        <li class="blt_sub">보다 자세한 사항은 태국 관광청 홈페이지를 <a href="http://www.visitthailand.or.kr/thai/" class="fontTypeE"
                            target="_blank">[바로가기]</a> 참고하시기 바랍니다.
                    </li>
                </ol>

                <h3 class="typeA ft_type">필리핀</h3>
                <h3 class="typeA">참고 사항</h3>
                <ol>
                    <li>
                        <P>1. 입국 허용</P>
                        <ol>
                            <li>1) 필리핀(전 필리핀 국적 포함) 국적자, 영주권자</li>
                            <li>2) 필리핀(전 필리핀 국적 포함) 국적자의 배우자/자녀/외국인 (유효한 입증서류 소지)</li>
                            <li>3) 필리핀 정부에서 입국 허용된 비자 소지 외국인 (단기방문비자 등 일부 비자는 Entry Exemption Document 등 추가 서류 필요)</li>
                            <li>※ 필리핀 정부 지정 고위험 지역 출발 또는 체류/방문 경력이 있는 자는 입국 불가</li>
                        </ol>
                    </li>
                    <li>
                        <P>2. 기존 무비자(도착비자) 입국 가능 국적 승객 입국 허용 (21.2.10 부)</P>
                        <ol>
                            <li>1) 출발기준 48시간 이내 실시한 RT-PCR 음성 확인서</li>
                            <li>2) 필리핀 정부에서 인정한 백신 접종 증명서</li>
                            <ul class="caution">
                                <li>만12세 미만 예외 (백신 접종 보호자 동반 조건)</li>
                            </ul>
                            <li>3) 30일내 왕복 항공권</li>
                            <li>4) 여권 유효기간 6개월 이상</li>
                            <li>5) USD 35,000이상의 여행자 보험</li>
                        </ol>
                    </li>
                    <li>
                        <P>3. 필요 서류</P>
                        <ol>
                            <li>
                                <p>1) 출발 기준 48시간 이내 실시한 COVID-19 PCR 음성확인서</p>
                                <ul class="caution">
                                    <li>예외 : 만 3세 이하</li>
                                </ul>
                            </li>
                            <li>2) TRAZE 어플리케이션 설치 <a href="https://www.traze.ph/download.php" class="fontTypeE"
                                    target="_blank">[바로가기]</a></li>
                            <li>
                                <p>3) OHP (One Health Pass) 등록 <a href="https://www.onehealthpass.com.ph/"
                                        class="fontTypeE" target="_blank">[바로가기]</a> 및 e-HDC(Health Declaration Card) 제출
                                </p>
                                <ul class="caution">
                                    <li>OHP 사전 등록 → 출발일 e-HDC 제출 → QR코드</li>
                                </ul>
                            </li>
                            <li>
                                <p>※ 클락공항 입국시 추가 필요서류 : e-CIF(Case Investigation Form) 제출 → QR코드</p>
                                <ul class="caution">
                                    <li>OFW e-CIF <a href="https://clients.dashlabs.app/60d158b0d881e26caca7d60e/form"
                                            class="fontTypeE" target="_blank">[바로가기]</a></li>
                                    <li>외국인용 e-CIF <a href="https://www.padlab.ph/DLS/eCIF" class="fontTypeE"
                                            target="_blank">[바로가기]</a></li>
                                </ul>
                            </li>
                            <li>4) 지정 호텔 사전 예약 필요 및 바우처 소지 (무비자/도착비자로 입국시 불요)</li>
                        </ol>
                    </li>
                    <li class="blt">
                        ※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.</li>
                        <li class="blt_sub">
                        보다 자세한 사항은 주 필리핀 대한민국 대사관 홈페이지를 <a
                            href="https://overseas.mofa.go.kr/ph-ko/wpge/m_23609/contents.do" class="fontTypeE"
                            target="_blank">[바로가기]</a> 참고하시기 바랍니다.
                    </li>
                </ol>

                <h3 class="typeA ft_type">말레이시아</h3>
                <h3 class="typeA">참고 사항</h3>
                <ol>
                    <li>
                        <p>1. 2021년 11월 1일부터, 유효한 말레이시아 장기체류비자를 소지한 모든 외국인은 사전 입국신청 없이 말레이시아 입출국 가능 단, 비자 미소지자(무사증), 비자
                            만료자, 신규 비자 신청자, 단기 기업 방문자는 기존과 같이 My Travel Pass(MTP)를 통한 사전입국 신청 및 이민국 승인 후 말레이시아에 입국 가능
                        </p>
                        <ol>
                            <li>1) 비 필수목적(관광) 입국 불가</li>
                            <li>2) 말레이시아 이민국 사전 입국 승인 신청(MTP) <a href="https://mtp.imi.gov.my/myTravelPass/main"
                                    class="fontTypeE" target="_blank">[바로가기]</a></li>
                        </ol>
                    </li>
                    <li>2. 말레이시아 정부 지정한 Red List해당 국가에 최근 14일 이내 방문 이력이 있는 외국인은 입국 불가 </li>
                    <li class="blt">
                        ※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.</li>
                        <li class="blt_sub">
                        보다 자세한 사항은 주 말레이시아 대한민국 대사관 홈페이지를 <a href="https://overseas.mofa.go.kr/my-ko/index.do"
                            class="fontTypeE" target="_blank">[바로가기]</a> 참고하시기 바랍니다.
                    </li>
                </ol>

                <h3 class="typeA ft_type">베트남</h3>
                <h3 class="typeA">참고 사항</h3>
                <ol>
                    <li>1. 모든 외국인 입국 불가</li>
                    <li>
                        <p>2. 예외적 입국 허용 : 베트남 정부로부터 특별입국 사전 승인 받은 자국민 및 외국인</p>
                        <ul class="caution">
                            <li>입국 허가 승인서 및 COVID-19 음성확인서 필요</li>
                        </ul>
                    </li>
                    <li class="blt">
                        ※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.</li>
                        <li class="blt_sub">
                        보다 자세한 사항은 주 베트남 대한민국 대사관 홈페이지를 <a href="https://overseas.mofa.go.kr/vn-ko/brd/m_22873/list.do"
                            class="fontTypeE" target="_blank">[바로가기]</a> 참고하시기 바랍니다.
                    </li>
                </ol>

                <!-- 미주 -->
                <div class="covidInfo tabCont" id="covidInfo2" style="display: none;">

                    <h2 class="desc">미국</h2>
                    <h3 class="typeA">참고 사항</h3>
                    <ol>
                        <li>
                            <p>1. 미국국적 시민권자/영주권자 및 이민비자 소유자 외 모든 외국인은 백신 접종 증명서 필요(21.11. 8 부)</p>
                            <ol>
                                <li>1) 예외 : 18세 미만, 의학적 사유로 백신접종 불가 경우, 미군 가족 및 자녀, 외교/공무, 승무원, 선원(C1/D 비자) 등</li>
                                <li>2) 미 FDA 및 WHO 승인 백신만 허용 (교차 접종 허용)</li>
                                <li>3) 접종 완료 기준 : 미국행 항공기 탑승 14일전 최종 접종 완료 (백신 종류별 횟수 충족)</li>
                                <li>
                                    <P>4) 종이 또는 전자 사본 백신 접종 증명서 필요</P>
                                    <ul class="caution">
                                        <li>성명/생년월일/백신제조사/접종횟수/접종일자/백신접종 증명서 발행 출처 등 명시</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <li class="blt">※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.<br>보다 자세한 사항은 미국질병통제센터 홈페이지를
                            <a href="https://www.cdc.gov/coronavirus/2019-ncov/travelers/international-travel-during-covid19.html"
                                class="fontTypeE" target="_blank">[바로가기]</a> 참고하시기 바랍니다.</li>
                    </ol>
                    <h3 class="typeA">기타 사항</h3>
                    <ol>
                        <li>
                            <p>1. 괌 검역 필요 서류</p>
                            <ol>
                                <li>
                                    <p>1) 백신 접종 증명서</p>
                                    <ul class="caution">
                                        <li>미국 국적자/시민권자/영주권자 및 이민비자 소유자외 모든 외국인</li>
                                        <li>예외(외국인) : 18세 미만, 미군 가족 및 자녀의학적 사유로 백신 접종 불가 경우, 외교/공무, 선원 등</li>
                                        <li>백신 증명서 종류 : 종이 또는 전자 사본</li>
                                        <li>백신 미접종자 예외조건 확인 필요</li>
                                    </ul>
                                </li>
                                <li>
                                    <p>2) 출발 1일 이내 검체 채취 및 검사된 COVID-19 음성 확인서 필요 (21.12. 6부)</p>
                                    <ul class="caution">
                                        <li>검사 종류 : PCR 검사 또는 Antigen(항원) 검사</li>
                                        <li>음성확인서 표기 언어 : 영어/한국어</li>
                                    </ul>
                                </li>
                                <li>
                                    <p>3) 격리면제 대상</p>
                                    <ul class="caution">
                                        <li>유효한 PCR 음성확인서(영문) 소지한 백신 접종 완료자 또는 COVID-19 회복 승객</li>
                                    </ul>
                                </li>
                                <li>4) 미국질병통제센터(CDC) 요구 서약서 (인천공항 수속시 작성)</li>
                            </ol>
                        </li>
                        <li class="blt">※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.<br>보다 자세한 사항은 괌 관광청 홈페이지를 <a
                                href="https://www.welcometoguam.co.kr/about-guam/safety-tips/coronavirus_kr/"
                                class="fontTypeE" target="_blank">[바로가기]</a> 참고하시기 바랍니다.</li>
                    </ol>

                </div>

                <!-- 일본 -->
                <div class="covidInfo tabCont" id="covidInfo3" style="display: none;">

                    <h2 class="desc">일본</h2>
                    <h3 class="typeA">참고 사항</h3>
                    <ol>
                        <li>1. 모든 외국인의 신규 입국 금지 원칙 및 12월 2일 이전 발급된 사증 효력 중지</li>
                        <li>
                            <p>2. 예외적 입국허용 (외국인은 재입국 허가 또는 사증 등 필요)</p>
                            <ol>
                                <li>1) 일본 국적자의 귀국 (특별영주권자 포함)</li>
                                <li>2) 외국인 : 일본인/영주권자의 배우자, 자녀, 외교사증 소유자</li>
                                <li>3) 외국인 : 2021년 12월 2일 이전에 발급 사증 + 영사 Letter 보유자
                                    <span>(영사 레터가 없는 경우 사증 효력중지되어 입국불가)</span>
                                </li>
                                <li>4) 외국인 : 체류자격을 보유한 외국인의 재입국</li>
                                <li>5) 외국인 : 인도적으로 특별한 배려가 필요한 경우</li>
                                <li>6) 외국인 : 백신개발기술자 등 공익성이 높다고 판단되는 경우</li>
                            </ol>
                        </li>
                        <li>
                            <p>3. 필요 서류</p>
                            <ol>
                                <li>
                                    <p>1) 입국시 출발 72시간 내 검사 후 발급 받은 PCR 음성확인서 제출 필수</p>
                                    <ul class="caution">
                                        <li>COVID-19음성확인서 제출 관련 상세사항 <a
                                                href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/0000121431_00248.html?jjout=Y"
                                                class="fontTypeE" target="_blank">[바로가기]</a></li>
                                        <li>후생노동성 권장 음성확인서 양식 <a
                                                href="https://www.mofa.go.jp/mofaj/ca/fna/page25_001994.html"
                                                class="fontTypeE" target="_blank">[바로가기]</a></li>
                                    </ul>
                                </li>
                                <li>2) 온라인 전자질문표 QR 코드 <a
                                        href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/0000121431_00251.html"
                                        class="fontTypeE" target="_blank">[바로가기]</a></li>
                                <li>3) 검역 어플리케이션 2종 (MySOS, COCOA) 및 위치정보 허용 관련 <a
                                        href="https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/0000121431_00250.html"
                                        class="fontTypeE" target="_blank">[바로가기]</a></li>
                            </ol>
                        </li>
                        <li>
                            <p>4. 검역 규정</p>
                            <ol>
                                <li>
                                    <p>1) 모든 해외 입국자는 일본공항 도착후 검사결과가 음성인 경우 7일 격리 실시 (시설 또는 자가)</p>
                                    <ul class="caution">
                                        <li>한국 출발 승객의 경우 6일 시설 격리 + 1일 자가 격리</li>
                                        <li>일부 출발 국가 입국 즉시 지정 시설 격리 (격리 일자 상이)</li>
                                        <li>변이 바이러스 출발 국가 승객의 경우 도착 후 RT-PCR검사 실시</li>
                                        <li>검사 결과가 양성인 경우 정부 지정 시설 별도 격리</li>
                                    </ul>
                                </li>
                                <li>2) 14일간 대중교통 이용 불가 : 가족 차량 또는 렌터카만 이용 가능</li>
                            </ol>
                        </li>
                        <li class="blt">※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.<br>보다 자세한 사항은 일본 외무성 홈페이지를
                            <a href="https://www.mofa.go.jp/ca/fna/page4e_001053.html" class="fontTypeE"
                                target="_blank">[바로가기]</a> 참고하시기 바랍니다.</li>
                    </ol>

                </div>

                <!-- 동북아 -->
                <div class="covidInfo tabCont" id="covidInfo4" style="display: none;">

                    <h2 class="desc">동북아</h2>
                    <h3 class="typeA ft_type">중국</h3>
                    <h3 class="typeA">참고 사항</h3>
                    <ol>
                        <li>1. 입국 허용 : 외교 및 공무수행, C비자, 신규발급 비자(20. 3.28이후 발급) 소지자 및 유효한 거류허가증 Z(工作), Q(团聚), S(私人事务) 소지자
                        </li>
                        <li class="blt mt_n">※ 기존 발급비자, 거류허가증, APEC 카드 소지자 입국 불가, 도착비자 발급 중단 및 무비자 환승 불가</li>
                        <li>
                            <p>2. 필요 서류</p>
                            <ol>
                                <li>1) 지정 의료기관에서 <a href="https://www.mfa.gov.cn/ce/cekor/chn/lsfw/lstzhtx/t1809084.htm"
                                        class="fontTypeE" target="_blank">[바로가기]</a> 출발 7일전 1차 PCR 검사+48시간 이내 PCR 검사 +
                                    혈청 lgM 항체검사 실시</li>
                                <li>2) 상기 진단검사결과를 중국대사관 온라인 제출</li>
                                <li>3) 건강 QR 코드 소지 (외국 국적 <a href="https://hrhk.cs.mfa.gov.cn/H5/login"
                                        class="fontTypeE" target="_blank">[바로가기]</a>) 및 온라인 세관 건강신고서 제출 <a
                                        href="https://health.customsapp.com/healthweb/home/pages/index/index.html"
                                        class="fontTypeE" target="_blank">[바로가기]</a></li>
                            </ol>
                        </li>
                        <li>3. 격리 규정 : 입국후 PCR 진단검사 실시 및 지정 호텔 격리 28일 (시안 도착 기준)</li>
                    </ol>
                    <h3 class="typeA">기타 사항</h3>
                    <ol>
                        <li>1. 제3국 출발 한국 경유 중국행 항공편 탑승 불가</li>
                        <li class="mt_n">2. 한국 출발 제3국 경유 중국행 항공편 탑승 불가</li>
                        <li class="blt">※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.<br>
                            보다 자세한 사항은 주 중국 대한민국 대사관 홈페이지 <a
                                href="https://overseas.mofa.go.kr/cn-ko/brd/m_22308/list.do" class="fontTypeE"
                                target="_blank">[바로가기]</a> 참고하시기 바랍니다.
                        </li>
                    </ol>

                    <h3 class="typeA ft_type">홍콩</h3>
                    <h3 class="typeA">참고 사항</h3>
                    <ol>
                        <li>
                            <p>1. 위험국가 분류에 따라 일부 홍콩 비거주자 무비자 입국 허용 (지정 호텔 격리)</p>
                            <ol>
                                <li>
                                    <P>1) 저위험국가 출발</P>
                                    <ul class="caution">
                                        <li>홍콩 거주자/비거주자 : 백신 미접종 14일, 접종 완료 7일 지정 호텔 격리</li>
                                    </ul>
                                </li>
                                <li>
                                    <P>2) 중위험국가(고위험/저위험 국가 제외 나머지 국가) 출발</P>
                                    <ul class="caution">
                                        <li>홍콩 거주자 : 백신 미접종 21일, 접종 완료 14일 지정 호텔 격리</li>
                                        <li>홍콩 비거주자 : 백신 접종 완료시 입국 가능, 14일 지정 호텔 격리</li>
                                    </ul>
                                </li>
                                <li>
                                    <P>3) 고위험국가 출발 (22년 1월 현재 한국 해당)</P>
                                    <ul class="caution">
                                        <li>홍콩 거주자 : 백신 접종 완료시 입국 가능, 21일 지정 호텔 격리</li>
                                        <li>홍콩 비거주자 : 입국 불가</li>
                                    </ul>
                                </li>
                                <li>
                                    <P>4) 감시 강화 고위험국가 출발 (아프리카 12개국 및 미국, 영국, 카자흐스탄)</P>
                                    <ul class="caution">
                                        <li>홍콩 거주자 : 백신 접종 완료 시 입국 가능, 4일 시설격리 + 17일 지정 호텔 격리</li>
                                        <li>홍콩 비거주자 : 입국 불가</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p>2. 필요 서류</p>
                            <ol>
                                <li>1) 출발 48시간 이내 홍콩 정부 지정 기관에서 검사한 PCR 음성확인서 (21.12.24 부)</li>
                                <li>2) 정부 지정 호텔 예약증</li>
                                <li>3) 백신 접종 증명서 (21.12.5 부)</li>
                                <li>4) 온라인 건강 신고서</li>
                            </ol>
                        </li>
                    </ol>
                    <h3 class="typeA">기타 사항</h3>
                    <ol>
                        <li>1. 한국발 승객 : 정부 지정 호텔 21박 22일 격리</li>
                        <li class="mt_n">2. 오미크론 확산 관련하여 정부 지정 일부 국가 출발 항공편의 한시적 홍콩 운항 금지</li>
                        <li class="blt">
                            ※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.<br>
                            보다 자세한 사항은 홍콩국제공항 홈페이지 <a href="https://www.hongkongairport.com/en/COVID19.page"
                                class="fontTypeE" target="_blank">[바로가기]</a> 참고하시기 바랍니다.
                        </li>
                    </ol>

                    <h3 class="typeA ft_type">마카오</h3>
                    <h3 class="typeA">참고 사항</h3>
                    <ol>
                        <li>
                            <p>1. 외국인 : 모든 외국인 입국 불가, 예외적 입국허용 신청 대상 <a
                                    href="https://www.gcs.gov.mo/browserNotSupport;jsessionid=E56BD6888FC63C9F6F76F1C2B68564C9.app11?url=detail/en/N20KJrOyx0%3Ftopic%3DNovel_Coronavirus"
                                    class="fontTypeE" target="_blank">[바로가기]</a></p>
                            <ol>
                                <li>
                                    <P>1) 최근 21일내 중국 또는 마카오에 체류한 경우</P>
                                    <ul class="caution">
                                        <li>마카오 거주자(영주권자)의 배우자 및 자녀</li>
                                        <li>마카오 거주 자격을 습득한 자</li>
                                        <li>마카오 고등교육기관에 등록된 학생</li>
                                        <li>중요한 사업, 학술적 목적으로 마카오 방문해야 하는 자</li>
                                        <li>취업 등 마카오 비거주 체류자격을 습득한 자 또는 그의 배우자 및 자녀</li>
                                        <li>마카오 내 중국영사부에서 발급받은 유효한 중국 비자를 소지한 경우(신청불요)</li>
                                    </ul>
                                </li>
                                <li>
                                    <p>2) 최근 21일내 중국, 마카오 외 국가에서 체류한 경우</p>
                                    <ul class="caution">
                                        <li>마카오 공공이익 발전 목적에 부합하는 자</li>
                                        <li>마카오 정상 운영 또는 주민의 기본 생활 유지 목적에 부합하는 자</li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p>2. 마카오, 중국, 홍콩, 대만 주민</p>
                            <ol>
                                <li>1) COVID-19 음성확인서 (최근 방문지역에 따라 추가 혈청 lgM 항체검사 필요)</li>
                                <li>2) 최근 방문 지역에 따라 격리 여부 및 격리기간 차등 적용</li>
                            </ol>
                        </li>
                        <li class="blt">
                            ※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.<br>
                            보다 자세한 사항은 마카오 정부 위생국 홈페이지를 <a
                                href="https://www.ssm.gov.mo/apps1/PreventCOVID-19/en.aspx#clg17044" class="fontTypeE"
                                target="_blank">[바로가기]</a> 참고하시기 바랍니다.
                        </li>
                    </ol>
                    <h3 class="typeA ft_type">대만</h3>
                    <h3 class="typeA">참고 사항</h3>
                    <ol>
                        <li>1. 대만인(거류증 및 특별비자 소지한 외국인, 외교관 포함) 외 입국금지 (대만내 환승 금지)</li>
                        <li>
                            <P>2. 입국필요서류:</P>
                            <ol>
                                <li>
                                    <p>1) 대만에 입국하는 모든 승객은 도착 2일내 검사한 영문 음성확인서 지참 필요 (22.1.4 부)</p>
                                    <ul class="caution">
                                        <li>영문 음성 확인증 내 필수 사항 : 여권이름, 생년월일 혹은 여권번호 및 검사받은 날자</li>
                                        <li>TEST 사항(COVID-19 또는 SARS-CoV-2)</li>
                                        <li>TEST방법(PCR, Real-Time PCR, RT-PCR, NAA, NAT, Molecular Diagnostics중 하나)</li>
                                        <li>TEST결과(Negative or Undetectable중 하나)</li>
                                    </ul>
                                </li>
                                <li>2) Quarantine System for Entry <a
                                        href="https://hdhq.mohw.gov.tw/Default1?openExternalBrowser=1" class="fontTypeE"
                                        target="_blank">[바로가기]</a> 출발 48시간전 등록 필요</li>
                            </ol>
                        </li>
                        <li>3. 격리 규정 : 14일간 지정 호텔 혹은 자가격리 조치 (백신 접종 상황에 따라 상이함)</li>
                        <li class="blt">
                            ※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.<br>
                            보다 자세한 사항은 주 타이베이 대한민국 대표부 홈페이지 <a
                                href="https://overseas.mofa.go.kr/tw-ko/brd/m_22345/list.do" class="fontTypeE"
                                target="_blank">[바로가기]</a> 또는 대만 이민국<br>
                            홈페이지 <a href="https://www.immigration.gov.tw/5385/7445/211420/229781/211422/"
                                class="fontTypeE" target="_blank">[바로가기]</a> 참고하시기 바랍니다.
                        </li>
                    </ol>

                </div>

                <!-- 동남아 -->
                <div class="covidInfo tabCont" id="covidInfo5" style="display: none;">

                    <h2 class="desc">동남아</h2>
                    <h3 class="typeA ft_type">태국</h3>
                    <h3 class="typeA">참고 사항</h3>
                    <ol>
                        <li>1. 태국 국적자/영주권자, 유효한 비자 소지 혹은 국가 간 무비자 협정 기준 충족한 외국인에 한하여 입국 가능 (한국 국적자 30일간 무비자 체류 가능)</li>
                        <li>2. Test & Go (격리 면제) 입국 재개 (21.2.1 부)</li>
                        <li>
                            <p>3. 필요 서류 (영문)</p>
                            <ol>
                                <li>1) Thiland Pass QR 코드 <a href="http://tp.consular.go.th/" class="fontTypeE"
                                        target="_blank">[바로가기]</a></li>
                                <li>
                                    <p>2) 출발 72시간내 발급한 COVID-19 영문 RT-PCR음성확인서</p>
                                    <ul class="caution">
                                        <li>예외 : 만 6세미만 유소아 (보호자 동반 조건)</li>
                                    </ul>
                                </li>
                                <li>
                                    <p>3) 영문 백신접종 증명서 (백신 접종 여부에 따라 격리 기간 차등 적용)</p>
                                    <ul class="caution">
                                        <li>인정백신 : 화이자, 모더나, 아스트라제네카, 얀센, 시노팜, 시노백, 스푸트니크V</li>
                                    </ul>
                                </li>
                                <li>4) USD 50,000 이상 보장 의료보험 가입 증명서</li>
                                <li>5) Test & Go 호텔 2박 예약 및 결제 확인서</li>
                                <ul class="caution">
                                    <li>도착 당일 1차 PCR + 결과 대기 1박</li>
                                    <li>도착 5일차 2차 PCR + 결과 대기 1박</li>
                                </ul>
                            </ol>
                        </li>
                    </ol>
                    <h3 class="typeA">기타 사항</h3>
                    <ol>
                        <li>
                            <p>1. 푸켓 : SANDBOX PROGRAM 입국가능 (백신접종 완료자에 한함)</p>
                            <ol>
                                <li>1) 7일간 SHA Extra+ 호텔 숙박해야하며 푸켓내에서만 여행 가능</li>
                                <li>2) 2차 PCR 검사 음성 확인시 도착 8일 이후부터 다른 지역 이동 가능</li>
                                <li>3) PCR음성확인서 등 기타 태국 입국 필요서류 동일</li>
                            </ol>
                        </li>
                        <li>
                            <p>2. 격리별 예약 가능한 호텔 리스트 <a href="https://asq.in.th/" class="fontTypeE"
                                    target="_blank">[바로가기]</a></p>
                        </li>
                        <li class="blt">
                            ※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.<br>
                            보다 자세한 사항은 태국 관광청 홈페이지를 <a href="http://www.visitthailand.or.kr/thai/" class="fontTypeE"
                                target="_blank">[바로가기]</a> 참고하시기 바랍니다.
                        </li>
                    </ol>

                    <h3 class="typeA ft_type">필리핀</h3>
                    <h3 class="typeA">참고 사항</h3>
                    <ol>
                        <li>
                            <P>1. 입국 허용</P>
                            <ol>
                                <li>1) 필리핀(전 필리핀 국적 포함) 국적자, 영주권자</li>
                                <li>2) 필리핀(전 필리핀 국적 포함) 국적자의 배우자/자녀/외국인 (유효한 입증서류 소지)</li>
                                <li>3) 필리핀 정부에서 입국 허용된 비자 소지 외국인 (단기방문비자 등 일부 비자는 Entry Exemption Document 등 추가 서류 필요)
                                </li>
                                <li>※ 필리핀 정부 지정 고위험 지역 출발 또는 체류/방문 경력이 있는 자는 입국 불가</li>
                            </ol>
                        </li>
                        <li>
                            <P>2. 기존 무비자(도착비자) 입국 가능 국적 승객 입국 허용 (21.2.10 부)</P>
                            <ol>
                                <li>1) 출발기준 48시간 이내 실시한 RT-PCR 음성 확인서</li>
                                <li>2) 필리핀 정부에서 인정한 백신 접종 증명서</li>
                                <ul class="caution">
                                    <li>만12세 미만 예외 (백신 접종 보호자 동반 조건)</li>
                                </ul>
                                <li>3) 30일내 왕복 항공권</li>
                                <li>4) 여권 유효기간 6개월 이상</li>
                                <li>5) USD 35,000이상의 여행자 보험</li>
                            </ol>
                        </li>
                        <li>
                            <P>3. 필요 서류</P>
                            <ol>
                                <li>
                                    <p>1) 출발 기준 48시간 이내 실시한 COVID-19 PCR 음성확인서</p>
                                    <ul class="caution">
                                        <li>예외 : 만 3세 이하</li>
                                    </ul>
                                </li>
                                <li>2) TRAZE 어플리케이션 설치 <a href="https://www.traze.ph/download.php" class="fontTypeE"
                                        target="_blank">[바로가기]</a></li>
                                <li>
                                    <p>3) OHP (One Health Pass) 등록 <a href="https://www.onehealthpass.com.ph/"
                                            class="fontTypeE" target="_blank">[바로가기]</a> 및 e-HDC(Health Declaration
                                        Card) 제출</p>
                                    <ul class="caution">
                                        <li>OHP 사전 등록 → 출발일 e-HDC 제출 → QR코드</li>
                                    </ul>
                                </li>
                                <li>
                                    <p>※ 클락공항 입국시 추가 필요서류 : e-CIF(Case Investigation Form) 제출 → QR코드</p>
                                    <ul class="caution">
                                        <li>OFW e-CIF <a
                                                href="https://clients.dashlabs.app/60d158b0d881e26caca7d60e/form"
                                                class="fontTypeE" target="_blank">[바로가기]</a></li>
                                        <li>외국인용 e-CIF <a href="https://www.padlab.ph/DLS/eCIF" class="fontTypeE"
                                                target="_blank">[바로가기]</a></li>
                                    </ul>
                                </li>
                                <li>4) 지정 호텔 사전 예약 필요 및 바우처 소지 (무비자/도착비자로 입국시 불요)</li>
                            </ol>
                        </li>
                        <li class="blt">
                            ※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.<br>
                            보다 자세한 사항은 주 필리핀 대한민국 대사관 홈페이지를 <a
                                href="https://overseas.mofa.go.kr/ph-ko/wpge/m_23609/contents.do" class="fontTypeE"
                                target="_blank">[바로가기]</a> 참고하시기 바랍니다.
                        </li>
                    </ol>

                    <h3 class="typeA ft_type">말레이시아</h3>
                    <h3 class="typeA">참고 사항</h3>
                    <ol>
                        <li>
                            <p>1. 2021년 11월 1일부터, 유효한 말레이시아 장기체류비자를 소지한 모든 외국인은 사전 입국신청 없이 말레이시아 입출국 가능 단, 비자 미소지자(무사증),
                                비자 만료자, 신규 비자 신청자, 단기 기업 방문자는 기존과 같이 My Travel Pass(MTP)를 통한 사전입국 신청 및 이민국 승인 후 말레이시아에
                                입국 가능</p>
                            <ol>
                                <li>1) 비 필수목적(관광) 입국 불가</li>
                                <li>2) 말레이시아 이민국 사전 입국 승인 신청(MTP) <a href="https://mtp.imi.gov.my/myTravelPass/main"
                                        class="fontTypeE" target="_blank">[바로가기]</a></li>
                            </ol>
                        </li>
                        <li>2. 말레이시아 정부 지정한 Red List해당 국가에 최근 14일 이내 방문 이력이 있는 외국인은 입국 불가 </li>
                        <li class="blt">
                            ※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.<br>
                            보다 자세한 사항은 주 말레이시아 대한민국 대사관 홈페이지를 <a href="https://overseas.mofa.go.kr/my-ko/index.do"
                                class="fontTypeE" target="_blank">[바로가기]</a> 참고하시기 바랍니다.
                        </li>
                    </ol>

                    <h3 class="typeA ft_type">베트남</h3>
                    <h3 class="typeA">참고 사항</h3>
                    <ol>
                        <li>1. 모든 외국인 입국 불가</li>
                        <li>
                            <p>2. 예외적 입국 허용 : 베트남 정부로부터 특별입국 사전 승인 받은 자국민 및 외국인</p>
                            <ul class="caution">
                                <li>입국 허가 승인서 및 COVID-19 음성확인서 필요</li>
                            </ul>
                        </li>
                        <li class="blt">
                            ※ 상기 정보는 담당기관 방침에 따라 수시로 변동된 사항이 반영되어 있지 않을 수 있습니다.<br>
                            보다 자세한 사항은 주 베트남 대한민국 대사관 홈페이지를 <a
                                href="https://overseas.mofa.go.kr/vn-ko/brd/m_22873/list.do" class="fontTypeE"
                                target="_blank">[바로가기]</a> 참고하시기 바랍니다.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- 푸터-->
    <div th:replace="userpage/fragment/footer :: footer"></div>
    <!--푸터 끝-->
    </div>
    <!--wrap 끝-->
    <!--퀵 메뉴-->
    <div th:replace="userpage/fragment/quickmenu :: quickmenu"></div>
    <!--퀵 메뉴 끝-->
    <div class="modal"></div>
</body>

</html>