<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<div th:replace="userpage/fragment/head :: head"></div>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="/userpage/lib/css/index/index.css"/>
<script src="/userpage/app/index/index.js"></script>
<script src="/userpage/app/index/index_reserve.js"></script>
<!-- head.html 끝-->
<body>
<ul class="skipnavi">
    <!--책갈피 역할-->
    <li><a href="#container">본문내용</a></li>
</ul>
<!--wrap-->
<div id="wrap">
    <!--header-->
    <div th:replace="${loginURL} :: menu"></div>
    <!--header 끝-->
    <!--container-->
    <div id="container">
        <div class="w_1160">
            <div class="visual">
                <img src="/userpage/lib/img/main.png" alt="메인 이미지" />
            </div>
            <!-- 예약 -->
            <div id="reservation">
                <form action="">
                    <input type="hidden" name="trip-type-option">
                    <input type="hidden" name="person-type-option">
                    <input type="hidden" name="go_select_opt">
                    <input type="hidden" name="arrive_select_opt">
                    <input type="hidden" name="go_select_opt2">
                    <input type="hidden" name="arrive_select_opt2">
                    <input type="hidden" name="go_date">
                    <input type="hidden" name="come_date">
                    <!-- 옵션 선택 -->
                    <div class="sel_option">
                        <!-- pc select -->
                        <div class="pc_select in_bl">
                            <div class="trip_type in_bl">
                                <div class="trip_layerbtn">
                                        <span class="trip_select_opt">
                                            왕복
                                        </span>
                                    <span>
                                            <img class="trip_down_img" src="/userpage/lib/img/down.png" alt="드롭다운" />
                                            <img class="trip_up_img" src="/userpage/lib/img/up.png" alt="드롭업" />
                                        </span>
                                </div>
                                <ul class="trip_pop_layer in_bl">
                                    <li class="trip_type1">
                                            <span role="trip-type-option">왕복
                                            </span>
                                    </li>
                                    <li class="trip_type2">
                                            <span role="trip-type-option">편도
                                            </span>
                                    </li>
                                    <li class="trip_type3">
                                            <span role="trip-type-option">다구간
                                            </span>
                                    </li>
                                </ul>
                                <input type="hidden" value="왕복" id="hidden_trip_type">
                            </div>
                            <div class="person_type in_bl">
                                <div class="person_layerbtn">
                                    <strong class="person_num" name="person_num">성인 1</strong>
                                    <span>
                                            <img class="person_down_img" src="/userpage/lib/img/down.png" alt="드롭다운" />
                                            <img class="person_up_img" src="/userpage/lib/img/up.png" alt="드롭업" />
                                        </span>
                                </div>
                                <ul class="person_pop_layer in_bl">
                                    <li>
                                        <div class="w_180 in_bl">
                                            <input type="hidden" value="1" class="adultPaxCnt">
                                            <strong class="num_font" name="adultPaxCnt">1</strong>
                                            <span role="person-type-option" class="person_type1 person_font">성인
                                                </span>
                                        </div>
                                        <div class="person_btn in_bl">
                                            <a href="javascript://" name="adultPaxCntDown"
                                               onclick="fnSetPaxCountDown('ADULT', this);"><img
                                                    src="//images.jinair.com/images/btn/btn_minus.png" alt="-"></a>
                                            <a href="javascript://" name="adultPaxCntUp"
                                               onclick="fnSetPaxCountUp('ADULT', this);"><img
                                                    src="//images.jinair.com/images/btn/btn_plus.png" alt="+"></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="w_180 in_bl">
                                            <input type="hidden" value="0" class="childPaxCnt">
                                            <strong class="num_font" name="childPaxCnt">0</strong>
                                            <span role="person-type-option" class="person_type2 person_font">소아
                                                </span>
                                            <button class="child_info_btn">
                                                <img src="/userpage/lib/img/ico_question.png" alt="질문">
                                            </button>
                                            <div class="child_modal">
                                                <p>소아<em>(탑승일 기준)</em></p>
                                                <ul>
                                                    <li>[국내선] 만 2세 - 만 13세 미만</li>
                                                    <li>[국제선] 만 2세 - 만 12세 미만</li>
                                                </ul>
                                                <span class="des">* 국내선의 경우 각 구간별 탑승일 기준으로 나이 계산,<br>국제선의 경우 첫구간 탑승일
                                                        기준으로 나이 계산
                                                        <br>* 탑승 수속 시 생년월일 확인 가능한 서류 지참 필수
                                                    </span>
                                            </div>
                                        </div>
                                        <div class="person_btn in_bl">
                                            <a href="javascript://" onclick="fnSetPaxCountDown('CHILD',this);"
                                               class="disable"><img
                                                    src="//images.jinair.com/images/btn/btn_minus.png" alt="-"></a>
                                            <a href="javascript://" onclick="fnSetPaxCountUp('CHILD',this);"><img
                                                    src="//images.jinair.com/images/btn/btn_plus.png" alt="+"></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="w_180 in_bl">
                                            <input type="hidden" value="0" class="infantPaxCnt">
                                            <strong class="num_font" name="infantPaxCnt">0</strong>
                                            <span role="person-type-option" class="person_type3 person_font">유아
                                                </span>
                                            <button class="baby_info_btn">
                                                <img src="/userpage/lib/img/ico_question.png" alt="질문">
                                            </button>
                                            <div class="infant_modal">
                                                <p>유아<em>(탑승일 기준)</em></p>
                                                <ul>
                                                    <li>[국내선] 생후 7일 이상 - 만 2세 미만</li>
                                                    <li>[국제선] 생후 7일 이상 - 만 2세 미만</li>
                                                </ul>
                                                <span class="des">* 국내선의 경우 각 구간별 탑승일 기준으로 나이 계산,<br>국제선의 경우 첫구간 탑승일
                                                        기준으로 나이 계산
                                                        <br>* 탑승 수속 시 생년월일 확인 가능한 서류 지참 필수
                                                    </span>
                                            </div>
                                        </div>
                                        <div class="person_btn in_bl">
                                            <a href="javascript://" name="infantPaxCntDown"
                                               onclick="fnSetPaxCountDown('INFANT',this);" class="disable"><img
                                                    src="//images.jinair.com/images/btn/btn_minus.png" alt="-"></a>
                                            <a href="javascript://" name="infantPaxCntUp"
                                               onclick="fnSetPaxCountUp('INFANT',this);"><img
                                                    src="//images.jinair.com/images/btn/btn_plus.png" alt="+"></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="submit_btn">
                                            <a href="javascript://" onclick="submit()">확인</a>
                                        </div>
                                    </li>
                                    <!-- <li>
                                        <div class="cnt_age">
                                            <a href="#">
                                                유/소아 나이 계산기
                                                <img src="./img/double_right.png" alt="이동">
                                            </a>
                                        </div>
                                    </li> -->
                                </ul>
                            </div>
                            <div class="bonus in_bl">
                                    <img src="/userpage/lib/img/ico_jinair.png" alt="진에어 아이콘"/>
                                    <span>보너스 항공권 예매</span>
                                </a>
                            </div>
                        </div>
                        <!-- pc select 끝 -->
                    </div>
                    <!-- 옵션 선택 끝 -->
                    <!-- 예약 선택-->
                    <div class="in_bl">
                        <!-- 예약 선택 / 왕복 -->
                        <div class="reserve_round">
                            <div class="go_select in_bl">
                                <div class="go_layerbtn">
                                        <span class="go_select_opt"><input type="text" value="출발지" class="go_select_optt" readonly></span>
                                </div>
                                <div class="go_layer">
                                    <div class="KOR in_bl">
                                        <h3>한국</h3>
                                        <ul>
                                            <li><a>서울/인천(ICN)</a></li>
                                            <li><a>서울/김포(GMP)</a></li>
                                            <li><a>부산(PUS)</a></li>
                                            <li><a>제주(CJU)</a></li>
                                            <li><a>청주(CJJ)</a></li>
                                            <li><a>광주(KWJ)</a></li>
                                            <li><a>대구(TAE)</a></li>
                                            <li><a>여수(RSU)</a></li>
                                            <li><a>울산(USN)</a></li>
                                            <li><a>포항(KPO)</a></li>
                                            <li><a>원주(WJU)</a></li>
                                            <li><a>군산(KUV)</a></li>
                                            <li><a>사천(HIN)</a></li>
                                        </ul>
                                    </div>
                                    <div class="ENA in_bl">
                                        <h3>동북아</h3>
                                        <ul>
                                            <li><a>도쿄/나리타(NRT)</a></li>
                                            <li><a>오사카/간사이(KIX)</a></li>
                                            <li><a>후쿠오카(FUK)</a></li>
                                            <li><a>삿포로(CTS)</a></li>
                                            <li><a>오키나와(OKA)</a></li>
                                            <li><a>기타큐슈(KKJ)</a></li>
                                            <li><a>상하이/푸동(PVG)</a></li>
                                            <li><a>시안(XIY)</a></li>
                                            <li><a>홍콩(HKG)</a></li>
                                            <li><a>마카오(MFM)</a></li>
                                            <li><a>타이베이/타오위안(TPE)</a></li>
                                            <li><a>칭다오(TAO)</a></li>
                                        </ul>
                                    </div>
                                    <div class="ESA in_bl">
                                        <h3>동남아</h3>
                                        <ul>
                                            <li><a>방콕(BKK)</a></li>
                                            <li><a>푸껫(HKT)</a></li>
                                            <li><a>치앙마이(CNX)</a></li>
                                            <li><a>세부(CEB)</a></li>
                                            <li><a>클락(CRK)</a></li>
                                            <li><a>보라카이/칼리보(KLO)</a></li>
                                            <li><a>다낭(DAD)</a></li>
                                            <li><a>하노이(HAN)</a></li>
                                            <li><a>비엔티안(VTE)</a></li>
                                            <li><a>코타 키나발루(BKI)</a></li>
                                            <li><a>조호르바루(JHB)</a></li>
                                            <li><a class="nonselect" onclick="return false;">다카(DAC)</a></li>
                                        </ul>
                                    </div>
                                    <div class="OCE in_bl">
                                        <h3>대양주</h3>
                                        <ul>
                                            <li><a>괌(GUM)</a></li>
                                        </ul>
                                    </div>
                                    <div class="USA in_bl">
                                        <h3>미주</h3>
                                        <ul>
                                            <li><a>하와이, 호놀룰루(HNL)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="arrive_select in_bl">
                                <div class="arrive_layerbtn">
                                        <span class="arrive_select_opt"><input type="text" value="도착지" readonly
                                                                               class="arrive_select_optt"></span>
                                </div>
                                <div class="arrive_layer">
                                    <div class="KOR in_bl">
                                        <h3>한국</h3>
                                        <ul>
                                            <li><a>서울/인천(ICN)</a></li>
                                            <li><a>서울/김포(GMP)</a></li>
                                            <li><a>부산(PUS)</a></li>
                                            <li><a>제주(CJU)</a></li>
                                            <li><a>청주(CJJ)</a></li>
                                            <li><a>광주(KWJ)</a></li>
                                            <li><a>대구(TAE)</a></li>
                                            <li><a>여수(RSU)</a></li>
                                            <li><a>울산(USN)</a></li>
                                            <li><a>포항(KPO)</a></li>
                                            <li><a>원주(WJU)</a></li>
                                            <li><a>군산(KUV)</a></li>
                                            <li><a>사천(HIN)</a></li>
                                        </ul>
                                    </div>
                                    <div class="ENA in_bl">
                                        <h3>동북아</h3>
                                        <ul>
                                            <li><a>도쿄/나리타(NRT)</a></li>
                                            <li><a>오사카/간사이(KIX)</a></li>
                                            <li><a>후쿠오카(FUK)</a></li>
                                            <li><a>삿포로(CTS)</a></li>
                                            <li><a>오키나와(OKA)</a></li>
                                            <li><a>기타큐슈(KKJ)</a></li>
                                            <li><a>상하이/푸동(PVG)</a></li>
                                            <li><a>시안(XIY)</a></li>
                                            <li><a>홍콩(HKG)</a></li>
                                            <li><a>마카오(MFM)</a></li>
                                            <li><a>타이베이/타오위안(TPE)</a></li>
                                            <li><a>칭다오(TAO)</a></li>
                                        </ul>
                                    </div>
                                    <div class="ESA in_bl">
                                        <h3>동남아</h3>
                                        <ul>
                                            <li><a>방콕(BKK)</a></li>
                                            <li><a>푸껫(HKT)</a></li>
                                            <li><a>치앙마이(CNX)</a></li>
                                            <li><a>세부(CEB)</a></li>
                                            <li><a>클락(CRK)</a></li>
                                            <li><a>보라카이/칼리보(KLO)</a></li>
                                            <li><a>다낭(DAD)</a></li>
                                            <li><a>하노이(HAN)</a></li>
                                            <li><a>비엔티안(VTE)</a></li>
                                            <li><a>코타 키나발루(BKI)</a></li>
                                            <li><a>조호르바루(JHB)</a></li>
                                            <li><a class="nonselect" onclick="return false;">다카(DAC)</a></li>
                                        </ul>
                                    </div>
                                    <div class="OCE in_bl">
                                        <h3>대양주</h3>
                                        <ul>
                                            <li><a>괌(GUM)</a></li>
                                        </ul>
                                    </div>
                                    <div class="USA in_bl">
                                        <h3>미주</h3>
                                        <ul>
                                            <li><a>하와이, 호놀룰루(HNL)</a></li>
                                        </ul>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="go_date in_bl">
                                <div class="go_date_layerbtn">
                                        <span class="go_date_select_opt"><input type="text" value="가는날" readonly
                                                                                class="go_date_select_optt"></span>
                                </div>
                            </div>
                            <div class="come_date in_bl">
                                <div class="come_date_layerbtn">
                                        <span class="come_date_select_opt"><input type="text" value="오는날" readonly
                                                                                  class="come_date_select_optt"></span>
                                </div>
                            </div>
                        </div>
                        <!-- 예약 선택 / 왕복 끝 -->
                        <!-- 예약 선택 / 편도 -->
                        <div class="reserve_oneway">
                            <div class="go_select in_bl">
                                <div class="go_layerbtn">
                                        <span class="go_select_opt"><input type="text" value="출발지" readonly
                                                                           class="go_select_optt"></span>
                                </div>
                                <div class="go_layer">
                                    <div class="KOR in_bl">
                                        <h3>한국</h3>
                                        <ul>
                                            <li><a>서울/인천(ICN)</a></li>
                                            <li><a>서울/김포(GMP)</a></li>
                                            <li><a>부산(PUS)</a></li>
                                            <li><a>제주(CJU)</a></li>
                                            <li><a>청주(CJJ)</a></li>
                                            <li><a>광주(KWJ)</a></li>
                                            <li><a>대구(TAE)</a></li>
                                            <li><a>여수(RSU)</a></li>
                                            <li><a>울산(USN)</a></li>
                                            <li><a>포항(KPO)</a></li>
                                            <li><a>원주(WJU)</a></li>
                                            <li><a>군산(KUV)</a></li>
                                            <li><a>사천(HIN)</a></li>
                                        </ul>
                                    </div>
                                    <div class="ENA in_bl">
                                        <h3>동북아</h3>
                                        <ul>
                                            <li><a>도쿄/나리타(NRT)</a></li>
                                            <li><a>오사카/간사이(KIX)</a></li>
                                            <li><a>후쿠오카(FUK)</a></li>
                                            <li><a>삿포로(CTS)</a></li>
                                            <li><a>오키나와(OKA)</a></li>
                                            <li><a>기타큐슈(KKJ)</a></li>
                                            <li><a>상하이/푸동(PVG)</a></li>
                                            <li><a>시안(XIY)</a></li>
                                            <li><a>홍콩(HKG)</a></li>
                                            <li><a>마카오(MFM)</a></li>
                                            <li><a>타이베이/타오위안(TPE)</a></li>
                                            <li><a>칭다오(TAO)</a></li>
                                        </ul>
                                    </div>
                                    <div class="ESA in_bl">
                                        <h3>동남아</h3>
                                        <ul>
                                            <li><a>방콕(BKK)</a></li>
                                            <li><a>푸껫(HKT)</a></li>
                                            <li><a>치앙마이(CNX)</a></li>
                                            <li><a>세부(CEB)</a></li>
                                            <li><a>클락(CRK)</a></li>
                                            <li><a>보라카이/칼리보(KLO)</a></li>
                                            <li><a>다낭(DAD)</a></li>
                                            <li><a>하노이(HAN)</a></li>
                                            <li><a>비엔티안(VTE)</a></li>
                                            <li><a>코타 키나발루(BKI)</a></li>
                                            <li><a>조호르바루(JHB)</a></li>
                                            <li><a class="nonselect" onclick="return false;">다카(DAC)</a></li>
                                        </ul>
                                    </div>
                                    <div class="OCE in_bl">
                                        <h3>대양주</h3>
                                        <ul>
                                            <li><a>괌(GUM)</a></li>
                                        </ul>
                                    </div>
                                    <div class="USA in_bl">
                                        <h3>미주</h3>
                                        <ul>
                                            <li><a>하와이, 호놀룰루(HNL)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="arrive_select in_bl">
                                <div class="arrive_layerbtn">
                                        <span class="arrive_select_opt"><input type="text" value="도착지" readonly
                                                                               class="arrive_select_optt"></span>
                                </div>
                                <div class="arrive_layer">
                                    <div class="KOR in_bl">
                                        <h3>한국</h3>
                                        <ul>
                                            <li><a>서울/인천(ICN)</a></li>
                                            <li><a>서울/김포(GMP)</a></li>
                                            <li><a>부산(PUS)</a></li>
                                            <li><a>제주(CJU)</a></li>
                                            <li><a>청주(CJJ)</a></li>
                                            <li><a>광주(KWJ)</a></li>
                                            <li><a>대구(TAE)</a></li>
                                            <li><a>여수(RSU)</a></li>
                                            <li><a>울산(USN)</a></li>
                                            <li><a>포항(KPO)</a></li>
                                            <li><a>원주(WJU)</a></li>
                                            <li><a>군산(KUV)</a></li>
                                            <li><a>사천(HIN)</a></li>
                                        </ul>
                                    </div>
                                    <div class="ENA in_bl">
                                        <h3>동북아</h3>
                                        <ul>
                                            <li><a>도쿄/나리타(NRT)</a></li>
                                            <li><a>오사카/간사이(KIX)</a></li>
                                            <li><a>후쿠오카(FUK)</a></li>
                                            <li><a>삿포로(CTS)</a></li>
                                            <li><a>오키나와(OKA)</a></li>
                                            <li><a>기타큐슈(KKJ)</a></li>
                                            <li><a>상하이/푸동(PVG)</a></li>
                                            <li><a>시안(XIY)</a></li>
                                            <li><a>홍콩(HKG)</a></li>
                                            <li><a>마카오(MFM)</a></li>
                                            <li><a>타이베이/타오위안(TPE)</a></li>
                                            <li><a>칭다오(TAO)</a></li>
                                        </ul>
                                    </div>
                                    <div class="ESA in_bl">
                                        <h3>동남아</h3>
                                        <ul>
                                            <li><a>방콕(BKK)</a></li>
                                            <li><a>푸껫(HKT)</a></li>
                                            <li><a>치앙마이(CNX)</a></li>
                                            <li><a>세부(CEB)</a></li>
                                            <li><a>클락(CRK)</a></li>
                                            <li><a>보라카이/칼리보(KLO)</a></li>
                                            <li><a>다낭(DAD)</a></li>
                                            <li><a>하노이(HAN)</a></li>
                                            <li><a>비엔티안(VTE)</a></li>
                                            <li><a>코타 키나발루(BKI)</a></li>
                                            <li><a>조호르바루(JHB)</a></li>
                                            <li><a class="nonselect" onclick="return false;">다카(DAC)</a></li>
                                        </ul>
                                    </div>
                                    <div class="OCE in_bl">
                                        <h3>대양주</h3>
                                        <ul>
                                            <li><a>괌(GUM)</a></li>
                                        </ul>
                                    </div>
                                    <div class="USA in_bl">
                                        <h3>미주</h3>
                                        <ul>
                                            <li><a>하와이, 호놀룰루(HNL)</a></li>
                                        </ul>
                                    </div>
                                </div>
                                </a>
                            </div>
                            <div class="go_date2 in_bl">
                                <div class="go_date_layerbtn">
                                        <span class="go_date_select_opt"><input type="text" value="가는날" readonly
                                                                                class="go_date_select_optt"></span>
                                </div>
                            </div>
                        </div>
                        <!-- 예약 선택 / 편도 끝 -->
                        <!-- 예약 선택 / 다구간 -->
                        <div class="reserve_multi">
                            <div class="multi1">
                                <div class="go_select in_bl">
                                    <div class="go_layerbtn">
                                            <span class="go_select_opt"><input type="text" value="출발지" readonly
                                                                               class="go_select_optt"></span>
                                    </div>
                                    <div class="go_layer">
                                        <div class="KOR in_bl">
                                            <h3>한국</h3>
                                            <ul>
                                                <li><a>서울/인천(ICN)</a></li>
                                                <li><a>서울/김포(GMP)</a></li>
                                                <li><a>부산(PUS)</a></li>
                                                <li><a>제주(CJU)</a></li>
                                                <li><a>청주(CJJ)</a></li>
                                                <li><a>광주(KWJ)</a></li>
                                                <li><a>대구(TAE)</a></li>
                                                <li><a>여수(RSU)</a></li>
                                                <li><a>울산(USN)</a></li>
                                                <li><a>포항(KPO)</a></li>
                                                <li><a>원주(WJU)</a></li>
                                                <li><a>군산(KUV)</a></li>
                                                <li><a>사천(HIN)</a></li>
                                            </ul>
                                        </div>
                                        <div class="ENA in_bl">
                                            <h3>동북아</h3>
                                            <ul>
                                                <li><a>도쿄/나리타(NRT)</a></li>
                                                <li><a>오사카/간사이(KIX)</a></li>
                                                <li><a>후쿠오카(FUK)</a></li>
                                                <li><a>삿포로(CTS)</a></li>
                                                <li><a>오키나와(OKA)</a></li>
                                                <li><a>기타큐슈(KKJ)</a></li>
                                                <li><a>상하이/푸동(PVG)</a></li>
                                                <li><a>시안(XIY)</a></li>
                                                <li><a>홍콩(HKG)</a></li>
                                                <li><a>마카오(MFM)</a></li>
                                                <li><a>타이베이/타오위안(TPE)</a></li>
                                                <li><a>칭다오(TAO)</a></li>
                                            </ul>
                                        </div>
                                        <div class="ESA in_bl">
                                            <h3>동남아</h3>
                                            <ul>
                                                <li><a>방콕(BKK)</a></li>
                                                <li><a>푸껫(HKT)</a></li>
                                                <li><a>치앙마이(CNX)</a></li>
                                                <li><a>세부(CEB)</a></li>
                                                <li><a>클락(CRK)</a></li>
                                                <li><a>보라카이/칼리보(KLO)</a></li>
                                                <li><a>다낭(DAD)</a></li>
                                                <li><a>하노이(HAN)</a></li>
                                                <li><a>비엔티안(VTE)</a></li>
                                                <li><a>코타 키나발루(BKI)</a></li>
                                                <li><a>조호르바루(JHB)</a></li>
                                                <li><a class="nonselect" onclick="return false;">다카(DAC)</a></li>
                                            </ul>
                                        </div>
                                        <div class="OCE in_bl">
                                            <h3>대양주</h3>
                                            <ul>
                                                <li><a>괌(GUM)</a></li>
                                            </ul>
                                        </div>
                                        <div class="USA in_bl">
                                            <h3>미주</h3>
                                            <ul>
                                                <li><a>하와이, 호놀룰루(HNL)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="arrive_select in_bl">
                                    <div class="arrive_layerbtn">
                                            <span class="arrive_select_opt"><input type="text" value="도착지" readonly
                                                                                   class="arrive_select_optt"></span>
                                    </div>
                                    <div class="arrive_layer">
                                        <div class="KOR in_bl">
                                            <h3>한국</h3>
                                            <ul>
                                                <li><a>서울/인천(ICN)</a></li>
                                                <li><a>서울/김포(GMP)</a></li>
                                                <li><a>부산(PUS)</a></li>
                                                <li><a>제주(CJU)</a></li>
                                                <li><a>청주(CJJ)</a></li>
                                                <li><a>광주(KWJ)</a></li>
                                                <li><a>대구(TAE)</a></li>
                                                <li><a>여수(RSU)</a></li>
                                                <li><a>울산(USN)</a></li>
                                                <li><a>포항(KPO)</a></li>
                                                <li><a>원주(WJU)</a></li>
                                                <li><a>군산(KUV)</a></li>
                                                <li><a>사천(HIN)</a></li>
                                            </ul>
                                        </div>
                                        <div class="ENA in_bl">
                                            <h3>동북아</h3>
                                            <ul>
                                                <li><a>도쿄/나리타(NRT)</a></li>
                                                <li><a>오사카/간사이(KIX)</a></li>
                                                <li><a>후쿠오카(FUK)</a></li>
                                                <li><a>삿포로(CTS)</a></li>
                                                <li><a>오키나와(OKA)</a></li>
                                                <li><a>기타큐슈(KKJ)</a></li>
                                                <li><a>상하이/푸동(PVG)</a></li>
                                                <li><a>시안(XIY)</a></li>
                                                <li><a>홍콩(HKG)</a></li>
                                                <li><a>마카오(MFM)</a></li>
                                                <li><a>타이베이/타오위안(TPE)</a></li>
                                                <li><a>칭다오(TAO)</a></li>
                                            </ul>
                                        </div>
                                        <div class="ESA in_bl">
                                            <h3>동남아</h3>
                                            <ul>
                                                <li><a>방콕(BKK)</a></li>
                                                <li><a>푸껫(HKT)</a></li>
                                                <li><a>치앙마이(CNX)</a></li>
                                                <li><a>세부(CEB)</a></li>
                                                <li><a>클락(CRK)</a></li>
                                                <li><a>보라카이/칼리보(KLO)</a></li>
                                                <li><a>다낭(DAD)</a></li>
                                                <li><a>하노이(HAN)</a></li>
                                                <li><a>비엔티안(VTE)</a></li>
                                                <li><a>코타 키나발루(BKI)</a></li>
                                                <li><a>조호르바루(JHB)</a></li>
                                                <li><a class="nonselect" onclick="return false;">다카(DAC)</a></li>
                                            </ul>
                                        </div>
                                        <div class="OCE in_bl">
                                            <h3>대양주</h3>
                                            <ul>
                                                <li><a>괌(GUM)</a></li>
                                            </ul>
                                        </div>
                                        <div class="USA in_bl">
                                            <h3>미주</h3>
                                            <ul>
                                                <li><a>하와이, 호놀룰루(HNL)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                                <div class="go_date2 in_bl">
                                    <div class="go_date_layerbtn">
                                            <span class="go_date_select_opt"><input type="text" value="가는날" readonly
                                                                                    class="go_date_select_optt"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="multi2">
                                <div class="go_select in_bl">
                                    <div class="go_layerbtn2">
                                            <span class="go_select_opt2"> <input type="text" value="출발지" readonly
                                                                                 class="go_select_optt2"></span>
                                    </div>
                                    <div class="go_layer2">
                                        <div class="KOR in_bl">
                                            <h3>한국</h3>
                                            <ul>
                                                <li><a>서울/인천(ICN)</a></li>
                                                <li><a>서울/김포(GMP)</a></li>
                                                <li><a>부산(PUS)</a></li>
                                                <li><a>제주(CJU)</a></li>
                                                <li><a>청주(CJJ)</a></li>
                                                <li><a>광주(KWJ)</a></li>
                                                <li><a>대구(TAE)</a></li>
                                                <li><a>여수(RSU)</a></li>
                                                <li><a>울산(USN)</a></li>
                                                <li><a>포항(KPO)</a></li>
                                                <li><a>원주(WJU)</a></li>
                                                <li><a>군산(KUV)</a></li>
                                                <li><a>사천(HIN)</a></li>
                                            </ul>
                                        </div>
                                        <div class="ENA in_bl">
                                            <h3>동북아</h3>
                                            <ul>
                                                <li><a>도쿄/나리타(NRT)</a></li>
                                                <li><a>오사카/간사이(KIX)</a></li>
                                                <li><a>후쿠오카(FUK)</a></li>
                                                <li><a>삿포로(CTS)</a></li>
                                                <li><a>오키나와(OKA)</a></li>
                                                <li><a>기타큐슈(KKJ)</a></li>
                                                <li><a>상하이/푸동(PVG)</a></li>
                                                <li><a>시안(XIY)</a></li>
                                                <li><a>홍콩(HKG)</a></li>
                                                <li><a>마카오(MFM)</a></li>
                                                <li><a>타이베이/타오위안(TPE)</a></li>
                                                <li><a>칭다오(TAO)</a></li>
                                            </ul>
                                        </div>
                                        <div class="ESA in_bl">
                                            <h3>동남아</h3>
                                            <ul>
                                                <li><a>방콕(BKK)</a></li>
                                                <li><a>푸껫(HKT)</a></li>
                                                <li><a>치앙마이(CNX)</a></li>
                                                <li><a>세부(CEB)</a></li>
                                                <li><a>클락(CRK)</a></li>
                                                <li><a>보라카이/칼리보(KLO)</a></li>
                                                <li><a>다낭(DAD)</a></li>
                                                <li><a>하노이(HAN)</a></li>
                                                <li><a>비엔티안(VTE)</a></li>
                                                <li><a>코타 키나발루(BKI)</a></li>
                                                <li><a>조호르바루(JHB)</a></li>
                                                <li><a class="nonselect" onclick="return false;">다카(DAC)</a></li>
                                            </ul>
                                        </div>
                                        <div class="OCE in_bl">
                                            <h3>대양주</h3>
                                            <ul>
                                                <li><a>괌(GUM)</a></li>
                                            </ul>
                                        </div>
                                        <div class="USA in_bl">
                                            <h3>미주</h3>
                                            <ul>
                                                <li><a>하와이, 호놀룰루(HNL)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="arrive_select2 in_bl">
                                    <div class="arrive_layerbtn2">
                                            <span class="arrive_select_opt2"><input type="text" value="도착지" readonly
                                                                                    class="arrive_select_optt2"></span>
                                    </div>
                                    <div class="arrive_layer2">
                                        <div class="KOR in_bl">
                                            <h3>한국</h3>
                                            <ul>
                                                <li><a>서울/인천(ICN)</a></li>
                                                <li><a>서울/김포(GMP)</a></li>
                                                <li><a>부산(PUS)</a></li>
                                                <li><a>제주(CJU)</a></li>
                                                <li><a>청주(CJJ)</a></li>
                                                <li><a>광주(KWJ)</a></li>
                                                <li><a>대구(TAE)</a></li>
                                                <li><a>여수(RSU)</a></li>
                                                <li><a>울산(USN)</a></li>
                                                <li><a>포항(KPO)</a></li>
                                                <li><a>원주(WJU)</a></li>
                                                <li><a>군산(KUV)</a></li>
                                                <li><a>사천(HIN)</a></li>
                                            </ul>
                                        </div>
                                        <div class="ENA in_bl">
                                            <h3>동북아</h3>
                                            <ul>
                                                <li><a>도쿄/나리타(NRT)</a></li>
                                                <li><a>오사카/간사이(KIX)</a></li>
                                                <li><a>후쿠오카(FUK)</a></li>
                                                <li><a>삿포로(CTS)</a></li>
                                                <li><a>오키나와(OKA)</a></li>
                                                <li><a>기타큐슈(KKJ)</a></li>
                                                <li><a>상하이/푸동(PVG)</a></li>
                                                <li><a>시안(XIY)</a></li>
                                                <li><a>홍콩(HKG)</a></li>
                                                <li><a>마카오(MFM)</a></li>
                                                <li><a>타이베이/타오위안(TPE)</a></li>
                                                <li><a>칭다오(TAO)</a></li>
                                            </ul>
                                        </div>
                                        <div class="ESA in_bl">
                                            <h3>동남아</h3>
                                            <ul>
                                                <li><a>방콕(BKK)</a></li>
                                                <li><a>푸껫(HKT)</a></li>
                                                <li><a>치앙마이(CNX)</a></li>
                                                <li><a>세부(CEB)</a></li>
                                                <li><a>클락(CRK)</a></li>
                                                <li><a>보라카이/칼리보(KLO)</a></li>
                                                <li><a>다낭(DAD)</a></li>
                                                <li><a>하노이(HAN)</a></li>
                                                <li><a>비엔티안(VTE)</a></li>
                                                <li><a>코타 키나발루(BKI)</a></li>
                                                <li><a>조호르바루(JHB)</a></li>
                                                <li><a class="nonselect" onclick="return false;">다카(DAC)</a></li>
                                            </ul>
                                        </div>
                                        <div class="OCE in_bl">
                                            <h3>대양주</h3>
                                            <ul>
                                                <li><a>괌(GUM)</a></li>
                                            </ul>
                                        </div>
                                        <div class="USA in_bl">
                                            <h3>미주</h3>
                                            <ul>
                                                <li><a>하와이, 호놀룰루(HNL)</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                                <div class="go_date3 in_bl">
                                    <div class="go_date_layerbtn2">
                                            <span class="go_date_select_opt2"> <input type="text" value="가는날" readonly
                                                                                      class="go_date_select_optt2"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 예약 선택 / 다구간 끝 -->
                    </div>
                    <!-- 예약 선택끝 -->
                    <div class="reserve_btn in_bl">
                        <input type="button" value="다음" class="reservate" id="reservateBTN"></input>
                    </div>
                </form>
            </div>
            <!-- 예약 끝 -->
            <!-- 예약 조회 및 체크인 -->
            <div class="reserve_service">
                <div class="reserve_check in_bl">
                    <a href="/pages/index/mypageMain"><img src="/userpage/lib/img/reserve_check.png"
                                                                           alt="예약조회" />
                        예약조회</a>
                </div>
                <div class="check_in in_bl">
                    <a href="/pages/index/checkinfo_list"><img
                            src="/userpage/lib/img/checkin.png" alt="체크인" />
                        체크인</a>
                </div>
            </div>
            <!-- 예약 조회 및 체크인 끝 -->
            <!-- 이미지 슬라이드 -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="/pages/promotion/event">
                            <img src="/userpage/lib/img/1ad.png" alt="1번" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/pages/promotion/event">
                            <img src="/userpage/lib/img/2ad.png" alt="2번" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/pages/promotion/event">
                            <img src="/userpage/lib/img/3ad.png" alt="3번" />
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <p class="controller">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </p>
                <div class="wrap-autoplay-control">
                    <button class="slide_controll" aria-pressed="false" aria-label="자동 재생 일시정지"></button>
                </div>
            </div>
            <!-- 이미지 슬라이드 끝 -->
        </div>
        <div class="w_100p">
            <div class="service_list">
                <h3>다양한 서비스와 혜택</h3>
                <ul>
                    <li class="service_item in_bl">
                        <a href="/pages/index/bundle">
                            <img src="/userpage/lib/img/service1.png" alt="1번">
                            <div class="service_text">번들서비스</div>
                        </a>
                    </li>
                    <li class="service_item in_bl">
                        <a href="/pages/index/seat">
                            <img src="/userpage/lib/img/service2.png" alt="2번">
                            <div class="service_text">사전좌석지정</div>
                        </a>
                    </li>
                    <li class="service_item in_bl">
                        <a href="/pages/index/seat">
                            <img src="/userpage/lib/img/service3.png" alt="3번">
                            <div class="service_text">사전수하물</div>
                        </a>
                    </li>
                    <li class="service_item in_bl">
                        <a href="/pages/optional/rentcar">
                            <img src="/userpage/lib/img/service4.png" alt="4번">
                            <div class="service_text">차량제휴서비스</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w_1160">
            <div class="covid_alert">
                <a href="/pages/index/covid19Info">
                    <img src="/userpage/lib/img/img_covid19_ko_KR.jpg" alt="코로나 참고사항">
                </a>
            </div>
        </div>
    </div>
    <!--container 끝-->
    <!-- 푸터-->
    <div th:replace="userpage/fragment/footer :: footer"></div>
    <!--푸터 끝-->
</div>
<!--wrap 끝-->
<!--퀵 메뉴-->
<div th:replace="userpage/fragment/quickmenu :: quickmenu"></div>
<div class="modal">
</div>
<div class="bonus_modal">
    <div class="bonus_box">
        <div class="modal_title">
            <p>보너스 항공 쿠폰</p>
        </div>
        <div class="modal_main">
            <div class="modal_bonus">
                <p class="maintitle">나비포인트 보너스 항공권 또는 이벤트 경품 보너스 항공권 쿠폰을 선택해 주세요.</p>
                <p class="subtext">- 각 보너스 항공권 쿠폰은 마이페이지를 통해 발급 또는 등록하신 후 사용 가능합니다.</p>
                <p class="subtext">- 다음의 보너스 항공권 사용 조건을 확인해 주세요.</p>
                <p class="subtext">(여정 구분, 사용 가능 구간, 출발 가능 요일, 사용 및 탑승 유효기간)</p>
            </div>
            <div class="btn">
                <input type="button" class="btn_agree" value="확인">
                <input type="button" class="btn_cancel" value="취소">
            </div>
        </div>
    </div>
</div>
<!-- 모달 모음 -->
<div class="modal_container">
    <div class="modals">
        <p class="moditext"></p>
        <input type="button" value="확인" class="btn_cancel">
    </div>
</div>
<!-- 달력 -->
<div class="cal">
    <div class="calwrapper">
        <div class="caltop">
            <p class="whatday">가는날</p>
            <p class="cal_right">다음 3개월</p>
        </div>
        <table>
            <tr>
                <td>일</td>
                <td>월</td>
                <td>화</td>
                <td>수</td>
                <td>목</td>
                <td>금</td>
                <td>토</td>
            </tr>
        </table>
        <div class="calinner">
            <div class="calscroll">
                <iframe src="/pages/index/cal" frameborder="0" id="ifm"></iframe>
            </div>
        </div>
    </div>
    <div class="x_box"><img src="/userpage/lib/img/image-removebg-preview.png" alt=""></div>
</div>
<div class="cal2">
    <div class="calwrapper">
        <div class="caltop">
            <p class="whatday">가는날</p>
            <p class="cal_right">다음 3개월</p>
        </div>
        <table>
            <tr>
                <td>일</td>
                <td>월</td>
                <td>화</td>
                <td>수</td>
                <td>목</td>
                <td>금</td>
                <td>토</td>
            </tr>
        </table>
        <div class="calinner">
            <div class="calscroll">
                <iframe src="/pages/index/onewaycal" frameborder="0" id="ifm1"></iframe>
            </div>
        </div>
    </div>
    <div class="x_box"><img src="/userpage/lib/img/image-removebg-preview.png" alt=""></div>
</div>
<div class="cal3">
    <div class="calwrapper">
        <div class="caltop">
            <p class="whatday">가는날</p>
            <p class="cal_right">다음 3개월</p>
        </div>
        <table>
            <tr>
                <td>일</td>
                <td>월</td>
                <td>화</td>
                <td>수</td>
                <td>목</td>
                <td>금</td>
                <td>토</td>
            </tr>
        </table>
        <div class="calinner">
            <div class="calscroll">
                <iframe src="/pages/index/multical" frameborder="0" id="ifm2"></iframe>
            </div>
        </div>
    </div>
    <div class="x_box"><img src="/userpage/lib/img/image-removebg-preview.png" alt=""></div>
</div>
</body>
</html>
