<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<div th:replace="/userpage/fragment/head :: head"></div>
<link rel="stylesheet" href="/userpage/lib/css/serviceCount/airport/baggage.css">
<script src="/userpage/app/serviceCount/airport/baggage.js"></script>
    <body>
        <ul class="skipnavi">
            <!--책갈피 역할-->
            <li><a href="#container">본문내용</a></li>
        </ul>
        <!--wrap-->
        <div id="wrap">
            <!--header-->
            <div th:replace="${loginURL} :: menu"></div>
            <!--header 끝-->
            <!-- containet -->
            <div id="container">
                <div class="contentswrap">
                    <div class="baggage">
                        <p class="title_img"></p>
                        <p class="baggage_title">수하물</p>
                        <p class="title_sub">수하물 관련정보를 확인하세요</p>
                    </div>
                    <div class="baggage_kind">
                        <table>
                            <tr>
                                <th class="bag_save cursor">수하물 안내</th>
                                <th class="bag_limit cursor">운송 제한 품목</th>
                                <th class="bag_compensation cursor">수하물 배상 안내</th>
                                <th class="bag_find cursor">기내 유실물 찾기</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="baggage tabCont" id="baggage1" style="display: block;">
                    <h3 class="typeA">
                        휴대 수하물
                    </h3>
                    <ul class="caution">
                        <li>고객이 기내로 가져갈 수 있는 수하물을 말합니다.</li>
                        <li>10 kg 이하 1개에 한함
                            <br>(세변의 합이 115 cm 이하, 각 변의 최대치는 가로 40 cm, 세로 20 cm, 높이 55 cm미만)
                        </li>
                    </ul>
                    <ul class="caution typeC">
                        <li>
                            추가 허용 품목 : 노트북 컴퓨터, 서류가방, 핸드백 중 1개</li>
                    </ul>
                    <ul class="caution">
                        <li>
                            객실 안전 및 승객의 편의를 위해 통로 및 비상구로의 접근을 방해하거나 주변 승객에게 불편을 줄 수 있는 개인 편의 용품은 기내 사용이
                            불가합니다.
                            <br>(예 : Bed Box, Fly Legs Up, FLY-Tot, Plane Pal, Inflatable Cube 등)
                        </li>
                    </ul>
                    <ul class="caution typeC">
                        <li>단, 기내 휴대 수하물 허용 규격에 부합하는 경우 기내 반입은 가능하나, 기내 탑재공간 부족시 탑승구에서 위탁될수 있으니 이점 양지하시기
                            바랍니다.</li>
                    </ul>

                    <h3 class="typeA">무료 위탁수하물</h3>
                    <ul class="caution">
                        <li>고객이 출발지 공항에서 항공사에 탁송 의뢰하여 목적지 공항에서 수취하는 수하물을 말합니다.</li>
                        <li>안전한 수하물 위탁을 위해 가방(짐)은 항공사에서 안내하는 지정된 크기와 무게를 지켜 준비하여 주시기 바랍니다.</li>
                        <li>위탁 수하물 1개의 크기가 203cm(가로 X 세로 X 높이의 합)를 초과할 경우 위탁 수하물로서의 운송이 거절될 수 있습니다.</li>
                        <li>위탁 수하물 1개의 무게는 32kg을 초과할 수 없으며, 초과 시에는 분리하여 포장해 주셔야 합니다.</li>
                    </ul>
                    <table class="bbsList bbsList_top">
                        <colgroup>
                            <col width="20%">
                            <col width="">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">지역</th>
                                <th scope="col">성인 및 소아 (만 2세 이상)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">국내선</th>
                                <td class="al">15KG</td>
                            </tr>
                            <tr>
                                <th scope="row">동남아/일본/홍콩/마카오/대만</th>
                                <td class="al">15KG</td>
                            </tr>
                            <tr>
                                <th scope="row">중국 본토</th>
                                <td class="al">20KG</td>
                            </tr>
                            <tr>
                                <th scope="row">괌</th>
                                <td class="al">1개, 23KG 이하 (최대 세변의 합이 158cm 이내)</td>
                            </tr>
                            <tr>
                                <th scope="row">하와이</th>
                                <td class="al">2개, 각 23KG 이하 (최대 세변의 합이 각 158cm 이내, 2개의 합이 273cm 이하)</td>
                            </tr>
                            <tr>
                                <th scope="row">케언스</th>
                                <td class="al">1개, 23KG 이하 (최대 세변의 합이 158cm 이내)</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="bbsList bbsList_bottom">
                        <colgroup>
                            <col width="20%">
                            <col width="">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">지역</th>
                                <th scope="col">유아 (만 2세 미만)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">국내선</th>
                                <td class="al">접는 유모차, 유아용 카시트 중 1개</td>
                            </tr>
                            <tr>
                                <th scope="row">국제선</th>
                                <td class="al">세변의 합이 115cm, 10KG 이하의 수하물 1개 및 접는 유모차 1개 또는 유아용 카시트 1개(총2개)</td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>
                    <ul class="caution typeC">
                        <li>
                            Jetstar 인터라인 (케언즈/골드코스트) 무료수하물 : 1개, 20kg 이하 (최대 세변의 합이 158cm이내)
                            <ul>
                                <li>호주 출발편은 Jetstar 수하물 규정이 적용됨.</li>
                                <li>인터라인 협정에 따라 무료수하물 규정이 사전예고 없이 변경 될 수있음.</li>
                            </ul>
                        </li>
                    </ul>
                    <h3 class="typeA">초과 수하물 안내</h3>
                    <ul class="caution">
                        <li>무료 위탁 수하물 허용량을 초과할 경우 아래와 같은 초과수하물 요금이 부과됩니다.</li>
                        <li>위탁 수하물 1개의 무게는 32kg을 초과할 수 없으며, 초과 시에는 분리하여 포장해 주시기 바랍니다.</li>
                        <li>다음 요금은 공항 현장 구매시 요금입니다. 온라인에서 사전 수하물을 구매하시면 추가 할인을 받을 수 있습니다.</li>
                    </ul>

                    <h3 class="typeA">초과 수하물 요금</h3>

                    <table class="bbsList bbsList_all">
                        <colgroup>
                            <col width="32%">
                            <col width="18%">
                            <col width="12%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">지역</th>
                                <th scope="col">기준</th>
                                <th scope="col" colspan="2">요금</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>국내선</td>
                                <td rowspan="4">1 KG 당</td>
                                <td colspan="2">KRW 2,000</td>
                            </tr>
                            <tr>
                                <td>일본/중국본토</td>
                                <td colspan="2">KRW 10,000 / USD 10</td>
                            </tr>
                            <tr>
                                <td>홍콩/마카오/대만</td>
                                <td colspan="2">KRW 14,000 / USD 14</td>
                            </tr>
                            <tr>
                                <td>동남아</td>
                                <td colspan="2">KRW 15,000 / USD 15</td>
                            </tr>
                            <tr>
                                <td rowspan="2">대양주</td>
                                <td rowspan="6" class="bb">1 PC 당</td>
                                <td>개수초과</td>
                                <td rowspan="2">KRW 50,000 / USD 50</td>
                            </tr>
                            <tr>
                                <td>무게초과</td>
                            </tr>
                            <tr>
                                <td rowspan="2">호주</td>
                                <td>개수초과</td>
                                <td>KRW 100,000 / USD 100</td>
                            </tr>
                            <tr>
                                <td>무게초과</td>
                                <td>KRW 75,000 / USD 75</td>
                            </tr>
                            <tr>
                                <td rowspan="2" class="bb">미주</td>
                                <td>개수초과</td>
                                <td>KRW 150,000 / USD 150</td>
                            </tr>
                            <tr>
                                <td>무게초과</td>
                                <td>KRW 75,000 / USD 75</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="caution typeB">
                        <li>원화 : 한국 출발 기준 / 달러 및 그 외 통화 : 현지 출발 기준</li>
                    </ul>
                    <h3 class="typeA">연결 구간 초과 수하물 요금 (공항)</h3>
                    <table class="bbsList bbsList_all">
                        <colgroup>
                            <col width="32%">
                            <col width="18%">
                            <col width="20%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">지역</th>
                                <th scope="col">기준</th>
                                <th scope="col" colspan="2">요금</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    일본 ↔ 중국본토/홍콩/마카오/대만
                                </td>
                                <td rowspan="2">1 KG 당</td>
                                <td colspan="2">KRW 15,000 / USD 15</td>
                            </tr>
                            <tr>
                                <td>일본 ↔ 동남아</td>
                                <td colspan="2">KRW 20,000 / USD 20</td>
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    일본/중국본토/홍콩/마카오/대만/동남아 ↔ 대양주
                                </td>
                                <td rowspan="6" class="bb">1 PC 당</td>
                                <td>개수초과</td>
                                <td rowspan="2">KRW 50,000 / USD 50</td>
                            </tr>
                            <tr>
                                <td>무게초과</td>
                            </tr>
                            <tr>
                                <td rowspan="2">
                                    일본/중국본토/홍콩/마카오/대만/동남아 ↔ 호주
                                </td>
                                <td>개수초과</td>
                                <td>KRW 100,000 / USD 100</td>
                            </tr>
                            <tr>
                                <td>무게초과</td>
                                <td>KRW 75,000 / USD 75</td>
                            </tr>
                            <tr>
                                <td rowspan="2" class="bb">
                                    일본/중국본토/홍콩/마카오/대만/동남아 ↔ 미주
                                </td>
                                <td>개수초과</td>
                                <td>KRW 150,000 / USD 150</td>
                            </tr>
                            <tr>
                                <td>무게초과</td>
                                <td>KRW 75,000 / USD 75</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="typeA">사전 구매 수하물 할인 요금
                        <span>(온라인/고객서비스센터)</span></h3>
                    <table class="bbsList bbsList_all">
                        <colgroup>
                            <col width="32%">
                            <col width="18%">
                            <col width="">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">지역</th>
                                <th scope="col">기준</th>
                                <th scope="col">요금</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>국내선</td>
                                <td rowspan="4">5 KG 당</td>
                                <td>KRW 8,000</td>
                            </tr>
                            <tr>
                                <td>일본/중국본토</td>
                                <td>KRW 35,000 / USD 35</td>
                            </tr>
                            <tr>
                                <td>홍콩/마카오/대만</td>
                                <td>KRW 45,000 / USD 45</td>
                            </tr>
                            <tr>
                                <td>동남아</td>
                                <td>KRW 50,000 / USD 50</td>
                            </tr>
                            <tr>
                                <td>대양주</td>
                                <td rowspan="3" class="bb">1 PC 당</td>
                                <td>KRW 40,000 / USD 40</td>
                            </tr>
                            <tr>
                                <td>호주</td>
                                <td>KRW 80,000 / USD 80</td>
                            </tr>
                            <tr>
                                <td>미주</td>
                                <td>KRW 120,000 / USD 120</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="typeA">연결 구간 사전 구매 수하물 요금
                        <span>(온라인/고객서비스센터)</span></h3>
                    <table class="bbsList bbsList_all">
                        <colgroup>
                            <col width="32%">
                            <col width="18%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">지역</th>
                                <th scope="col">기준</th>
                                <th scope="col">요금</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    일본 ↔ 중국본토/홍콩/마카오/대만
                                </td>
                                <td rowspan="2">5 KG 당</td>
                                <td>KRW 50,000 / USD 50</td>
                            </tr>
                            <tr>
                                <td>일본 ↔ 동남아</td>
                                <td>KRW 60,000 / USD 60</td>
                            </tr>
                            <tr>
                                <td>
                                    일본/중국본토/홍콩/마카오/대만 ↔ 대양주
                                </td>
                                <td rowspan="3" class="bb">1 PC 당</td>
                                <td>KRW 40,000 / USD 40</td>
                            </tr>
                            <tr>
                                <td>
                                    일본/중국본토/홍콩/마카오/대만 ↔ 호주
                                </td>
                                <td>KRW 80,000 / USD 80</td>
                            </tr>
                            <tr>
                                <td>
                                    일본/중국본토/홍콩/마카오/대만 ↔ 미주
                                </td>
                                <td>KRW 120,000 / USD 120</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="caution">

                        <li>통화별 환율 기준 : KRW 1,000 = USD 1 = JPY 100 = CNY 7 = HKD 8 = MOP 8 = TWD 30 =
                            THB 35 = MYR 4 = PHP 50 = VND 24,000 = AUD 1.4</li>
                        <li>24시간 이내 환승만 적용 가능, 24시간 초과시 각 구간별 초과수하물 기준 적용</li>
                        <li>
                            지역별 노선 구분
                            <ul>
                                <li>일본: 기타큐슈, 후쿠오카, 오사카, 오키나와, 도쿄(나리타), 삿포로</li>
                                <li>중국본토 : 상하이, 시안, 우시</li>
                                <li>동남아: 방콕, 푸켓, 비엔티안, 다낭, 하노이, 코타키나발루, 조호르바루, 세부, 클락, 칼리보</li>
                                <li>대양주: 괌</li>
                                <li>미주: 호놀룰루</li>
                                <li>호주: 케언스</li>
                            </ul>
                        </li>
                        <li>단, 여행사 등 기타 채널에서 구매한 일부 항공권은 구매가 불가할 수 있습니다.</li>

                    </ul>

                    <h3 class="typeA">스포츠 장비 규정(2016년 12월 1일 부 적용)</h3>
                    <table class="bbsList bbsList_all">
                        <colgroup>
                            <col width="50%">
                            <col width="">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">종류</th>
                                <th scope="col">요금</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <ul class="caution">
                                        <li>
                                            스키, 스노우보드
                                            <span class="pbr">(플레이트, 보드를 포함한 경우에만 적용)</span>
                                        </li>
                                        <li>서핑보드,윈드서핑</li>
                                        <li>
                                            다이빙장비
                                            <span class="pbr">(스쿠버 다이빙 공기통을 포함한 경우에만 적용)</span>
                                            <span class="pbr">※ 공기통이 완전히 빈 상태로 전용 가방에 포장되어야 합니다.</span>
                                        </li>
                                        <li>자전거</li>
                                    </ul>
                                </td>
                                <td>
                                    기본요금<br>+<br>무료수하물 허용량 초과 시, 초과수하물 요금 징수
                                </td>
                            </tr>
                            <tr>
                                <td>그 외 무게 32kg/70lbs 이하, 세변의 합이 277cm/109ins이하의<span class="pbr">기타 스포츠 장비 (골프백 포함)</span>
                                </td>
                                <td>
                                    무료수하물 허용량 적용<br>(무료수하물 허용량 초과 시, 초과수하물 요금 징수)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="caution">
                        <li>
                            스포츠 장비 기본요금 (개수당, 출발지 현지 통화 기준)
                            <ul>
                                <li id="sportExchangeRate">KRW 10,000 = USD 10 = JPY 1,000 = CNY 70 = HKD 80 =
                                    MOP 80 = TWD 300 = THB 350 = MYR 40 = PHP 500 = VND 240,000 = AUD 14</li>
                            </ul>
                        </li>
                        <li>
                            스포츠 장비 운송 시 유의사항
                            <ul>

                                <li>스포츠 용품은 모양과 크기가 일반 수하물과 달라, 운송 도중 휘거나 파손 될 가능성이 많으니 포장에 특별히 신경 써주시기 바랍니다.</li>
                                <li>무게/세변의 합이 32KG/70lbs, 277cm/109ins 이상인 스포츠 장비는 위탁 수하물로 접수가 불가하니, 유의하시기 바랍니다.</li>
                                <li>스포츠 장비는 전용케이스 또는 개별 포장 후 접수해주시기 바라며, 개별포장이 되지 않은 장비의 파손은 보상이 불가함을 양해 부탁 드립니다.</li>

                            </ul>
                        </li>
                    </ul>

                    <h3 class="typeA">수하물 포장용품</h3>
                    <ul class="caution">

                        <li>수하물 포장용 비닐은 아래와 같은 요금으로 공항 카운터에서 구매하실 수 있습니다. (2015년 12월 1일 부 적용)</li>
                        <li>포장용 비닐은 구매 후 환불이 불가합니다.</li>

                    </ul>
                    <table class="bbsList bbsList_all">
                        <colgroup>
                            <col width="20%">
                            <col width="">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="row">비닐[소]<br>
                                    <span class="fs">75X100cm</span></th>
                                <td class="al">KRW 2,000 / USD 2 / JPY 200 / CNY 15 / HKD 20 / THB 65 / MYR 9 / TWD 70</td>
                            </tr>
                            <tr>
                                <th scope="row">비닐[대]<br>
                                    <span class="fs">100X146cm</span></th>
                                <td class="al">KRW 3,000 / USD 3 / JPY 300 / CNY 20 / HKD 25 / THB 100 / MYR 13 / TWD 110
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">기내반입용 애완동물 케이스<br>
                                    <span class="fs">37X22X20cm</span></th>
                                <td class="al">KRW 5,000 (국내선에서만 구매 가능)</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="typeA">악기류 운반</h3>
                    <ul class="caution">

                        <li>바이올린 등 세변의 합이 115cm (45 inch)이하의 소형 악기 1개는 다른 휴대수하물이 없는 경우 무료로 기내에 반입할 수 있습니다.</li>

                        <li>
                            규정보다 큰 대형악기는 별도의 좌석을 구입해야 합니다.
                            <a
                                href="javascript://"
                                onclick="showPopupLayer('/popup/instrument');"
                                title="새창열림"
                                class="fontTypeA line">
                                자세히 보기
                            </a>
                        </li>
                    </ul>

                    <ul class="keywordList">

                        <li>
                            <p class="ico">신청</p>
                            <div class="cont">
                                <h3 class="typeA">사전 구매 신청 방법</h3>
                                <ul class="caution">
                                    <li>홈페이지/App/고객서비스센터 예매 시 온라인/고객서비스센터 통해 신청 가능</li>
                                    <li>출발 24시간 전까지 구매 가능</li>
                                    <li>홈페이지/App(온라인) 신청: [마이페이지] > [예약조회/변경/취소] 메뉴 최하단의 [부가서비스]에서 추가</li>
                                    <li>여행사/대리점을 통해 항공권을 구매한 고객은 당사 홈페이지 내 나의 예약/고객서비스센터를 통해 신청 가능<br>(조회 불가 시, 해당 구매처로 문의)
                                    </li>
                                    <li class="bgn">
                                        <a
                                            href="/pages/index/mypageMain"
                                            class="btnTypeA"
                                            data-click-area="서비스-공항서비스-수하물"
                                            data-click-name="수하물 안내_사전구매신청바로가기">바로가기</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <p class="ico">유의</p>
                            <div class="cont">
                                <h3 class="typeA">사전 구매 유의 사항</h3>
                                <ul class="caution">
                                    <li>신청된 사전 초과수하물 변경은 불가하며, 취소 후 재구매 해야 합니다.</li>
                                    <li>항공권 예약 변경 시에도 초과 수하물은 자동 취소되지 않으며, 변경된 여정으로 자동 이관됩니다. (단, 출발24시간 이전 요청에 한함)</li>
                                    <li>신청 취소는 [마이페이지] > [예약조회/변경/취소] 메뉴 최 하단의 [부가서비스]에서 출발 24시간 전까지 가능합니다.</li>
                                    <li>출발 24시간 이내에는 취소가 불가하며, 항공권 취소 시에도 수하물 구매 비용은 환불되지 않습니다.</li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="baggage tabCont prohibit" id="baggage2" style="display: none;">
                    <p class="srmy">승객의 안전한 여행을 위해 일부 물품의 경우 객실 내 반입 및 위탁 수하물 탁송이 금지되거나 제한적으로 운송이 가능 합니다.</p>
                    <h3 class="typeA">운송 금지 품목<span class="fontTypeD">[휴대 X, 위탁 X]</span></h3>
                    <p class="text">아래의 제한 품목은 기내 반입이나 수하물로 맡기는 것이 금지되어 있습니다.</p>
                    <ul class="caution">

                        <li>보냉제 목적의 드라이아이스는 항공사 승인 하 1인당 2.5KG 까지 운송 가능합니다.</li>
                        <li>리튬배터리 장착 전동보드에는 에어휠, 솔로휠, 호버보드, 밸런스휠, 전동스쿠터, 미니세그웨이 등이 있습니다.</li>
                        <li>리튬배터리 분리 불가능한 스마트 가방</li>

                    </ul>
                    <ul class="list ship">
                        <li class="no1">
                            <img src="/userpage/lib/img/baggage2_img1_1.PNG" alt="">
                            화약류, 폭죽 등<span class="pbr"></span>폭발물류
                        </li>
                        <li class="no2">
                            <img src="/userpage/lib/img/baggage2_img1_2.PNG" alt="">인화성 가스, 액체 및 70% 이상의 알코올성 음료 등 인화성 물질</li>
                        <li class="no3">
                            <img src="/userpage/lib/img/baggage2_img1_3.PNG" alt="">방사성·전염성·독성 물질</li>
                        <li class="no4">
                            <img src="/userpage/lib/img/baggage2_img1_4.PNG" alt="">
                            소화기, 최루가스 등<span class="pbr"></span>
                            기타위협물질
                        </li>
                        <li class="no5">
                            <img src="/userpage/lib/img/baggage2_img1_5.PNG" alt="">드라이 아이스</li>
                        <li class="no6">
                            <img src="/userpage/lib/img/baggage2_img1_6.PNG" alt="">
                            리튬배터리 장착
                            <span class="pbr"></span>전동보드
                        </li>
                    </ul>
                    <h3 class="typeA">기내 반입 제한 품목
                        <span class="fontTypeD">[휴대 X,
                            <span class="fontTypeA">위탁 O</span>]</span>
                    </h3>
                    <p class="text">무기로 사용되어 타 고객에게 위해를 가할 수 있는 품목은 휴대하고 탑승하실 수 없으며, 위탁수하물에 넣어 탁송하여 주시기 바랍니다.</p>
                    <ul class="list plane">
                        <li class="no1">
                            <img src="/userpage/lib/img/baggage2_img2_1.PNG" alt="">
                            과도, 커터칼 등<span class="pbr"></span>
                            창/도검류
                        </li>
                        <li class="no2">
                            <img src="/userpage/lib/img/baggage2_img2_2.PNG" alt="">
                            골프채, 아령 등<span class="pbr"></span>
                            스포츠용품류
                        </li>
                        <li class="no3">
                            <img src="/userpage/lib/img/baggage2_img2_3.PNG" alt="">모든 총기류</li>
                        <li class="no4">
                            <img src="/userpage/lib/img/baggage2_img2_4.PNG" alt="">
                            수갑, 호신용 스프레이 등<span class="pbr"></span>
                            무술호신용품
                        </li>
                        <li class="no5">
                            <img src="/userpage/lib/img/baggage2_img2_5.PNG" alt="">
                            도끼, 망치, 송곳 등<span class="pbr"></span>
                            공구류
                        </li>
                    </ul>

                    <ul class="caution typeC space">

                        <li>분말류(파우더류)
                            <ul>
                                <li class="bgn">미주행 항공편 탑승 시 아래의 분말류는 위탁수하물로만 운송이 가능하며 기내 반입이 금지됩니다.</li>
                                <li>
                                    <span class="dib vt">해당물품:</span>
                                    <span class="dib">
                                        12온스(약 350ml) 이상의 분말류 (파우더류)<br>
                                        예) 밀가루, 설탕, 커피가루, 향신료, 화장품 등
                                    </span>
                                </li>
                            </ul>
                        </li>

                    </ul>

                    <h3 class="typeA">위탁 수하물 탁송 제한 품목
                        <span class="fontTypeD">[<span class="fontTypeA">휴대 O</span>, 위탁 X]</span></h3>
                    <p class="text">아래의 제한 품목은 수하물로 맡기는 것이 금지되어 있습니다.</p>
                    <ul class="caution">

                        <li>다음 물품의 운송 도중 발생한 파손, 분실 및 인도 지연에 대하여 일체의 책임을 지지 않으며, 필요시 직접 휴대 하시기 바랍니다.<br>(노트북
                            컴퓨터, 핸드폰, 캠코더, 카메라, MP3 등 고가의 개인 전자제품, 화폐, 보석류, 귀금속류, 유가증권류, 기타 고가품, 견본류, 서류,
                            파손되기 쉬운 물품 등)</li>
                        <li>기내 및 여행지에서 복용해야 하는 의약품</li>
                        <li>전자담배(e-cigaretters)는 화재의 위험이 있으니, 반드시 휴대하여 주시기 바랍니다. 전자담배의 기내 충전 및 흡연은 엄격히
                            금지됩니다.</li>

                    </ul>
                    <div class="pointBox">
                        <ul class="caution typeC">
                            <li>

                                국제선 객실내 액체류 반입 기준<br>국제선 항공기 이용시, 물·음료·식품·화장품 등 액체·분무(스프레이)·겔류 (젤 또는 크림)로 된 물품은
                                <span class="fontTypeA">100㎖ 이하의 개별용기에 담아 1인당 1ℓ 투명 비닐지퍼백 1개</span>에 한해 반입이 가능하며, 유아식 및 의약품 등은 항공여정에 필요한 용량에 한하여 반입이 허용됩니다.
                            </li>

                            <li>해당 품목에 대한 상세 목록 및 각각의 반입 기준은
                                <span class="fontTypeA">'항공기 반입 금지 물품 상세 안내'</span>
                                및
                                <span class="fontTypeA">'리튬배터리 반입 규정'</span>
                                을 통해 확인해 주시기 바랍니다.</li>

                            <li class="bgn">
                                <a
                                    href="https://images.jinair.com/eForm/Prohibited%20Item%20List_KOR.pdf?"
                                    onclick="eFormDownload('Prohibited Item List_KOR.pdf');"
                                    title="새창열림"
                                    class="btnTypeA"
                                    target="_blank"
                                    data-click-area="서비스-공항서비스-수하물"
                                    data-click-name="운송제한품목_항공기 반입 금지 물품 상세안내">항공기 반입 금지 물품 상세안내</a>
                            </li>
                        </ul>
                    </div>
                    <h3 class="typeA">리튬 배터리 반입 규정</h3>
                    <table class="bbsList bbsList_top">
                        <caption>휴대 수하물 허용 한도 반입 규정 안내</caption>
                        <colgroup>
                            <col width="20%">
                            <col width="">
                            <col width="">
                            <col width="">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="4" scope="col">휴대 수하물 허용 한도</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">배터리 종류</th>
                                <td>100 Wh 미만 / 총 리튬 함유랑 2g 이하</td>
                                <td>100-160 Wh / 총 리튬 함유랑 2g-8g</td>
                                <td>160 Wh 초과 / 총 리튬 함유랑 8g 초과</td>
                            </tr>
                            <tr>
                                <th scope="row">기기 장착분</th>
                                <td>
                                    승객당 최대 15개
                                    <span class="pbr">(위탁수하물 반입 수량 포함)</span>
                                </td>
                                <td>개인 용도</td>
                                <td>불가</td>
                            </tr>
                            <tr>
                                <th scope="row">여분 배터리</th>
                                <td>최대 5개</td>
                                <td>승객 당 2개</td>
                                <td>불가</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="bbsList">
                        <caption>위탁 수하물 허용 한도 반입 규정 안내</caption>
                        <colgroup>
                            <col width="20%">
                            <col width="">
                            <col width="">
                            <col width="">
                        </colgroup>
                        <thead>
                            <tr>
                                <th colspan="4" scope="col">위탁 수하물 허용 한도</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">배터리 종류</th>
                                <td>100 Wh 미만 / 총 리튬 함유랑 2g 이하</td>
                                <td>100-160 Wh / 총 리튬 함유랑 2g-8g</td>
                                <td>160 Wh 초과 / 총 리튬 함유랑 8g 초과</td>
                            </tr>
                            <tr>
                                <th scope="row">기기 장착분</th>
                                <td>
                                    승객당 최대 15개
                                    <span class="pbr">(휴대수하물 반입 수량 포함)</span>
                                </td>
                                <td>개인 용도</td>
                                <td>불가</td>
                            </tr>
                            <tr>
                                <th scope="row">여분 배터리</th>
                                <td>불가</td>
                                <td>불가</td>
                                <td>불가</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="bbsList bbsList_bottom">
                        <caption>휴대 수하물 허용 한도 반입 규정 안내</caption>
                        <thead>
                            <tr>
                                <th scope="col">리튬 배터리 방식 전동휠체어 (의료 목적용)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="al">

                                    <strong>300 Wh 미만 (배터리 2개인 경우 개당 160 Wh 미만)의 경우에만 위탁수하물로 운송이 가능합니다.</strong><br>
                                    1) 배터리 분리 가능 시 : 배터리 분리 후 승객 휴대<br>
                                    2) 배터리 분리 불가 시 : 단락 방지 후 휠체어에 고정<br>
                                    3) 여분 배터리<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 배터리 1개인 경우 300 Wh 미만 1개 승객 휴대 가능<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 배터리 2개인 경우 160 Wh 미만 2개 승객 휴대 가능

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="ps">
                        <h4>* 여행을 떠나기 전 참고 바랍니다.</h4>
                        <ul class="caution">

                            <li>Wh(Watt-hours)는 배터리 상 표기 된 암페어(Ah)와 전압(V)을 곱한 수치입니다.</li>
                            <li>개인용도는 판매 등 상업적 용도가 아닌 개인적 용도로 사용되는 것을 의미합니다. (휴대폰, 노트북, 태블릿 PC, 디지털 카메라 등의 사용용도)</li>
                            <li>여분 배터리 반입 시 비닐 팩에 개별 포장 등의 단락(합선) 방지를 위한 조치가 필요합니다.</li>
                            <li>휴대용 보조 배터리는 여분 배터리와 동일하게 취급 됩니다.</li>
                            <li>업무목적 상 100Wh 미만의 여분 배터리를 6개 이상 기내반입하셔야 할 경우, 업무 목적에 대한 증빙 자료를 진에어로 사전 제출하셔야
                                합니다. 업무 목적에 대한 증빙 자료는 다음과 같습니다.
                                <ul>
                                    <li>가. 재직 증명서 1부</li>
                                    <li>나. 행사 초대장 및 E-mail 등 업무목적 참석 증빙자료 1부</li>
                                </ul>
                            </li>
                            <li>휴대용 전자기기가 위탁수하물로 운송되는 경우 기기의 전원을 완전히 꺼 주셔야 합니다.</li>

                        </ul>
                    </div>
                </div>

                <div class="baggage tabCont" id="baggage3" style="display: none;">
                    <h2 class="desc" style="display: none;">수하물 배상 안내</h2>
                    <p class="srmy">진에어는 회사의 고의 또는 과실로 위탁수하물에 파손, 분실 등의 손해가 발생한 경우에 한하여 보상 책임을 집니다.</p>
                    <p class="caution">이용 구간에 따라 몬트리올 협약이 적용되는 운송의 경우 해당 협약이, 그 이외 구간에는 바르샤바 협약이
                        적용됩니다. 승객이 사전에 상기 책임 한도보다 높은 가격을 신고하고 종가 요금을 지불한 경우에는 진에어의 책임 한도는 신고 가격을 근거로
                        합니다. 수하물 지연은 21일 이내에, 수하물 파손 또는 내용품 분실은 7일 이내 항공사에 서면으로 신고하셔야 하며, 출발지에서 탑승 수속 시
                        받으신 승객 본인 가방의 수하물 영수표를 제출해야 합니다.</p>
                    <ul class="keywordList">
                        <li>
                            <p class="ico">불가</p>
                            <div class="cont">
                                <h3 class="typeA">보상 불가 물품</h3>
                                <p class="text">아래와 같은 물품에 대해서는 운송 도중 발생한 파손이나 분실, 지연, 혹은 그로 인한 여하한 손해에 대해서 이용
                                    구간에 따라 보상에서 제외되거나, 제한된 보상이 실시됩니다.</p>
                                <ul class="caution">

                                    <li>진에어가 손해 방지를 위하여 필요한 조치를 취하였거나, 불가항력적인 사유로 인하여 조치가 불가능했음이 입증될 경우</li>
                                    <li>일상적인 수하물 취급과정에서 발생하는 경미한 긁힘, 마모, 눌림, 흠집, 얼룩 등</li>
                                    <li>고객에 의한 사고 또는 과실로 손해가 발생한 경우</li>
                                    <li>너무 무겁거나 가방 용량에 비해 무리하게 내용품을 넣은 경우</li>
                                    <li>액체류(화장품, 꿀, 술 등)의 파손 및 이로 인한 내용물의 오염 및 파손</li>
                                    <li>하드케이스(전용 포장용기)에 넣지 않은 스포츠 용품 및 위탁수하물로 접수된 악기류</li>
                                    <li>보안검색 과정에서 X-RAY 통과로 인한 필름 손상</li>

                                </ul>
                                <div class="divi">
                                    <p class="ico">휴대</p>
                                    <div class="cont">
                                        <p class="text">아래 물품은 위탁수하물로 접수가 불가능하며 휴대수하물로 운송되어야 합니다.</p>
                                        <ul class="caution">

                                            <li>노트북 컴퓨터, 휴대전화, 캠코더, 카메라, MP3 등 고가의 전자제품 또는 그 데이터</li>
                                            <li>화폐, 보석류, 은제품, 유가증권, 계약서, 논문과 같은 서류, 여권, 신분증, 견본(샘플), 골동품 등 가치를 따지기 어려운 귀중한 물건</li>
                                            <li>명품 선글라스, 가방, 시계, 의류 등의 고가품</li>
                                            <li>건강과 관련된 의약품</li>
                                            <li>파손되기 쉬운 물품이거나 부패하기 쉬운 물품</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <p class="ico">배상</p>
                            <div class="cont">
                                <h3 class="typeA">수하물 배상 동의서</h3>
                                <ul class="caution">

                                    <li>대상 : 수하물 파손이나 분실로 인해 배상이 결정된 고객</li>
                                    <li>필요 매수 : 1매</li>

                                    <li class="bgn">
                                        <a
                                            href="https://images.jinair.com/eForm/FinalSettlement.pdf?2022324"
                                            onclick="eFormDownload('FinalSettlement.pdf');"
                                            target="_blank"
                                            title="새창열림"
                                            class="btnTypeA"
                                            data-click-area="서비스-공항서비스-수하물"
                                            data-click-name="수하물배상안내_수하물배상동의서">다운로드</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <p class="ico">신고</p>
                            <div class="cont">
                                <h3 class="typeA">수하물 신고서</h3>
                                <ul class="caution">

                                    <li>대상 : 도착 지연된 수하물의 소재가 파악되지 않아 보다 정밀한 수하물 추적이 필요하신 고객. 기입하신 내용은 수하물 조회 및 추적 작업
                                        시 중요한 자료로 활용되오니, 상표명을 중심으로 사실에 입각하여 작성하여 주십시오.</li>
                                    <li>필요 매수 : 1매</li>

                                    <li class="bgn">
                                        <a
                                            href="https://images.jinair.com/eForm/PropertyIrrgularity.pdf?2022324"
                                            onclick="eFormDownload('PropertyIrrgularity.pdf');"
                                            target="_blank"
                                            title="새창열림"
                                            class="btnTypeA"
                                            data-click-area="서비스-공항서비스-수하물"
                                            data-click-name="수하물배상안내_수하물신고서">다운로드</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="baggage tabCont" id="baggage4" style="display: none;">
                    <div class="qnaHead">
                        <h2>기내 유실물 찾기</h2>
                        <ul class="caution">
                            <li>기내에서 발견된 물품만 조회 가능합니다. (공항 내에서 분실한 물품은 해당
                                <a
                                    onclick="showPopupLayer('/popup/airportLostItemCenter');"
                                    class="str"
                                    style="cursor: pointer;">공항 유실물 센터</a>로 문의바랍니다.)</li>
                            <li>해당 지점별 운영 시간대가 아닌 경우 전화 연결이 어려울 수 있습니다.</li>
                            <li>유실물은 도착지 공항에 보관됩니다. (예) 인천출발~괌도착 시 괌공항 선택</li>
                            <li>습득물은 14일 보관 후 폐기됩니다. (식품과 같이 부패 가능성 있는 물품은 24시간 이내 상시 폐기합니다.)</li>
                            <li>습득된 유실물은 신속히 등재하고 있으나 당일 상황에 따라 다소 늦어질 수 있는 점 양해바랍니다.</li>
                            <li>여권 및 신분증과 같이 개인 정보가 포함된 유실물이나 현금, 보석류 등의 귀중품은 각 공항 경찰대로 인계됩니다.</li>

                        </ul>
                        <form
                            id="lostItemSearchForm"
                            action="/ready/baggage?directID=baggage4"
                            method="post">
                            <input type="hidden" name="_csrf" value="2d3f8206-602c-46ee-b256-cc7df7a87c71"/>
                            <div class="lostSrch">
                                <p class="tit vt">항공편명 </p>
                                <p class="stit"></p>
                                <select name="fltNo" id="fltNo">
                                </select>
                                <p class="tit vt">도착지 공항</p>
                                <select id="arvApo" name="arvApo" title="도착지 공항 선택"></select>&nbsp;
                                <p class="tit vt">물품유형</p>
                                <select name='itemType' id='itemType'></select>
                                <div class="date">
                                    <p class="tit">검색기간</p>
                                    <p class="calendar">
                                        <input type="date" name="fromDt" id="fromDt" value="연도-월-일" required >
                                        </p>
                                    <p class="calendar">
                                        <input type="date" name="toDt" id="toDt" value="연도-월-일" required >
                                </div>
                            </div>
                        </form>
                        <div class="btnArea">
                            <a
                                href="javascript://"
                                id="btnSearch"
                                class="btnTypeA sizeL"
                                data-click-area="서비스-공항서비스-수하물-기내유실물찾기"
                                data-click-name="검색">검색</a>
                        </div>
                        <h2 class="typeA">조회 결과</h2>
                        <div class="tblScrollArea">
                            <table class="bbsList tblScroll">
                                <caption>관리번호, 이미지, 물품유형, 습득일자, 항공편명, 보관장소, 유실물 발송 신청순으로 나타낸 유실물 조회결과 목록표입니다.</caption>
                                <colgroup>
                                    <col width="10%">
                                    <col width="18%">
                                    <col width="13%">
                                    <col width="18%">
                                    <col width="20%">
                                    <col width="15%">
                                    <col width="16%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">관리번호</th>
                                        <th scope="col">이미지</th>
                                        <th scope="col">물품유형</th>
                                        <th scope="col">항공편명</th>
                                        <th scope="col">출발일자</th>
                                        <th scope="col">도착지 공항</th>
                                        <th scope="col">유실물 수령 신청</th>
                                    </tr>
                                </thead>
                                <tbody id="lostList">
                                    <tr v-for="dto in lostList">
                                        <td class="mngNo">{{dto.losIndex}}</td>
                                        <td><p class="lostThumb">
                                                <img :src=`/upload/${dto.losImgName}` alt="이미지">
                                        </p></td>
                                        <td>{{dto.losType}}</td>
                                        <td>{{dto.losAirplane}}</td>
                                        <td>{{dto.losArrivedate.substr(0,10)}}</td>
                                        <td>{{dto.losAirportArea}}</td>
                                        <td >
                                            <a class="btnTypeA btnListReq" id="btnListReq" onclick="ReqAlert()">확인</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="footer1">
                        <div class="center">
                            <table>
                                <tr id="showPage">

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <!-- 푸터-->
        <div th:replace="userpage/fragment/footer :: footer"></div>
        <!--푸터 끝-->
    </div>
    <!--wrap 끝-->
    <!--퀵 메뉴-->
    <div th:replace="userpage/fragment/quickmenu :: quickmenu"></div>
    <!--퀵 메뉴 끝-->
    <div class="modal"></div>
</body>
</html>