<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<div th:replace="/adminpage/fragment/head :: head"></div>
<link rel="stylesheet" href="/adminpage/lib/css/reservation/rs_sch.css">
<script src="/adminpage/app/reservation/rs_sch.js"></script>
<!-- head.html 끝-->
<body>
<div id="wrap">
    <div th:replace="/adminpage/fragment/header :: header"></div>
    <div id="container">
        <div th:replace="/adminpage/fragment/leftmenu :: leftmenu(${code}, ${menuList})"></div>
        <div class="contents">
            <div class="contwrap">
                <div class="search">
                    <p class="title">예약자 명 조회</p>
                    <div class="searchName">
                        <div class="korN">
                            <div>
                                예약번호
                                <input type="text" name="res_num" id="res_num1" placeholder="예약번호" class="searchbox yelgcolor" required>
                                예약자 명
                                <input type="text" name="res_korFirstName" id="res_korFirstName" placeholder="성(KOR)" class="searchbox yelgcolor" required>
                                <input type="text" name="res_korLastName" id="res_korLastName" placeholder="이름(KOR)" class="searchbox yelgcolor" required>
                                <input type="button" id="searchBtn" class="search_butt" value="검색">
                            </div>
                        </div>
<!--                        <div class="engN">-->
<!--                            <div>-->
<!--                                예약번호-->
<!--                                <input type="text" name="res_num" id="res_num2" placeholder="예약번호" class="searchbox yelgcolor" required>-->
<!--                                예약자 명-->
<!--                                <input type="text" name="res_engFirstName" id="res_engFirstName" placeholder="성명(ENG)" class="searchbox yelgcolor" required>-->
<!--                                <input type="text" name="res_engLastName" id="res_engLastName" placeholder="성명(ENG)" class="searchbox yelgcolor" required>-->
<!--                                <input type="submit" class="search_butt" value="검색">-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
                <div class="searchwrap">
                    <!-- 예약자 리스트 -->
                    <div class="rs_list">
                        <table>
                            <tr class="table_tit">
                                <th>항공기명</th>
                                <th>출발 일자</th>
                                <th>출발지</th>
                                <th>출발 시간</th>
                                <th>도착지</th>
                                <th>도착 시간</th>
                            </tr>
                            <tr>
                                <td id="airplaneName">-</td>
                                <td id="landingDate">-</td>
                                <td id="landingPoint">-</td>
                                <td id="landingTime">-</td>
                                <td id="arrPoint">-</td>
                                <td id="arrTime">-</td>
                            </tr>
                        </table>
                        <table>
                            <colgroup>
                                <col width="150">
                                <col width="350">
                                <col width="150">
                                <col width="350">
                            </colgroup>
                            <tr>
                                <th>예약 번호</th>
                                <td class="lefttd" id="resCode">-</td>
                                <th>이메일</th>
                                <td colspan="3" id="userEmail">-</td>
                            </tr>
                            <tr>
                                <th class="firstN">성명(KOR)</th>
                                <td class="lefttd" id="userKorName">-</td>
                                <th>연락처</th>
                                <td colspan="3" id="userHp">-</td>
                            </tr>
                            <tr>
                                <th class="firstN">성명(ENG)</th>
                                <td class="lefttd" id="userEngName">-</td>
                                <th>성인/소아/유아</th>
                                <td colspan="3" id="personType">-</td>
                            </tr>
                            <tr>
                                <th>성별</th>
                                <td class="lefttd">
                                    남자<input type="radio" name="gender" id="male" class="radio" value="남자">
                                    여자<input type="radio" name="gender" id="female" class="radio" value="여자">
                                </td>
                                <th>자동체크인</th>
                                <td colspan="3">
                                    신청<input type="radio" name="checkin" class="radio" value="True" checked>
                                    미신청<input type="radio" name="checkin" class="radio" value="False">
                                </td>
                            </tr>
                            <tr>
                                <th>생년월일</th>
                                <td class="lefttd" id="userBirth">-</td>
                                <th>회원여부</th>
                                <td colspan="3">
                                    회원<input type="radio" name="memberC" id="True" class="radio" value="True">
                                    비회원<input type="radio" name="memberC" id="False" class="radio" value="False" checked>
                                </td>
                            </tr>
                            <tr>
                                <th>국적</th>
                                <td class="lefttd" id="rePassport">-</td>
                                <th>개인정보 동의 여부</th>
                                <td colspan="3">
                                    동의<input type="radio" name="agreeC" class="radio" value="True" checked>
                                    비동의<input type="radio" name="agreeC" class="radio" value="False">
                                </td>
                            </tr>
                            <tr>
                                <th>거주국가</th>
                                <td class="lefttd" id="reNation">-</td>
                                <th>아이디</th>
                                <td colspan="3" id="userId">-</td>
                            </tr>
                            <tr>
                                <th>우편번호</th>
                                <td class="lefttd" id="userZipcode">-</td>
                                <th>결제수단</th>
                                <td colspan="3" id="payType">-</td>
                            </tr>
                            <tr>
                                <th>주소</th>
                                <td class="lefttd" id="address1">-</td>
                                <th>예약취소 수단</th>
                                <td colspan="3" id="refundType">-</td>
                            </tr>
                            <tr>
                                <th>상세주소</th>
                                <td class="lefttd" id="address2">-</td>
                                <th>결제날짜</th>
                                <td colspan="3" id="payCompleteDate"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal_issearch">
            <div id="modal_issearch_content">
                <div id="modal_issearch_title"><p class="text">조회할 예약자가 존재하지 않습니다.</p></div>
                <div>
                    <button class="modal_issearch_ok">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>