<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<div th:replace="/adminpage/fragment/head :: head"></div>
<link rel="stylesheet" href="/adminpage/lib/css/reservation/rs_user_info.css">
<script src="/adminpage/app/reservation/rs_userInfo.js"></script>
<!-- head.html 끝-->
<body>
<div id="wrap">
    <div th:replace="/adminpage/fragment/header :: header"></div>
    <div id="container">
        <div th:replace="/adminpage/fragment/leftmenu :: leftmenu(${code}, ${menuList})"></div>
        <div class="contents">
            <div class="contwrap">
                <div class="search">
                    <p class="title">운항편 예약자 상세정보</p>
                </div>
                <div class="searchwrap">
                    <!-- 예약자 리스트 -->
                    <div class="rs_list">
                        <table>
                            <colgroup>
                                <col width="120">
                                <col width="180">
                                <col width="200">
                                <col width="150">
                                <col width="200">
                                <col width="150">
                            </colgroup>
                            <tr class="table_tit">
                                <th>항공기명</th>
                                <th>출발 일자</th>
                                <th>출발지</th>
                                <th>출발 시간</th>
                                <th>도착지</th>
                                <th>도착 시간</th>
                            </tr>
                            <tr>
                                <td id="airplaneName"></td>
                                <td id="landingDate"></td>
                                <td id="landingPoint"></td>
                                <td id="landingTime"></td>
                                <td id="arrPoint"></td>
                                <td id="arrTime"></td>
                            </tr>
                        </table>
                        <table>
                            <colgroup>
                                <col width="150">
                                <col width="350">
                                <col width="150">
                                <col width="350">
                            </colgroup>
                            <tr>
                                <th>예약 번호</th>
                                <td class="lefttd" id="resCode"></td>
                                <th>이메일</th>
                                <td colspan="3" id="userEmail"></td>
                            </tr>
                            <tr>
                                <th class="firstN">성명(KOR)</th>
                                <td class="lefttd" id="userKorName"></td>
                                <th>연락처</th>
                                <td colspan="3" id="userHp"></td>
                            </tr>
                            <tr>
                                <th class="firstN">성명(ENG)</th>
                                <td class="lefttd" id="userEngName"></td>
                                <th>성인/소아/유아</th>
                                <td colspan="3" id="personType"></td>
                            </tr>
                            <tr>
                                <th>성별</th>
                                <td class="lefttd">
                                    남자<input type="radio" name="gender" id="male" class="radio" value="남자">
                                    여자<input type="radio" name="gender" id="female" class="radio" value="여자">
                                </td>
                                <th>자동체크인</th>
                                <td colspan="3">
                                    신청<input type="radio" name="checkin" class="radio" value="True" checked>
                                    미신청<input type="radio" name="checkin" class="radio" value="False">
                                </td>
                            </tr>
                            <tr>
                                <th>생년월일</th>
                                <td class="lefttd" id="userBirth"></td>
                                <th>회원여부</th>
                                <td colspan="3">
                                    회원<input type="radio" name="memberC" id="True" class="radio" value="True">
                                    비회원<input type="radio" name="memberC" id="False" class="radio" value="False" checked>
                                </td>
                            </tr>
                            <tr>
                                <th>국적</th>
                                <td class="lefttd" id="rePassport"></td>
                                <th>개인정보 동의 여부</th>
                                <td colspan="3">
                                    동의<input type="radio" name="agreeC" class="radio" value="True" checked>
                                    비동의<input type="radio" name="agreeC" class="radio" value="False">
                                </td>
                            </tr>
                            <tr>
                                <th>거주국가</th>
                                <td class="lefttd" id="reNation"></td>
                                <th>아이디</th>
                                <td colspan="3" id="userId"></td>
                            </tr>
                            <tr>
                                <th>우편번호</th>
                                <td class="lefttd" id="userZipcode"></td>
                                <th>결제수단</th>
                                <td colspan="3" id="payType">카드</td>
                            </tr>
                            <tr>
                                <th>주소</th>
                                <td class="lefttd" id="address1"></td>
                                <th>예약취소 수단</th>
                                <td colspan="3" id="refundType">결제 카드</td>
                            </tr>
                            <tr>
                                <th>상세주소</th>
                                <td class="lefttd" id="address2"></td>
                                <th>결제날짜</th>
                                <td colspan="3" id="payCompleteDate"></td>
                            </tr>
                        </table>
                        <div class="btnarea">
                            <input type="button" value="목록" class="cancbutt golist" onclick="location.href = '/pages/admin/rsIndex'">
                            <input type="button" value="예약취소" class="cancbutt">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal_iscancel">
            <div id="modal_iscancel_content">
                <div id="modal_iscancel_title"><h3>※ 주의</h3><p class="text">예약을 <b class="tcolr">취소</b>할 경우, 데이터가 사라져<br> 복구하기 어렵습니다.</p></div>

                <div>
                    <button class="modal_iscancel_btn uncomplete">취소</button>
                    <button class="modal_iscancel_btn complete" id="resDelete">예약취소</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>