<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head -->
<div th:replace="userpage/fragment/head :: head"></div>
<script src="/userpage/app/index/index.js"></script>
<link rel="stylesheet" href="/userpage/lib/css/mypage/noResult.css"/>
<link rel="stylesheet" href="/userpage/lib/css/index/index.css"/>   // 메뉴
<!-- head 끝 -->
<body>
    <ul class="skipnavi"><!--책갈피 역할-->
        <li><a href="#container">본문내용</a></li> 
    </ul>
    <!--wrap-->
    <div id="wrap">
        <!--header-->
        <div th:replace="${loginURL} :: menu"></div>
        <!--header 끝-->
        <!--container-->
        <div id="container">
            <div class="result_container">
                <div class="result_title">
                    <p>아이디/비밀번호 찾기</p>
                </div>
                <div class="result_main">
                    <p>입력하신 정보와 일치하는<br>회원정보가 없습니다.</p>
                    <p>회원가입 관련 문의는 진에어 고객센터(1600-6200)으로<br> 문의하시기 바랍니다.</p>
                </div>
                <div class="btn cursor">
                    <input type="button" value="이전단계" onclick="location.href='/pages/login'" class="cursor">
                </div>
            </div>
        </div>
        <!--container 끝-->
        <!-- 푸터-->
        <div th:replace="userpage/fragment/footer :: footer"></div>
        <!--푸터 끝-->
    </div>
    <!--wrap 끝-->
    <!--퀵 메뉴-->
    <!--퀵 메뉴 끝-->
    <div class="modal">
    </div>
</body>
</html>