<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head -->
<div th:replace="userpage/fragment/head :: head"></div>
<script src="/userpage/app/optional/insurance/chubb.js"></script>
<link rel="stylesheet" href="/userpage/lib/css/optional/insurance/chubb.css"/>
<link rel="stylesheet" href="/userpage/lib/css/index/index.css"/>   // 메뉴
<!-- head 끝 -->
<body>
<ul class="skipnavi"><!--책갈피 역할-->
    <li><a href="#container">본문내용</a></li>
</ul>
<!--wrap-->
<div id="wrap">
    <!--header-->
    <div th:replace="${loginURL} :: menu"></div>
    <!--header 끝-->
    <!--container-->
    <div id="container">
        <div class="contentswrap">
            <div class="discount">
                <p class="title_img"></p>
                <p class="discount_title">여행 안심 서비스</p>
                <p class="title_sub">안전한 여행을 위한 필수품<br>해외 여행 보험 가입하고 가세요.</p>
            </div>
            <div class="img_jinitv"></div>
            <div class="img_chubb"></div>
            <p class="chubb_text">
                소지품 도난으로 여행의 소중한추억까지 잃어버릴까 걱정된다면? (특약 가입 시 / 분실 제외)<br>
                에이스손해보험의 Chubb 해외여행보험이 함께합니다!
            </p>
            <a href="https://www.acedirect.co.kr/servlets/contract/contractForward.ace?target=pc/contract/step01Overseas&cmd=Step01Command&layout=type2&inputGroupId=701241JINA" target="_blank" class="a_teg"><input type="button" value="Chubb 해외여행보험 가입하기"></a>
            <div class="bundlebox2">
                <div class="jini_left">
                    <div class="jini_box_left">
                        <p>유의</p>
                    </div>
                </div>
                <div class="jini_right">
                    <p class="jini_store_title">유의 사항</p>
                    <p class="jini_store_content">㈜진에어 보험대리점은 해당 상품에 대해 충분히 설명할 의무가 있으며, 가입자는 가입에 앞서 이에 대한 충분한 설명을 받으시기 바랍니다.</p>
                    <p class="jini_store_content">㈜진에어 보험대리점은 에이스손해보험과 전속계약을 체결한 보험대리점이나, 보험사로부터 금융상품계약체결권을 부여받지 않은</p>
                    <p class="jini_store_content_sub">금융상품판매대리 중개업자입니다.</p>
                    <p class="jini_store_content">대리점명: ㈜진에어 보험대리점 (등록번호: 7720050001)</p>
                    <p class="jini_store_content">(준법감시인 심의필) OTA-2022-005 (2022.02.07 ~2023.02.06)</p>
                    <p class="jini_store_notice">해외여행 중 휴대품 손해 특별약관의 경우 자기부담금(1만원)이 있습니다.</p>
                    <p class="jini_store_notice"> 이 보험계약은 예금자보호법에 따라 예금보험공사가 보호하되,
                        보호 한도는 본 보험회사에 있는 귀하의 모든 예금보호대상 금융상품의 해약환급금(또는 만기 시 보험금이나 사고보험금)에
                        기타지급금을 합하여 1인당 “최고 5천만원”이며, 5천만원을 초과하는 나머지 금액은 보호하지 않습니다.
                        다만, 보험계약자 및 보험료 납부자가 법인인 보험계약은 예금자보호법에 따라 예금보험공사가 보호하지 않습니다.</p>
                    <p class="jini_store_notice">보험계약자가 기존에 체결했던 보험계약을 해지하고 다른 보험계약을 체결하면
                        보험인수가 거절되거나 보험료가 인상되거나 보장내용이 달라질 수 있습니다.
                        또한 지급한도, 면책사항 등에 따라 보험금 지급이 제한될 수 있습니다.</p>
                    <p class="jini_store_notice"> 보험계약 전 상품설명서 및 약관을 읽어보시기 바랍니다.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- container 끝-->
    <!-- 푸터-->
    <div th:replace="userpage/fragment/footer :: footer"></div>
    <!--푸터 끝-->
</div>
<!--wrap 끝-->
<div class="modal"></div>
<!--퀵 메뉴-->
<div th:replace="userpage/fragment/quickmenu :: quickmenu"></div>
<!--퀵 메뉴 끝-->
</body>
</html>