<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<div th:replace="userpage/fragment/head :: head"></div>
    <link rel="stylesheet" href="/userpage/lib/css/mypage/Mypage_edit.css">
<body>
<ul class="skipnavi">
    <!--책갈피 역할-->
    <li><a href="#container">본문내용</a></li>
</ul>
<!--wrap-->
<div id="wrap">
    <!--header-->
    <div th:replace="${loginURL} :: menu"></div>
    <!--header 끝-->
    <!--container-->
    <div id="container">
        <div class="edit_container">
            <div class="menu_title">
                <p>회원정보수정</p>
            </div>
            <div class="sub_title">
                <p>회원정보는 개인정보취급방침에 따라 안전하게 보호되며 회원님의 명백한 동의없이 공개<br>또는 제 3자에게 제공되지 않습니다.</p>
            </div>
            <h2>회원 정보 <span>* 표시항목은 필수 입력사항 입니다.</span></h2>
            <div id="joinForm">
                <input type="hidden" id="memid" th:value="${memberApiResponse.memIndex}">
                <table class="fieldForm memberForm">
                    <colgroup>
                        <col width="23%">
                        <col width="">
                    </colgroup>
                    <tr>
                        <th scope="row"><em>*</em>아이디</th>
                        <td>
                            <p class="idField"></p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><em>*</em>비밀번호</th>
                        <td>
                            <a class="btnTypeA">비밀번호 변경</a>
                            <input type="hidden" id="pwField">
                        </td>
                    </tr>
                    <tr class="divide">
                        <th scope="row"><em>*</em>이름</th>
                        <td>{{memberDetail.memKorFirstName}}{{memberDetail.memKorLastName}}</td>
                    </tr>
                    <tr>
                        <th scope="row"><em>*</em>한글 이름</th>
                        <td>
                            <p class="nameField">
                                <input type="text" id="mbrLnm" name="mbrLnm" maxlength="30"
                                       style="ime-mode:active;" placeholder="성(Last Name)" title="한글 성" disabled>
                                <input type="text" id="mbrFnm" name="mbrFnm" maxlength="60"
                                       style="ime-mode:active;" placeholder="이름(First Name)" title="한글 이름" disabled>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><em>*</em>영문 성명</th>
                        <td>
                            <p class="nameField">
                                <input type="text" id="engLnm" name="engLnm" class="onlyEngUpp"
                                       style="text-transform:uppercase;" maxlength="30"
                                       placeholder="성(Last Name)" title="영문 성" disabled>
                                <input type="text" id="engFnm" name="engFnm" class="onlyEngUpp"
                                       style="text-transform:uppercase;" maxlength="60"
                                       placeholder="이름(First Name)" title="영문 이름" disabled>
                            </p>
                            <p class="text">- 한글 성명 변경을 위해서는 증빙서류를 제출하셔야 하며, 홈페이지 고객의 말씀 또는 고객서비스센터(1600-6200)로 문의하여 주시기 바랍니다.</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><em>*</em>생년월일</th>
                        <td id="birth"></td>
                    </tr>
                    <tr>
                        <th scope="row"><em>*</em>성별</th>
                        <td>
                            <div class="fieldArea chkArea">
                                <div class="field_gender">
                                        <span class="field">
                                            <input type="radio" id="male" name="gndrCd" value="남자">
                                            <label for="male">남자</label>
                                        </span>
                                    <span class="field">
                                            <input type="radio" id="female" name="gndrCd" value="여자">
                                            <label for="female">여자</label>
                                        </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><em>*</em>국적(여권)</th>
                        <td>
                            <select id="ntnltyCd" name="ntnltyCd" title="국적선택">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><em>*</em>거주 국가</th>
                        <td>
                            <select id="residenceIataCountryCode" name="residenceIataCountryCode" title="거주국적선택">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">주소</th>
                        <td>
                            <p class="zipcodeField">
                                <input type="text" id="pstNo" name="pstNo" maxlength="10"
                                       onclick="showPopupLayer('/member/jusoSearchLayer'); return false"
                                       readonly="readonly" title="우편번호">
                                <a href="javascript://"
                                   onclick="showPopupLayer('/member/jusoSearchLayer'); return false"
                                   class="btnTypeA sizeL"> 우편번호 검색</a>
                            </p>
                            <input type="text" id="adr1" name="adr1" maxlength="100" readonly="readonly"
                                   title="주소"><br>
                            <input type="text" id="adr2" name="adr2" maxlength="150" readonly="readonly"
                                   title="상세주소">
                            <input type="text" id="adr3" name="adr3" maxlength="150"
                                   title="상세주소">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><em>*</em>연락처</th>
                        <td>
                            <div class="mobileField">
                                    <span class="field">
                                        <select id="mblFonCtrCd" name="mblFonCtrCd" title="국가번호 선택">
                                        </select>
                                    </span>
                                <input type="text" id="mblFonNo" name="mblFonNo" class="onlyNum" maxlength="20"
                                       title="휴대폰번호">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><em>*</em>이메일</th>
                        <td>
                            <input type="text" id="emAdr" name="emAdr" maxlength="100"
                                    title="이메일">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">이메일 수신</th>
                        <td class="radio_css">
                            <input type="radio" name="emRcvYn" value="True" id="emailAgree"><label
                                for="emailAgree">동의</label>
                            <input type="radio" name="emRcvYn" value="False" id="emailDisagree">
                            <label for="emailDisagree">동의하지 않음</label>
                            <p class="text">- 수신동의 하는 경우, 항공권 특가 정보 및 상시 이벤트 등 유용한 정보를<br>고객님 이메일로 보내 드립니다.
                                단, 정보성 메일은 수신 여부와 관계없이 발송됩니다.</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">SMS/앱푸시 수신</th>
                        <td class="radio_css">
                            <input type="radio" name="smsRcvYn" value="True" id="snsAgree"><label
                                for="snsAgree">동의</label>
                            <input type="radio" name="smsRcvYn" value="False" id="snsDisagree">
                            <label for="snsDisagree">동의하지 않음</label>
                            <p class="text">- 비정상 운항, 구매 관련 정보 등 필수 안내사항은 수신 여부와 관계 없이 안내 드립니다.</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"> 회원 탈퇴</th>
                        <td>
                            <a name="회원탈퇴" class="btnTypeB">탈퇴</a>
                        </td>
                    </tr>
                </table>
                <div class="btn">
                    <input type="button" id="update" class="btn_agree" value="수정">
                    <input type="button" class="btn_cancel" value="취소" onclick="location.href='/pages/index'">
                </div>
            </div>
        </div>
    </div>
<!--container 끝-->
    <!-- 푸터-->
    <div th:replace="userpage/fragment/footer :: footer"></div>
    <!--푸터 끝-->
    </div>
<!--wrap 끝-->
<!--퀵 메뉴-->
<!--퀵 메뉴 끝-->
<div class="modal">
</div>
<div class="confirm_modal1">
    <div class="confirm_modal_box">
        <div class="popTitle">
            <h1>비밀번호 변경</h1>
            <lable class="xbox"><img src="/userpage/lib/img/btn_xpop.png" alt="X"></lable>
        </div>
        <div id="popWrap">
            <div id="popCont">
                <div id="pwForm">
                    <p class="text">회원님의 개인정보를 안전하게 보호하기 위해 비밀번호를 암호화하여 저장,관리하고 있습니다.<br>새로운 비밀번호로 변경해 주세요.</p>
                    <table class="fieldForm">
                        <colgroup>
                            <col width="25%"><col width="">
                        </colgroup>
                        <tr>
                            <th><label for="oldPw">기존 비밀번호</label></th>
                            <td><input type="password" name="oldPw" id="oldPw" maxlength="150" autocomplete="off"></td>
                        </tr>
                        <tr>
                            <th><label for="newPw">신규 비밀번호<p id="pwTest"></p></label></th>
                            <td><input type="password" name="newPw" id="newPw" maxlength="20" autocomplete="off"></td>
                        </tr>
                        <tr>
                            <th><label for="newPwCheck">신규 비밀번호 확인</label></th>
                            <td><input type="password" name="newPwCheck" id="newPwCheck" maxlength="20" autocomplete="off"></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <p>영어/숫자/특수문자 중 2가지 이상 조합하여 최소 10자리 이상 20자리 이하, 3가지 이상을 조합할 경우에는 최소 8자리 이상 20자리 이하로 구성</p>
                    <p>PW내 동일 또는 연속의 숫자 또는 키보드 상의 연속한 위치의 문자열 4자리 이상 포함 금지</p>
                    <p>ID 중 연속되는 숫자 또는 문자는 6자리 이상 PW로 사용 금지</p>
                    <p>개인 신상 정보와 4자리 이상 중복 (생년월일,전화번호,핸드폰번호) 금지 </p>
                </div>
                <div class="btn">
                    <span><a href="javascript://" role="btn-save" id="pwChange">확인</a></span>
                    <span><a href="javascript://" onclick="hidePopupLayer(); return false" id="pwChangeCancel">취소</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/userpage/app/mypage/Mypage_edit.js"></script>
</body>
</html>