<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<!-- head.html -->
<head><div th:replace="/adminpage/fragment/head :: head"></div>
    <link rel="stylesheet" href="/adminpage/lib/css/event/evn_edit.css">
    <script src="/adminpage/app/event/evn_edit.js"></script>
</head>
<body>
<form id="uploadFiles" name="uploadFiles" method="post" th:action="@{/pages/admin/evn_edit/upload}" encType="multipart/form-data">
    <div id="wrap">
        <div th:replace="/adminpage/fragment/header :: header"></div>
        <div id="container">
            <div th:replace="/adminpage/fragment/leftmenu :: leftmenu(${code}, ${menuList})"></div>
            <div class="contents">
                <div class="contwrap">
                    <div class="event_wrap">
                        <div class="event">
                            <p class="title">이벤트 수정</p>
                        </div>
                        <div class="event_edit">
                            <form action="">
                                <table>
                                    <colgroup>
                                        <col style="width:85%;">
                                        <col style="width:15%;">
                                    </colgroup>
                                    <tr>
                                        <th class="botbor"><input type="text" class="tit" th:value="${eventApiResponse.evTitle}" name="evTitle" th:id="evTitle">
                                            <input type="hidden" name="evIndex" id="evIndex"class="evIndex" th:value="${eventApiResponse.evIndex}"/>
                                        <th class="right botbor">등록일
                                            <p class="wrdate" th:text="${#strings.substring(eventApiResponse.evRegdate,0,10)}"></p>
                                            <input type="hidden" th:value="${eventApiResponse.evRegdate}" th:id="wrdate" name="wrdate">
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="calandfile" colspan="2">
                                            <div class="calevndate">
                                                이벤트 기간<input type="date" name="start_date" id="start_date" class="evndate" required th:value="${#strings.substring(eventApiResponse.evStartDay,0,10)}"> ~
                                                <input type="date" name="end_date" id="end_date"class="evndate" required th:value="${#strings.substring(eventApiResponse.evEndDay,0,10)}"/>
                                            </div>
                                            <div class="filediv"><input type="text" placeholder="파일첨부" class="filetext">
                                                <div class="file-upload">
                                                    <label for="ex_file" class="ex_file">찾아보기</label>
                                                    <input type="file" id="ex_file" name="ex_file" class="ex_file">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content_txt" colspan="2">
                                            <textarea  name="event_content" class="event_content" th:text="${eventApiResponse.evContent}" th:id="event_content"></textarea>
                                            <p class="bottT">Fly, better fly Jin Air</p>
                                        </td>
                                    </tr>
                                </table>
                                <div class="footer">
                                    <input type="button" value="취소" class="butt canc_btn" onclick="history.back()">
                                    <input type="button" value="수정 완료" class="butt edit_btn">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal_isedit">
                <div id="modal_isedit_content">
                    <div id="modal_isedit_title"><p class="text">이벤트수정을 하시겠습니까?</p></div>
                    <div>
                        <input type="button" class="modal_isedit_btn uncomplete" value="취소">
                        <input type="submit" class="modal_isedit_btn complete" value="수정">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>